examples/server/server-aso-types.json
[
  {
    "id": "19bffc85.2bd893",
    "type": "tab",
    "label": "IIoT OPC UA ASO Types",
    "disabled": false,
    "info": ""
  },
  {
    "id": "773b7762.418f1",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "19bffc85.2bd893",
    "nodeId": "ns=1;s=TestVariables",
    "browsename": "TestVariables",
    "displayname": "Test Variables",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "Folder",
    "x": 370,
    "y": 60,
    "wires": [
      [
        "8e7c437f.469b2"
      ]
    ]
  },
  {
    "id": "b19599ba.4c70e",
    "type": "OPCUA-IIoT-Inject",
    "z": "19bffc85.2bd893",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 170,
    "y": 60,
    "wires": [
      [
        "773b7762.418f1"
      ]
    ]
  },
  {
    "id": "85d2d1f9.4329e8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "19bffc85.2bd893",
    "nodeId": "ns=1;s=TestDateTime",
    "browsename": "TestDateTime",
    "displayname": "Test DateTime",
    "objecttype": "BaseDataVariableType",
    "datatype": "DateTime",
    "value": "",
    "referenceNodeId": "ns=1;s=TestVariables",
    "referencetype": "Organizes",
    "name": "DateTime",
    "x": 380,
    "y": 120,
    "wires": [
      [
        "8e7c437f.469b2"
      ]
    ]
  },
  {
    "id": "f703b655.2abda",
    "type": "OPCUA-IIoT-Inject",
    "z": "19bffc85.2bd893",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 170,
    "y": 120,
    "wires": [
      [
        "85d2d1f9.4329e8"
      ]
    ]
  },
  {
    "id": "a383f209.a050f8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "19bffc85.2bd893",
    "nodeId": "ns=1;s=TestBoolean",
    "browsename": "TestBoolean",
    "displayname": "Test Boolean",
    "objecttype": "BaseDataVariableType",
    "datatype": "Boolean",
    "value": "",
    "referenceNodeId": "ns=1;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Boolean",
    "x": 380,
    "y": 160,
    "wires": [
      [
        "8e7c437f.469b2"
      ]
    ]
  },
  {
    "id": "544f1a65.40d194",
    "type": "OPCUA-IIoT-Inject",
    "z": "19bffc85.2bd893",
    "injectType": "inject",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 150,
    "y": 160,
    "wires": [
      [
        "a383f209.a050f8"
      ]
    ]
  },
  {
    "id": "b6ea75b6.e53148",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "19bffc85.2bd893",
    "nodeId": "ns=1;s=TestDouble",
    "browsename": "TestDouble",
    "displayname": "Test Double",
    "objecttype": "BaseDataVariableType",
    "datatype": "Double",
    "value": "",
    "referenceNodeId": "ns=1;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Double",
    "x": 380,
    "y": 200,
    "wires": [
      [
        "8e7c437f.469b2"
      ]
    ]
  },
  {
    "id": "96efd4a7.81ff8",
    "type": "OPCUA-IIoT-Inject",
    "z": "19bffc85.2bd893",
    "injectType": "inject",
    "payload": "10.2",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 150,
    "y": 200,
    "wires": [
      [
        "b6ea75b6.e53148"
      ]
    ]
  },
  {
    "id": "fe99ed99.86037",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "19bffc85.2bd893",
    "nodeId": "ns=1;s=TestUInt16",
    "browsename": "TestUInt16",
    "displayname": "Test UInt16",
    "objecttype": "BaseDataVariableType",
    "datatype": "UInt16",
    "value": "",
    "referenceNodeId": "ns=1;s=TestVariables",
    "referencetype": "Organizes",
    "name": "UInt16",
    "x": 370,
    "y": 240,
    "wires": [
      [
        "8e7c437f.469b2"
      ]
    ]
  },
  {
    "id": "ae32e8d.64fbf98",
    "type": "OPCUA-IIoT-Inject",
    "z": "19bffc85.2bd893",
    "injectType": "inject",
    "payload": "65000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 150,
    "y": 240,
    "wires": [
      [
        "fe99ed99.86037"
      ]
    ]
  },
  {
    "id": "df396d78.840778",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "19bffc85.2bd893",
    "nodeId": "ns=1;s=TestUInt32",
    "browsename": "TestUInt32",
    "displayname": "Test UInt32",
    "objecttype": "BaseDataVariableType",
    "datatype": "UInt32",
    "value": "",
    "referenceNodeId": "ns=1;s=TestVariables",
    "referencetype": "Organizes",
    "name": "UInt32",
    "x": 370,
    "y": 280,
    "wires": [
      [
        "8e7c437f.469b2"
      ]
    ]
  },
  {
    "id": "8ca10c7b.3778c8",
    "type": "OPCUA-IIoT-Inject",
    "z": "19bffc85.2bd893",
    "injectType": "inject",
    "payload": "125000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 160,
    "y": 280,
    "wires": [
      [
        "df396d78.840778"
      ]
    ]
  },
  {
    "id": "e934b971.becad8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "19bffc85.2bd893",
    "nodeId": "ns=1;s=TestUInt64",
    "browsename": "TestUInt64",
    "displayname": "Test UInt64",
    "objecttype": "BaseDataVariableType",
    "datatype": "UInt64",
    "value": "",
    "referenceNodeId": "ns=1;s=TestVariables",
    "referencetype": "Organizes",
    "name": "UInt64",
    "x": 370,
    "y": 320,
    "wires": [
      [
        "8e7c437f.469b2"
      ]
    ]
  },
  {
    "id": "a28d0be6.0b93f8",
    "type": "OPCUA-IIoT-Inject",
    "z": "19bffc85.2bd893",
    "injectType": "inject",
    "payload": "125000000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 170,
    "y": 320,
    "wires": [
      [
        "e934b971.becad8"
      ]
    ]
  },
  {
    "id": "ff7a20b8.445ec8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "19bffc85.2bd893",
    "nodeId": "ns=1;s=TestString",
    "browsename": "TestString",
    "displayname": "Test String",
    "objecttype": "BaseDataVariableType",
    "datatype": "String",
    "value": "",
    "referenceNodeId": "ns=1;s=TestVariables",
    "referencetype": "Organizes",
    "name": "String",
    "x": 370,
    "y": 360,
    "wires": [
      [
        "8e7c437f.469b2"
      ]
    ]
  },
  {
    "id": "6ae3729c.532924",
    "type": "OPCUA-IIoT-Inject",
    "z": "19bffc85.2bd893",
    "injectType": "inject",
    "payload": "Hello IIoT World!",
    "payloadType": "str",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 190,
    "y": 360,
    "wires": [
      [
        "ff7a20b8.445ec8"
      ]
    ]
  },
  {
    "id": "56584e8f.102968",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "19bffc85.2bd893",
    "nodeId": "ns=1;s=TestInt16",
    "browsename": "TestInt16",
    "displayname": "Test Int16",
    "objecttype": "BaseDataVariableType",
    "datatype": "Int16",
    "value": "",
    "referenceNodeId": "ns=1;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Int16",
    "x": 370,
    "y": 400,
    "wires": [
      [
        "8e7c437f.469b2"
      ]
    ]
  },
  {
    "id": "2f4a7a4b.98d52e",
    "type": "OPCUA-IIoT-Inject",
    "z": "19bffc85.2bd893",
    "injectType": "inject",
    "payload": "-6000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 150,
    "y": 400,
    "wires": [
      [
        "56584e8f.102968"
      ]
    ]
  },
  {
    "id": "b06ee5a6.d1e63",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "19bffc85.2bd893",
    "nodeId": "ns=1;s=TestInt32",
    "browsename": "TestInt32",
    "displayname": "Test Int32",
    "objecttype": "BaseDataVariableType",
    "datatype": "Int32",
    "value": "",
    "referenceNodeId": "ns=1;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Int32",
    "x": 370,
    "y": 440,
    "wires": [
      [
        "8e7c437f.469b2"
      ]
    ]
  },
  {
    "id": "b9119c14.c62558",
    "type": "OPCUA-IIoT-Inject",
    "z": "19bffc85.2bd893",
    "injectType": "inject",
    "payload": "-165000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 160,
    "y": 440,
    "wires": [
      [
        "b06ee5a6.d1e63"
      ]
    ]
  },
  {
    "id": "5644ec24.524104",
    "type": "OPCUA-IIoT-Inject",
    "z": "19bffc85.2bd893",
    "injectType": "inject",
    "payload": "[{\"text\":\"Hallo Welt!\",\"locale\":\"de\"},{\"text\":\"Hello World!\",\"locale\":\"en\"},{\"text\":\"Bonjour Monde!\",\"locale\":\"fr\"}]",
    "payloadType": "json",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "JSON",
    "addressSpaceItems": [],
    "x": 150,
    "y": 480,
    "wires": [
      [
        "a6b5a08c.4f127"
      ]
    ]
  },
  {
    "id": "a6b5a08c.4f127",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "19bffc85.2bd893",
    "nodeId": "ns=1;s=TestLocalizedText",
    "browsename": "TestLocalizedText",
    "displayname": "Test LocalizedText",
    "objecttype": "BaseDataVariableType",
    "datatype": "LocalizedText",
    "value": "",
    "referenceNodeId": "ns=1;s=TestVariables",
    "referencetype": "Organizes",
    "name": "LocalizedText",
    "x": 400,
    "y": 480,
    "wires": [
      [
        "8e7c437f.469b2"
      ]
    ]
  },
  {
    "id": "7cab3d26.19b114",
    "type": "comment",
    "z": "19bffc85.2bd893",
    "name": "information",
    "info": "Clients to browse\n\nUA-Expert: https://www.unified-automation.com/products/development-tools/uaexpert.html\nOPCUA-Commander: https://github.com/node-opcua/opcua-commander\nNode-RED: use the browse examples to start browsing the server via Node-RED\n\nHappy wiring!\nKlaus Landsdorf\nhttp://bianco-royal.de/",
    "x": 740,
    "y": 220,
    "wires": []
  },
  {
    "id": "8e7c437f.469b2",
    "type": "function",
    "z": "19bffc85.2bd893",
    "name": "thru",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 260,
    "wires": [
      [
        "7e11aa85.c72d04"
      ]
    ]
  },
  {
    "id": "7e11aa85.c72d04",
    "type": "OPCUA-IIoT-Server",
    "z": "19bffc85.2bd893",
    "port": "55389",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "",
    "alternateHostname": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "asoDemo": true,
    "allowAnonymous": true,
    "isAuditing": false,
    "serverDiscovery": true,
    "users": [],
    "xmlsets": [],
    "publicCertificateFile": "",
    "privateCertificateFile": "",
    "registerServerMethod": "1",
    "discoveryServerEndpointUrl": "",
    "capabilitiesForMDNS": "",
    "maxNodesPerRead": 1000,
    "maxNodesPerBrowse": 2000,
    "x": 750,
    "y": 260,
    "wires": [
      [
        "d5b289c1.1c506"
      ]
    ]
  },
  {
    "id": "d5b289c1.1c506",
    "type": "debug",
    "z": "19bffc85.2bd893",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 920,
    "y": 260,
    "wires": []
  }
]
