examples/server/server-aso-types.json
[
  {
    "id": "18ed40ef.77477f",
    "type": "tab",
    "label": "IIoT OPC UA ASO Types",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d5451c65.8996d",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "18ed40ef.77477f",
    "nodeId": "ns=5;s=TestVariables",
    "browsename": "TestVariables",
    "displayname": "Test Variables",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "Folder",
    "x": 490,
    "y": 140,
    "wires": [
      [
        "2756a1f9.42257e"
      ]
    ]
  },
  {
    "id": "ee46169c.7a2b98",
    "type": "OPCUA-IIoT-Inject",
    "z": "18ed40ef.77477f",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 290,
    "y": 140,
    "wires": [
      [
        "d5451c65.8996d"
      ]
    ]
  },
  {
    "id": "4c9fe662.2b5158",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "18ed40ef.77477f",
    "nodeId": "ns=5;s=TestDateTime",
    "browsename": "TestDateTime",
    "displayname": "Test DateTime",
    "objecttype": "BaseDataVariableType",
    "datatype": "DateTime",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "DateTime",
    "x": 500,
    "y": 200,
    "wires": [
      [
        "2756a1f9.42257e"
      ]
    ]
  },
  {
    "id": "b014569d.5395e8",
    "type": "OPCUA-IIoT-Inject",
    "z": "18ed40ef.77477f",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 290,
    "y": 200,
    "wires": [
      [
        "4c9fe662.2b5158"
      ]
    ]
  },
  {
    "id": "d75b6d1a.8601e",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "18ed40ef.77477f",
    "nodeId": "ns=5;s=TestBoolean",
    "browsename": "TestBoolean",
    "displayname": "Test Boolean",
    "objecttype": "BaseDataVariableType",
    "datatype": "Boolean",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Boolean",
    "x": 500,
    "y": 240,
    "wires": [
      [
        "2756a1f9.42257e"
      ]
    ]
  },
  {
    "id": "f1b2be93.5e01c",
    "type": "OPCUA-IIoT-Inject",
    "z": "18ed40ef.77477f",
    "injectType": "inject",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 270,
    "y": 240,
    "wires": [
      [
        "d75b6d1a.8601e"
      ]
    ]
  },
  {
    "id": "c6fea8d8.f6ade8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "18ed40ef.77477f",
    "nodeId": "ns=5;s=TestDouble",
    "browsename": "TestDouble",
    "displayname": "Test Double",
    "objecttype": "BaseDataVariableType",
    "datatype": "Double",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Double",
    "x": 500,
    "y": 280,
    "wires": [
      [
        "2756a1f9.42257e"
      ]
    ]
  },
  {
    "id": "4a565af4.a13e94",
    "type": "OPCUA-IIoT-Inject",
    "z": "18ed40ef.77477f",
    "injectType": "inject",
    "payload": "10.2",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 270,
    "y": 280,
    "wires": [
      [
        "c6fea8d8.f6ade8"
      ]
    ]
  },
  {
    "id": "56b29f21.9f98c",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "18ed40ef.77477f",
    "nodeId": "ns=5;s=TestUInt16",
    "browsename": "TestUInt16",
    "displayname": "Test UInt16",
    "objecttype": "BaseDataVariableType",
    "datatype": "UInt16",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "UInt16",
    "x": 490,
    "y": 320,
    "wires": [
      [
        "2756a1f9.42257e"
      ]
    ]
  },
  {
    "id": "169d6dd9.da62f2",
    "type": "OPCUA-IIoT-Inject",
    "z": "18ed40ef.77477f",
    "injectType": "inject",
    "payload": "65000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 270,
    "y": 320,
    "wires": [
      [
        "56b29f21.9f98c"
      ]
    ]
  },
  {
    "id": "7aea7677.4820a8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "18ed40ef.77477f",
    "nodeId": "ns=5;s=TestUInt32",
    "browsename": "TestUInt32",
    "displayname": "Test UInt32",
    "objecttype": "BaseDataVariableType",
    "datatype": "UInt32",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "UInt32",
    "x": 490,
    "y": 360,
    "wires": [
      [
        "2756a1f9.42257e"
      ]
    ]
  },
  {
    "id": "3b757447.2b321c",
    "type": "OPCUA-IIoT-Inject",
    "z": "18ed40ef.77477f",
    "injectType": "inject",
    "payload": "125000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 280,
    "y": 360,
    "wires": [
      [
        "7aea7677.4820a8"
      ]
    ]
  },
  {
    "id": "4ac94ae4.8c1564",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "18ed40ef.77477f",
    "nodeId": "ns=5;s=TestUInt64",
    "browsename": "TestUInt64",
    "displayname": "Test UInt64",
    "objecttype": "BaseDataVariableType",
    "datatype": "UInt64",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "UInt64",
    "x": 490,
    "y": 400,
    "wires": [
      [
        "2756a1f9.42257e"
      ]
    ]
  },
  {
    "id": "e80c4417.fc50d8",
    "type": "OPCUA-IIoT-Inject",
    "z": "18ed40ef.77477f",
    "injectType": "inject",
    "payload": "125000000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 290,
    "y": 400,
    "wires": [
      [
        "4ac94ae4.8c1564"
      ]
    ]
  },
  {
    "id": "b1728634.6162a8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "18ed40ef.77477f",
    "nodeId": "ns=5;s=TestString",
    "browsename": "TestString",
    "displayname": "Test String",
    "objecttype": "BaseDataVariableType",
    "datatype": "String",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "String",
    "x": 490,
    "y": 440,
    "wires": [
      [
        "2756a1f9.42257e"
      ]
    ]
  },
  {
    "id": "fde39ed2.03958",
    "type": "OPCUA-IIoT-Inject",
    "z": "18ed40ef.77477f",
    "injectType": "inject",
    "payload": "Hello IIoT World!",
    "payloadType": "str",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 310,
    "y": 440,
    "wires": [
      [
        "b1728634.6162a8"
      ]
    ]
  },
  {
    "id": "606801e5.0f3c6",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "18ed40ef.77477f",
    "nodeId": "ns=5;s=TestInt16",
    "browsename": "TestInt16",
    "displayname": "Test Int16",
    "objecttype": "BaseDataVariableType",
    "datatype": "Int16",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Int16",
    "x": 490,
    "y": 480,
    "wires": [
      [
        "2756a1f9.42257e"
      ]
    ]
  },
  {
    "id": "c511773a.d44968",
    "type": "OPCUA-IIoT-Inject",
    "z": "18ed40ef.77477f",
    "injectType": "inject",
    "payload": "-6000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 270,
    "y": 480,
    "wires": [
      [
        "606801e5.0f3c6"
      ]
    ]
  },
  {
    "id": "1ff19c75.97db14",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "18ed40ef.77477f",
    "nodeId": "ns=5;s=TestInt32",
    "browsename": "TestInt32",
    "displayname": "Test Int32",
    "objecttype": "BaseDataVariableType",
    "datatype": "Int32",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Int32",
    "x": 490,
    "y": 520,
    "wires": [
      [
        "2756a1f9.42257e"
      ]
    ]
  },
  {
    "id": "18648d7f.8b3563",
    "type": "OPCUA-IIoT-Inject",
    "z": "18ed40ef.77477f",
    "injectType": "inject",
    "payload": "-165000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 280,
    "y": 520,
    "wires": [
      [
        "1ff19c75.97db14"
      ]
    ]
  },
  {
    "id": "2a6a056f.79f89a",
    "type": "OPCUA-IIoT-Inject",
    "z": "18ed40ef.77477f",
    "injectType": "inject",
    "payload": "[{\"text\":\"Hallo Welt!\",\"locale\":\"de\"},{\"text\":\"Hello World!\",\"locale\":\"en\"},{\"text\":\"Bonjour Monde!\",\"locale\":\"fr\"}]",
    "payloadType": "json",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "JSON",
    "addressSpaceItems": [],
    "x": 270,
    "y": 560,
    "wires": [
      [
        "b212b03d.6dc0b"
      ]
    ]
  },
  {
    "id": "b212b03d.6dc0b",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "18ed40ef.77477f",
    "nodeId": "ns=5;s=TestLocalizedText",
    "browsename": "TestLocalizedText",
    "displayname": "Test LocalizedText",
    "objecttype": "BaseDataVariableType",
    "datatype": "LocalizedText",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "LocalizedText",
    "x": 520,
    "y": 560,
    "wires": [
      [
        "2756a1f9.42257e"
      ]
    ]
  },
  {
    "id": "e1a30242.931e6",
    "type": "comment",
    "z": "18ed40ef.77477f",
    "name": "information",
    "info": "Clients to browse\n\nUA-Expert: https://www.unified-automation.com/products/development-tools/uaexpert.html\nOPCUA-Commander: https://github.com/node-opcua/opcua-commander\nNode-RED: use the browse examples to start browsing the server via Node-RED\n\nHappy wiring!\nKlaus Landsdorf\nhttp://bianco-royal.de/",
    "x": 860,
    "y": 300,
    "wires": []
  },
  {
    "id": "2756a1f9.42257e",
    "type": "function",
    "z": "18ed40ef.77477f",
    "name": "thru",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 710,
    "y": 340,
    "wires": [
      [
        "123c5c2a.2fa6e4"
      ]
    ]
  },
  {
    "id": "123c5c2a.2fa6e4",
    "type": "OPCUA-IIoT-Server",
    "z": "18ed40ef.77477f",
    "port": "55389",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "",
    "alternateHostname": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "asoDemo": true,
    "allowAnonymous": true,
    "isAuditing": false,
    "serverDiscovery": true,
    "users": [],
    "xmlsets": [],
    "publicCertificateFile": "",
    "privateCertificateFile": "",
    "maxNodesPerRead": 1000,
    "maxNodesPerBrowse": 2000,
    "x": 860,
    "y": 340,
    "wires": [
      []
    ]
  }
]
