examples/all-in-one.json
[
  {
    "id": "6550ef67.5a6f38",
    "type": "tab",
    "label": "OPC UA IIoT Tests",
    "disabled": false,
    "info": ""
  },
  {
    "id": "a3a3a6d0.6af408",
    "type": "OPCUA-IIoT-Server-Command",
    "z": "6550ef67.5a6f38",
    "commandtype": "restart",
    "nodeId": "",
    "name": "restart",
    "x": 410,
    "y": 140,
    "wires": [
      [
        "fb62ae01.a5b7a"
      ]
    ]
  },
  {
    "id": "9d33d296.fcade",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "6550ef67.5a6f38",
    "nodeId": "ns=5;s=TestFolder",
    "browsename": "TestFolder",
    "displayname": "Test Folder",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "",
    "x": 410,
    "y": 100,
    "wires": [
      [
        "fb62ae01.a5b7a"
      ]
    ]
  },
  {
    "id": "50a3a711.d972a",
    "type": "OPCUA-IIoT-Server-Command",
    "z": "6550ef67.5a6f38",
    "commandtype": "deleteNode",
    "nodeId": "ns=5;s=TestFolder",
    "name": "Delete",
    "x": 410,
    "y": 180,
    "wires": [
      [
        "fb62ae01.a5b7a"
      ]
    ]
  },
  {
    "id": "7c685273.d3b1d4",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 770,
    "y": 140,
    "wires": []
  },
  {
    "id": "a0832de6.dd9a4",
    "type": "OPCUA-IIoT-Inject",
    "z": "6550ef67.5a6f38",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 210,
    "y": 100,
    "wires": [
      [
        "9d33d296.fcade"
      ]
    ]
  },
  {
    "id": "aa18aeaf.53c308",
    "type": "OPCUA-IIoT-Inject",
    "z": "6550ef67.5a6f38",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": 15,
    "name": "Server Info",
    "addressSpaceItems": [
      {
        "name": "ServerStatus",
        "nodeId": "ns=0;i=2256",
        "datatypeName": ""
      },
      {
        "name": "ServerDiagnostic",
        "nodeId": "ns=0;i=2274",
        "datatypeName": ""
      }
    ],
    "x": 190,
    "y": 900,
    "wires": [
      [
        "1c5a4168.04efd7"
      ]
    ]
  },
  {
    "id": "3d4c3df4.9dfc9a",
    "type": "OPCUA-IIoT-Read",
    "z": "6550ef67.5a6f38",
    "attributeId": "0",
    "maxAge": 1,
    "depth": 1,
    "connector": "5523865f.a4b488",
    "name": "Read Structures",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 540,
    "y": 840,
    "wires": [
      [
        "27e624c5.37fe3c"
      ]
    ]
  },
  {
    "id": "27e624c5.37fe3c",
    "type": "OPCUA-IIoT-Response",
    "z": "6550ef67.5a6f38",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 720,
    "y": 840,
    "wires": [
      [
        "e10c37d1.2e98a"
      ]
    ]
  },
  {
    "id": "e10c37d1.2e98a",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 870,
    "y": 840,
    "wires": []
  },
  {
    "id": "1c5a4168.04efd7",
    "type": "OPCUA-IIoT-Browser",
    "z": "6550ef67.5a6f38",
    "connector": "5523865f.a4b488",
    "nodeId": "",
    "name": "",
    "justValue": false,
    "sendNodesToRead": false,
    "sendNodesToListener": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 340,
    "y": 900,
    "wires": [
      [
        "3d4c3df4.9dfc9a",
        "930bdbc9.df9a88",
        "11e51d3c.98fcf3",
        "d66dd5c5.423c5"
      ]
    ]
  },
  {
    "id": "930bdbc9.df9a88",
    "type": "OPCUA-IIoT-Read",
    "z": "6550ef67.5a6f38",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "5523865f.a4b488",
    "name": "Read Structures",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 540,
    "y": 900,
    "wires": [
      [
        "1f785488.5fc123"
      ]
    ]
  },
  {
    "id": "1f785488.5fc123",
    "type": "OPCUA-IIoT-Response",
    "z": "6550ef67.5a6f38",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 720,
    "y": 900,
    "wires": [
      [
        "ec0cda64.6e5c78"
      ]
    ]
  },
  {
    "id": "ec0cda64.6e5c78",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 870,
    "y": 900,
    "wires": []
  },
  {
    "id": "11e51d3c.98fcf3",
    "type": "OPCUA-IIoT-Read",
    "z": "6550ef67.5a6f38",
    "attributeId": "130",
    "maxAge": 1,
    "depth": 1,
    "connector": "5523865f.a4b488",
    "name": "Read Structures",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 540,
    "y": 960,
    "wires": [
      [
        "edd8ef6.0c4359"
      ]
    ]
  },
  {
    "id": "edd8ef6.0c4359",
    "type": "OPCUA-IIoT-Response",
    "z": "6550ef67.5a6f38",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 720,
    "y": 960,
    "wires": [
      [
        "5fc5f344.81c204"
      ]
    ]
  },
  {
    "id": "5fc5f344.81c204",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 870,
    "y": 960,
    "wires": []
  },
  {
    "id": "d66dd5c5.423c5",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 510,
    "y": 1020,
    "wires": []
  },
  {
    "id": "9fb1753a.25a848",
    "type": "OPCUA-IIoT-Inject",
    "z": "6550ef67.5a6f38",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 200,
    "y": 140,
    "wires": [
      [
        "a3a3a6d0.6af408"
      ]
    ]
  },
  {
    "id": "ff349e27.94f918",
    "type": "OPCUA-IIoT-Inject",
    "z": "6550ef67.5a6f38",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 200,
    "y": 180,
    "wires": [
      [
        "50a3a711.d972a"
      ]
    ]
  },
  {
    "id": "cb1cc886.b417c8",
    "type": "OPCUA-IIoT-Event",
    "z": "6550ef67.5a6f38",
    "eventType": "BaseEventType",
    "eventTypeLabel": "BaseEventType (i=2041)",
    "queueSize": "1000",
    "usingListener": true,
    "name": "Base Events",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 410,
    "y": 300,
    "wires": [
      [
        "ef9f4578.aa128"
      ]
    ]
  },
  {
    "id": "3954c8d7.72da88",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 720,
    "y": 300,
    "wires": []
  },
  {
    "id": "2ccf35a9.bd7782",
    "type": "OPCUA-IIoT-Inject",
    "z": "6550ef67.5a6f38",
    "injectType": "listen",
    "payload": "200",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "listen with 200 ms",
    "addressSpaceItems": [
      {
        "name": "Tanks",
        "nodeId": "ns=1;i=1000",
        "datatypeName": ""
      },
      {
        "name": "Server",
        "nodeId": "ns=0;i=2253",
        "datatypeName": ""
      }
    ],
    "x": 220,
    "y": 300,
    "wires": [
      [
        "cb1cc886.b417c8"
      ]
    ]
  },
  {
    "id": "ef9f4578.aa128",
    "type": "OPCUA-IIoT-Listener",
    "z": "6550ef67.5a6f38",
    "connector": "5523865f.a4b488",
    "action": "events",
    "queueSize": "100",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 570,
    "y": 300,
    "wires": [
      [
        "3954c8d7.72da88"
      ]
    ]
  },
  {
    "id": "8d43b805.a29ac8",
    "type": "OPCUA-IIoT-Listener",
    "z": "6550ef67.5a6f38",
    "connector": "5523865f.a4b488",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 520,
    "y": 620,
    "wires": [
      [
        "d16a302d.4c3d3",
        "750e34c9.ca36ec",
        "f4dac20e.3eeab",
        "892acb2e.0b3258",
        "5ac94073.7ba048",
        "686c19a4.caae88"
      ]
    ]
  },
  {
    "id": "4000546.9701a2c",
    "type": "OPCUA-IIoT-Inject",
    "z": "6550ef67.5a6f38",
    "injectType": "listen",
    "payload": "{ \"interval\": 500, \"queueSize\": 10 }",
    "payloadType": "json",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Start Abo",
    "addressSpaceItems": [
      {
        "name": "Counter",
        "nodeId": "ns=4;s=Counter",
        "datatypeName": ""
      },
      {
        "name": "FullCounter",
        "nodeId": "ns=4;s=FullCounter",
        "datatypeName": ""
      }
    ],
    "x": 180,
    "y": 620,
    "wires": [
      [
        "8d43b805.a29ac8"
      ]
    ]
  },
  {
    "id": "750e34c9.ca36ec",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 740,
    "wires": []
  },
  {
    "id": "d16a302d.4c3d3",
    "type": "OPCUA-IIoT-Response",
    "z": "6550ef67.5a6f38",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 720,
    "y": 440,
    "wires": [
      [
        "3b46a787.4d2488"
      ]
    ]
  },
  {
    "id": "3b46a787.4d2488",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 440,
    "wires": []
  },
  {
    "id": "41e700db.f4a5e8",
    "type": "OPCUA-IIoT-Node",
    "z": "6550ef67.5a6f38",
    "nodeId": "ns=0;i=2277",
    "datatype": "NodeId",
    "value": "",
    "usingListener": true,
    "name": "",
    "x": 330,
    "y": 440,
    "wires": [
      [
        "8d43b805.a29ac8"
      ]
    ]
  },
  {
    "id": "c32c282f.59c0a8",
    "type": "OPCUA-IIoT-Node",
    "z": "6550ef67.5a6f38",
    "nodeId": "ns=4;s=TestReadWrite",
    "datatype": "NodeId",
    "value": "",
    "usingListener": true,
    "name": "",
    "x": 330,
    "y": 520,
    "wires": [
      [
        "8d43b805.a29ac8"
      ]
    ]
  },
  {
    "id": "ed031d6.7bcf06",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 620,
    "wires": []
  },
  {
    "id": "549c14c0.f49b24",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 500,
    "wires": []
  },
  {
    "id": "301c63ac.269c64",
    "type": "inject",
    "z": "6550ef67.5a6f38",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 440,
    "wires": [
      [
        "41e700db.f4a5e8"
      ]
    ]
  },
  {
    "id": "bcdb7767.2d6ca",
    "type": "inject",
    "z": "6550ef67.5a6f38",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 520,
    "wires": [
      [
        "c32c282f.59c0a8"
      ]
    ]
  },
  {
    "id": "e1ac372d.5d28f",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 560,
    "wires": []
  },
  {
    "id": "f4dac20e.3eeab",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "6550ef67.5a6f38",
    "nodeId": "ns=4;s=FullCounter",
    "datatype": "UInt32",
    "fixedValue": false,
    "fixPoint": 2,
    "withPrecision": false,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "",
    "name": "",
    "showErrors": false,
    "x": 750,
    "y": 620,
    "wires": [
      [
        "ed031d6.7bcf06"
      ]
    ]
  },
  {
    "id": "892acb2e.0b3258",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "6550ef67.5a6f38",
    "nodeId": "ns=0;i=2277",
    "datatype": "UInt32",
    "fixedValue": false,
    "fixPoint": 2,
    "withPrecision": false,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "",
    "name": "",
    "showErrors": false,
    "x": 730,
    "y": 560,
    "wires": [
      [
        "e1ac372d.5d28f"
      ]
    ]
  },
  {
    "id": "5ac94073.7ba048",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "6550ef67.5a6f38",
    "nodeId": "ns=4;s=TestReadWrite",
    "datatype": "Double",
    "fixedValue": true,
    "fixPoint": 2,
    "withPrecision": false,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "",
    "name": "",
    "showErrors": false,
    "x": 760,
    "y": 500,
    "wires": [
      [
        "549c14c0.f49b24"
      ]
    ]
  },
  {
    "id": "686c19a4.caae88",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "6550ef67.5a6f38",
    "nodeId": "ns=4;s=Counter",
    "datatype": "UInt16",
    "fixedValue": false,
    "fixPoint": 2,
    "withPrecision": false,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "",
    "name": "",
    "showErrors": false,
    "x": 740,
    "y": 680,
    "wires": [
      [
        "c75966ba.5df35"
      ]
    ]
  },
  {
    "id": "c75966ba.5df35",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 680,
    "wires": []
  },
  {
    "id": "ac4c363b.1c8fc",
    "type": "OPCUA-IIoT-Write",
    "z": "6550ef67.5a6f38",
    "connector": "5523865f.a4b488",
    "name": "",
    "showStatusActivities": false,
    "showErrors": true,
    "x": 510,
    "y": 1460,
    "wires": [
      [
        "d63d16.fdaae2e8",
        "3a02981a.e353a8",
        "8f71d7f.2b61528",
        "6fbf7ab8.95b53c"
      ]
    ]
  },
  {
    "id": "ef83d1d2.96e0b",
    "type": "OPCUA-IIoT-Inject",
    "z": "6550ef67.5a6f38",
    "injectType": "write",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "1",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "TestReadWrite",
    "addressSpaceItems": [
      {
        "name": "TestReadWrite",
        "nodeId": "ns=4;s=TestReadWrite",
        "datatypeName": "Double"
      }
    ],
    "x": 190,
    "y": 1460,
    "wires": [
      [
        "31f767e5.24c36"
      ]
    ]
  },
  {
    "id": "8f71d7f.2b61528",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 710,
    "y": 1520,
    "wires": []
  },
  {
    "id": "d63d16.fdaae2e8",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 690,
    "y": 1560,
    "wires": []
  },
  {
    "id": "37b64441.593c5c",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 510,
    "y": 1520,
    "wires": []
  },
  {
    "id": "3a02981a.e353a8",
    "type": "OPCUA-IIoT-Response",
    "z": "6550ef67.5a6f38",
    "name": "",
    "x": 700,
    "y": 1460,
    "wires": [
      [
        "60e09bca.fa74a4"
      ]
    ]
  },
  {
    "id": "60e09bca.fa74a4",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 870,
    "y": 1460,
    "wires": []
  },
  {
    "id": "31f767e5.24c36",
    "type": "data-generator",
    "z": "6550ef67.5a6f38",
    "name": "dGen",
    "field": "valuesToWrite",
    "fieldType": "msg",
    "syntax": "json",
    "template": "[{{int -10000.44 12000.66}}]",
    "x": 370,
    "y": 1460,
    "wires": [
      [
        "ac4c363b.1c8fc",
        "37b64441.593c5c"
      ]
    ]
  },
  {
    "id": "51d10dfa.6c5a04",
    "type": "comment",
    "z": "6550ef67.5a6f38",
    "name": "install node-red-node-data-generator",
    "info": "",
    "x": 370,
    "y": 1410,
    "wires": []
  },
  {
    "id": "6fbf7ab8.95b53c",
    "type": "OPCUA-IIoT-Read",
    "z": "6550ef67.5a6f38",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "5523865f.a4b488",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 690,
    "y": 1400,
    "wires": [
      [
        "f37e625b.0ffa48"
      ]
    ]
  },
  {
    "id": "4183fbef.023dcc",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 1030,
    "y": 1400,
    "wires": []
  },
  {
    "id": "f37e625b.0ffa48",
    "type": "OPCUA-IIoT-Response",
    "z": "6550ef67.5a6f38",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 880,
    "y": 1400,
    "wires": [
      [
        "4183fbef.023dcc"
      ]
    ]
  },
  {
    "id": "cb76ec04.c65908",
    "type": "comment",
    "z": "6550ef67.5a6f38",
    "name": "event listening",
    "info": "",
    "x": 890,
    "y": 300,
    "wires": []
  },
  {
    "id": "9bb6833.4e6708",
    "type": "comment",
    "z": "6550ef67.5a6f38",
    "name": "server",
    "info": "",
    "x": 870,
    "y": 200,
    "wires": []
  },
  {
    "id": "3af50f09.c84a48",
    "type": "OPCUA-IIoT-Browser",
    "z": "6550ef67.5a6f38",
    "connector": "5523865f.a4b488",
    "nodeId": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 280,
    "y": 1720,
    "wires": [
      [
        "9a81e029.ff32b8"
      ]
    ]
  },
  {
    "id": "4933d10a.68af4",
    "type": "OPCUA-IIoT-Inject",
    "z": "6550ef67.5a6f38",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Root",
    "addressSpaceItems": [
      {
        "name": "Tanks",
        "nodeId": "ns=1;i=1000",
        "datatypeName": ""
      }
    ],
    "x": 130,
    "y": 1720,
    "wires": [
      [
        "3af50f09.c84a48"
      ]
    ]
  },
  {
    "id": "9a81e029.ff32b8",
    "type": "OPCUA-IIoT-Response",
    "z": "6550ef67.5a6f38",
    "name": "",
    "x": 440,
    "y": 1720,
    "wires": [
      [
        "d623b545.ce88d"
      ]
    ]
  },
  {
    "id": "d623b545.ce88d",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 610,
    "y": 1720,
    "wires": []
  },
  {
    "id": "55a6a21f.a1a054",
    "type": "comment",
    "z": "6550ef67.5a6f38",
    "name": "monitoring",
    "info": "",
    "x": 520,
    "y": 480,
    "wires": []
  },
  {
    "id": "29ba744f.2e3d54",
    "type": "comment",
    "z": "6550ef67.5a6f38",
    "name": "browse and read",
    "info": "",
    "x": 320,
    "y": 840,
    "wires": []
  },
  {
    "id": "c37574f8.adca5",
    "type": "comment",
    "z": "6550ef67.5a6f38",
    "name": "write and read",
    "info": "",
    "x": 310,
    "y": 1520,
    "wires": []
  },
  {
    "id": "ef1e10a2.f17c8",
    "type": "comment",
    "z": "6550ef67.5a6f38",
    "name": "browse",
    "info": "",
    "x": 110,
    "y": 1640,
    "wires": []
  },
  {
    "id": "aea66a39.adb75",
    "type": "OPCUA-IIoT-Read",
    "z": "6550ef67.5a6f38",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "5523865f.a4b488",
    "name": "",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 370,
    "y": 1160,
    "wires": [
      [
        "4463ea6d.41520c"
      ]
    ]
  },
  {
    "id": "cea6a9dd.b6128",
    "type": "OPCUA-IIoT-Inject",
    "z": "6550ef67.5a6f38",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "TestReadWrite",
    "addressSpaceItems": [
      {
        "name": "TestReadWrite",
        "nodeId": "ns=4;s=TestReadWrite",
        "datatypeName": ""
      }
    ],
    "x": 190,
    "y": 1160,
    "wires": [
      [
        "aea66a39.adb75"
      ]
    ]
  },
  {
    "id": "4463ea6d.41520c",
    "type": "OPCUA-IIoT-Response",
    "z": "6550ef67.5a6f38",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 600,
    "y": 1160,
    "wires": [
      [
        "4fb9e7d.2e80c98"
      ]
    ]
  },
  {
    "id": "4fb9e7d.2e80c98",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 750,
    "y": 1160,
    "wires": []
  },
  {
    "id": "96c40344.b2c25",
    "type": "OPCUA-IIoT-Inject",
    "z": "6550ef67.5a6f38",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "TestReadWrite",
    "addressSpaceItems": [
      {
        "name": "TestReadWrite",
        "nodeId": "ns=4;s=TestReadWrite",
        "datatypeName": ""
      }
    ],
    "x": 180,
    "y": 1240,
    "wires": [
      [
        "d22c94a7.29033"
      ]
    ]
  },
  {
    "id": "d22c94a7.29033",
    "type": "OPCUA-IIoT-Read",
    "z": "6550ef67.5a6f38",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "5523865f.a4b488",
    "name": "Read just value",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 400,
    "y": 1240,
    "wires": [
      [
        "6f4453ce.f74db4"
      ]
    ]
  },
  {
    "id": "6f4453ce.f74db4",
    "type": "OPCUA-IIoT-Response",
    "z": "6550ef67.5a6f38",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 600,
    "y": 1240,
    "wires": [
      [
        "496ab2d6.db43fc"
      ]
    ]
  },
  {
    "id": "496ab2d6.db43fc",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 750,
    "y": 1240,
    "wires": []
  },
  {
    "id": "613c1f72.3e9ef",
    "type": "comment",
    "z": "6550ef67.5a6f38",
    "name": "read",
    "info": "",
    "x": 810,
    "y": 1060,
    "wires": []
  },
  {
    "id": "ed72ac95.ac108",
    "type": "OPCUA-IIoT-Browser",
    "z": "6550ef67.5a6f38",
    "connector": "5523865f.a4b488",
    "nodeId": "ns=4;i=1234",
    "name": "Bianco Royal",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 290,
    "y": 1800,
    "wires": [
      [
        "33ed163e.cea652"
      ]
    ]
  },
  {
    "id": "d5327af0.ba01b",
    "type": "OPCUA-IIoT-Inject",
    "z": "6550ef67.5a6f38",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "Root",
    "addressSpaceItems": [],
    "x": 130,
    "y": 1800,
    "wires": [
      [
        "ed72ac95.ac108"
      ]
    ]
  },
  {
    "id": "33ed163e.cea652",
    "type": "OPCUA-IIoT-Response",
    "z": "6550ef67.5a6f38",
    "name": "",
    "x": 440,
    "y": 1800,
    "wires": [
      [
        "db4a5357.d3db38"
      ]
    ]
  },
  {
    "id": "db4a5357.d3db38",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 610,
    "y": 1800,
    "wires": []
  },
  {
    "id": "c7d69a68.c41ba8",
    "type": "OPCUA-IIoT-Method-Caller",
    "z": "6550ef67.5a6f38",
    "connector": "5523865f.a4b488",
    "objectId": "ns=4;i=1234",
    "methodId": "ns=4;i=12345",
    "methodType": "basic",
    "value": "",
    "justValue": true,
    "name": "",
    "showStatusActivities": false,
    "showErrors": true,
    "inputArguments": [
      {
        "name": "barks",
        "dataType": "UInt32",
        "value": "3"
      },
      {
        "name": "volume",
        "dataType": "UInt32",
        "value": "6"
      }
    ],
    "x": 300,
    "y": 1900,
    "wires": [
      [
        "52278090.818658",
        "7511ef1b.fe0ef8"
      ]
    ]
  },
  {
    "id": "52278090.818658",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 470,
    "y": 1860,
    "wires": []
  },
  {
    "id": "7511ef1b.fe0ef8",
    "type": "OPCUA-IIoT-Response",
    "z": "6550ef67.5a6f38",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 480,
    "y": 1900,
    "wires": [
      [
        "ea94cc65.931a7"
      ]
    ]
  },
  {
    "id": "ea94cc65.931a7",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 630,
    "y": 1900,
    "wires": []
  },
  {
    "id": "8a202be.6efb158",
    "type": "OPCUA-IIoT-Inject",
    "z": "6550ef67.5a6f38",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 140,
    "y": 1900,
    "wires": [
      [
        "c7d69a68.c41ba8"
      ]
    ]
  },
  {
    "id": "89d3234.efd2e6",
    "type": "inject",
    "z": "6550ef67.5a6f38",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 2000,
    "wires": [
      [
        "9d43e04b.b30978"
      ]
    ]
  },
  {
    "id": "9d43e04b.b30978",
    "type": "function",
    "z": "6550ef67.5a6f38",
    "name": "call",
    "func": "msg.payload = {\n    objectId: 'ns=4;i=1234',\n    methodId: 'ns=4;i=12345',\n    inputArguments: [\n        {name: 'barks', dataType:'UInt32', value:'6'},\n        {name: 'volume', dataType:'UInt32', value:'12'}\n    ],\n    methodType: 'basic'\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 270,
    "y": 2000,
    "wires": [
      [
        "bab270f9.087ae"
      ]
    ]
  },
  {
    "id": "bab270f9.087ae",
    "type": "OPCUA-IIoT-Method-Caller",
    "z": "6550ef67.5a6f38",
    "connector": "5523865f.a4b488",
    "objectId": "ns=4;i=1234",
    "methodId": "ns=4;i=12345",
    "methodType": "basic",
    "value": "",
    "justValue": false,
    "name": "",
    "showStatusActivities": false,
    "showErrors": true,
    "inputArguments": [
      {
        "name": "barks",
        "dataType": "UInt32",
        "value": "3"
      },
      {
        "name": "volume",
        "dataType": "UInt32",
        "value": "6"
      }
    ],
    "x": 420,
    "y": 2000,
    "wires": [
      [
        "50dcea5.16c2414"
      ]
    ]
  },
  {
    "id": "50dcea5.16c2414",
    "type": "OPCUA-IIoT-Response",
    "z": "6550ef67.5a6f38",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 580,
    "y": 2000,
    "wires": [
      [
        "d3f017fd.c47a6"
      ]
    ]
  },
  {
    "id": "d3f017fd.c47a6",
    "type": "debug",
    "z": "6550ef67.5a6f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 730,
    "y": 2000,
    "wires": []
  },
  {
    "id": "86ced44b.295d78",
    "type": "OPCUA-IIoT-Discovery",
    "z": "6550ef67.5a6f38",
    "name": "",
    "x": 600,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "fb62ae01.a5b7a",
    "type": "OPCUA-IIoT-Server",
    "z": "6550ef67.5a6f38",
    "port": "55388",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "",
    "alternateHostname": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "asoDemo": true,
    "allowAnonymous": true,
    "isAuditing": false,
    "serverDiscovery": true,
    "users": [
      {
        "name": "test",
        "password": "test"
      },
      {
        "name": "peter",
        "password": "peter"
      }
    ],
    "xmlsets": [],
    "publicCertificateFile": "",
    "privateCertificateFile": "",
    "maxNodesPerRead": 1000,
    "maxNodesPerBrowse": 2000,
    "x": 610,
    "y": 140,
    "wires": [
      [
        "7c685273.d3b1d4"
      ]
    ]
  },
  {
    "id": "5523865f.a4b488",
    "type": "OPCUA-IIoT-Connector",
    "z": "6550ef67.5a6f38",
    "discoveryUrl": "opc.tcp://localhost:55388/",
    "endpoint": "opc.tcp://innoreactor.local:55388/UA/NodeREDIIoTServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "Basic256",
    "securityMode": "SIGNANDENCRYPT",
    "name": "LOCAL DEMO SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false
  }
]
