examples/all-in-one.json
[
  {
    "id": "7bf1b5a6.0f9d1c",
    "type": "tab",
    "label": "OPC UA IIoT Tests",
    "disabled": false,
    "info": ""
  },
  {
    "id": "3f90636d.b7edf4",
    "type": "OPCUA-IIoT-Server-Command",
    "z": "7bf1b5a6.0f9d1c",
    "commandtype": "restart",
    "nodeId": "",
    "name": "restart",
    "x": 410,
    "y": 140,
    "wires": [
      [
        "5f1154c2.69a134"
      ]
    ]
  },
  {
    "id": "78fbac5a.aaf11c",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7bf1b5a6.0f9d1c",
    "nodeId": "ns=5;s=TestFolder",
    "browsename": "TestFolder",
    "displayname": "Test Folder",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "",
    "x": 410,
    "y": 100,
    "wires": [
      [
        "5f1154c2.69a134"
      ]
    ]
  },
  {
    "id": "85160b5c.eb628",
    "type": "OPCUA-IIoT-Server-Command",
    "z": "7bf1b5a6.0f9d1c",
    "commandtype": "deleteNode",
    "nodeId": "ns=5;s=TestFolder",
    "name": "Delete",
    "x": 410,
    "y": 180,
    "wires": [
      [
        "5f1154c2.69a134"
      ]
    ]
  },
  {
    "id": "2aa1f0e4.0b7248",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 770,
    "y": 140,
    "wires": []
  },
  {
    "id": "16d104a9.3450fb",
    "type": "OPCUA-IIoT-Inject",
    "z": "7bf1b5a6.0f9d1c",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 210,
    "y": 100,
    "wires": [
      [
        "78fbac5a.aaf11c"
      ]
    ]
  },
  {
    "id": "ecce4c99.f334e8",
    "type": "OPCUA-IIoT-Inject",
    "z": "7bf1b5a6.0f9d1c",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": 15,
    "name": "Server Info",
    "addressSpaceItems": [
      {
        "name": "ServerStatus",
        "nodeId": "ns=0;i=2256",
        "datatypeName": ""
      },
      {
        "name": "ServerDiagnostic",
        "nodeId": "ns=0;i=2274",
        "datatypeName": ""
      }
    ],
    "x": 190,
    "y": 900,
    "wires": [
      [
        "e4a95876.171ce"
      ]
    ]
  },
  {
    "id": "10587d47.caec2b",
    "type": "OPCUA-IIoT-Read",
    "z": "7bf1b5a6.0f9d1c",
    "attributeId": "0",
    "maxAge": 1,
    "depth": 1,
    "connector": "60ab20b8.98b08",
    "name": "Read Structures",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 540,
    "y": 840,
    "wires": [
      [
        "9a1f2f73.22929"
      ]
    ]
  },
  {
    "id": "9a1f2f73.22929",
    "type": "OPCUA-IIoT-Response",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 720,
    "y": 840,
    "wires": [
      [
        "b4ace22d.426bc"
      ]
    ]
  },
  {
    "id": "b4ace22d.426bc",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 870,
    "y": 840,
    "wires": []
  },
  {
    "id": "e4a95876.171ce",
    "type": "OPCUA-IIoT-Browser",
    "z": "7bf1b5a6.0f9d1c",
    "connector": "60ab20b8.98b08",
    "nodeId": "",
    "name": "",
    "browseAll": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 340,
    "y": 900,
    "wires": [
      [
        "10587d47.caec2b",
        "e577ca95.0816e",
        "8b7362f4.bfb428",
        "ae77db7b.bc36b"
      ]
    ]
  },
  {
    "id": "e577ca95.0816e",
    "type": "OPCUA-IIoT-Read",
    "z": "7bf1b5a6.0f9d1c",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "60ab20b8.98b08",
    "name": "Read Structures",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 540,
    "y": 900,
    "wires": [
      [
        "308874d3.164cac"
      ]
    ]
  },
  {
    "id": "308874d3.164cac",
    "type": "OPCUA-IIoT-Response",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 720,
    "y": 900,
    "wires": [
      [
        "1736d046.d11e48"
      ]
    ]
  },
  {
    "id": "1736d046.d11e48",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 870,
    "y": 900,
    "wires": []
  },
  {
    "id": "8b7362f4.bfb428",
    "type": "OPCUA-IIoT-Read",
    "z": "7bf1b5a6.0f9d1c",
    "attributeId": "130",
    "maxAge": 1,
    "depth": 1,
    "connector": "60ab20b8.98b08",
    "name": "Read Structures",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 540,
    "y": 960,
    "wires": [
      [
        "5e3d53ec.f95a34"
      ]
    ]
  },
  {
    "id": "5e3d53ec.f95a34",
    "type": "OPCUA-IIoT-Response",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 720,
    "y": 960,
    "wires": [
      [
        "145735d1.5832ca"
      ]
    ]
  },
  {
    "id": "145735d1.5832ca",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 870,
    "y": 960,
    "wires": []
  },
  {
    "id": "ae77db7b.bc36b",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 510,
    "y": 1020,
    "wires": []
  },
  {
    "id": "5f1154c2.69a134",
    "type": "OPCUA-IIoT-Server",
    "z": "7bf1b5a6.0f9d1c",
    "port": "55388",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "",
    "alternateHostname": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "asoDemo": true,
    "allowAnonymous": true,
    "isAuditing": false,
    "serverDiscovery": true,
    "users": [],
    "xmlsets": [],
    "publicCertificateFile": "",
    "privateCertificateFile": "",
    "x": 610,
    "y": 140,
    "wires": [
      [
        "2aa1f0e4.0b7248"
      ]
    ]
  },
  {
    "id": "eea57d30.e3d3f8",
    "type": "OPCUA-IIoT-Inject",
    "z": "7bf1b5a6.0f9d1c",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 200,
    "y": 140,
    "wires": [
      [
        "3f90636d.b7edf4"
      ]
    ]
  },
  {
    "id": "3b8da441.6b7d24",
    "type": "OPCUA-IIoT-Inject",
    "z": "7bf1b5a6.0f9d1c",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 200,
    "y": 180,
    "wires": [
      [
        "85160b5c.eb628"
      ]
    ]
  },
  {
    "id": "24e6ac2e.fe1904",
    "type": "OPCUA-IIoT-Event",
    "z": "7bf1b5a6.0f9d1c",
    "eventType": "BaseEventType",
    "eventTypeLabel": "BaseEventType (i=2041)",
    "queueSize": "1000",
    "usingListener": true,
    "name": "Base Events",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 410,
    "y": 300,
    "wires": [
      [
        "ee85d45d.275ac8"
      ]
    ]
  },
  {
    "id": "bec7659a.eed878",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 720,
    "y": 300,
    "wires": []
  },
  {
    "id": "7f811201.4f14e4",
    "type": "OPCUA-IIoT-Inject",
    "z": "7bf1b5a6.0f9d1c",
    "injectType": "listen",
    "payload": "200",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "listen with 200 ms",
    "addressSpaceItems": [
      {
        "name": "Tanks",
        "nodeId": "ns=1;i=1000",
        "datatypeName": ""
      },
      {
        "name": "Server",
        "nodeId": "ns=0;i=2253",
        "datatypeName": ""
      }
    ],
    "x": 220,
    "y": 300,
    "wires": [
      [
        "24e6ac2e.fe1904"
      ]
    ]
  },
  {
    "id": "ee85d45d.275ac8",
    "type": "OPCUA-IIoT-Listener",
    "z": "7bf1b5a6.0f9d1c",
    "connector": "60ab20b8.98b08",
    "action": "events",
    "queueSize": "100",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 570,
    "y": 300,
    "wires": [
      [
        "bec7659a.eed878"
      ]
    ]
  },
  {
    "id": "5c203220.a2eb44",
    "type": "OPCUA-IIoT-Listener",
    "z": "7bf1b5a6.0f9d1c",
    "connector": "60ab20b8.98b08",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 520,
    "y": 620,
    "wires": [
      [
        "496ce6e9.9178f8",
        "93948e87.40d85",
        "8650c341.fe7b18",
        "d4df6202.3e04c",
        "b03edd9e.f77b08",
        "f71546bd.35f97"
      ]
    ]
  },
  {
    "id": "3e8c6c.ba8cbb94",
    "type": "OPCUA-IIoT-Inject",
    "z": "7bf1b5a6.0f9d1c",
    "injectType": "listen",
    "payload": "{ \"interval\": 500, \"queueSize\": 10 }",
    "payloadType": "json",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Start Abo",
    "addressSpaceItems": [
      {
        "name": "Counter",
        "nodeId": "ns=4;s=Counter",
        "datatypeName": ""
      },
      {
        "name": "FullCounter",
        "nodeId": "ns=4;s=FullCounter",
        "datatypeName": ""
      }
    ],
    "x": 180,
    "y": 620,
    "wires": [
      [
        "5c203220.a2eb44"
      ]
    ]
  },
  {
    "id": "93948e87.40d85",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 740,
    "wires": []
  },
  {
    "id": "496ce6e9.9178f8",
    "type": "OPCUA-IIoT-Response",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 720,
    "y": 440,
    "wires": [
      [
        "bb024a0.8809f38"
      ]
    ]
  },
  {
    "id": "bb024a0.8809f38",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 440,
    "wires": []
  },
  {
    "id": "4498c0ff.4a1a28",
    "type": "OPCUA-IIoT-Node",
    "z": "7bf1b5a6.0f9d1c",
    "nodeId": "ns=0;i=2277",
    "datatype": "NodeId",
    "value": "",
    "usingListener": true,
    "name": "",
    "x": 330,
    "y": 440,
    "wires": [
      [
        "5c203220.a2eb44"
      ]
    ]
  },
  {
    "id": "e5b388a4.c72d",
    "type": "OPCUA-IIoT-Node",
    "z": "7bf1b5a6.0f9d1c",
    "nodeId": "ns=4;s=TestReadWrite",
    "datatype": "NodeId",
    "value": "",
    "usingListener": true,
    "name": "",
    "x": 330,
    "y": 520,
    "wires": [
      [
        "5c203220.a2eb44"
      ]
    ]
  },
  {
    "id": "22a75255.1eaa76",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 620,
    "wires": []
  },
  {
    "id": "1fe9c590.b0212a",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 500,
    "wires": []
  },
  {
    "id": "ceb086fe.14ba8",
    "type": "inject",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 440,
    "wires": [
      [
        "4498c0ff.4a1a28"
      ]
    ]
  },
  {
    "id": "68f53552.7835ac",
    "type": "inject",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 520,
    "wires": [
      [
        "e5b388a4.c72d"
      ]
    ]
  },
  {
    "id": "1b528131.b65bf7",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 560,
    "wires": []
  },
  {
    "id": "8650c341.fe7b18",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "7bf1b5a6.0f9d1c",
    "nodeId": "ns=4;s=FullCounter",
    "datatype": "UInt32",
    "fixedValue": false,
    "fixPoint": 2,
    "withPrecision": false,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "",
    "name": "",
    "showErrors": false,
    "x": 750,
    "y": 620,
    "wires": [
      [
        "22a75255.1eaa76"
      ]
    ]
  },
  {
    "id": "d4df6202.3e04c",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "7bf1b5a6.0f9d1c",
    "nodeId": "ns=0;i=2277",
    "datatype": "UInt32",
    "fixedValue": false,
    "fixPoint": 2,
    "withPrecision": false,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "",
    "name": "",
    "showErrors": false,
    "x": 730,
    "y": 560,
    "wires": [
      [
        "1b528131.b65bf7"
      ]
    ]
  },
  {
    "id": "b03edd9e.f77b08",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "7bf1b5a6.0f9d1c",
    "nodeId": "ns=4;s=TestReadWrite",
    "datatype": "Double",
    "fixedValue": true,
    "fixPoint": 2,
    "withPrecision": false,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "",
    "name": "",
    "showErrors": false,
    "x": 760,
    "y": 500,
    "wires": [
      [
        "1fe9c590.b0212a"
      ]
    ]
  },
  {
    "id": "f71546bd.35f97",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "7bf1b5a6.0f9d1c",
    "nodeId": "ns=4;s=Counter",
    "datatype": "UInt16",
    "fixedValue": false,
    "fixPoint": 2,
    "withPrecision": false,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "",
    "name": "",
    "showErrors": false,
    "x": 740,
    "y": 680,
    "wires": [
      [
        "985d905f.5374b8"
      ]
    ]
  },
  {
    "id": "985d905f.5374b8",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 680,
    "wires": []
  },
  {
    "id": "aa6990bc.664578",
    "type": "OPCUA-IIoT-Write",
    "z": "7bf1b5a6.0f9d1c",
    "connector": "60ab20b8.98b08",
    "name": "",
    "showStatusActivities": false,
    "showErrors": true,
    "x": 510,
    "y": 1460,
    "wires": [
      [
        "5cfe754c.50174c",
        "66f0d9bb.41b82",
        "3ded7ded.fe200a",
        "39fc0a13.dea31e"
      ]
    ]
  },
  {
    "id": "4677042a.cfeb04",
    "type": "OPCUA-IIoT-Inject",
    "z": "7bf1b5a6.0f9d1c",
    "injectType": "write",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "1",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "TestReadWrite",
    "addressSpaceItems": [
      {
        "name": "TestReadWrite",
        "nodeId": "ns=4;s=TestReadWrite",
        "datatypeName": "Double"
      }
    ],
    "x": 190,
    "y": 1460,
    "wires": [
      [
        "c491f8ff.828748"
      ]
    ]
  },
  {
    "id": "3ded7ded.fe200a",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 710,
    "y": 1520,
    "wires": []
  },
  {
    "id": "5cfe754c.50174c",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 690,
    "y": 1560,
    "wires": []
  },
  {
    "id": "259ee368.f01544",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 510,
    "y": 1520,
    "wires": []
  },
  {
    "id": "66f0d9bb.41b82",
    "type": "OPCUA-IIoT-Response",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "x": 700,
    "y": 1460,
    "wires": [
      [
        "d0fd388.9fe64c8"
      ]
    ]
  },
  {
    "id": "d0fd388.9fe64c8",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 870,
    "y": 1460,
    "wires": []
  },
  {
    "id": "c491f8ff.828748",
    "type": "data-generator",
    "z": "7bf1b5a6.0f9d1c",
    "name": "dGen",
    "field": "valuesToWrite",
    "fieldType": "msg",
    "syntax": "json",
    "template": "[{{int 1 65000}}]",
    "x": 370,
    "y": 1460,
    "wires": [
      [
        "aa6990bc.664578",
        "259ee368.f01544"
      ]
    ]
  },
  {
    "id": "7c7c1aef.cef0bc",
    "type": "comment",
    "z": "7bf1b5a6.0f9d1c",
    "name": "install node-red-node-data-generator",
    "info": "",
    "x": 370,
    "y": 1410,
    "wires": []
  },
  {
    "id": "39fc0a13.dea31e",
    "type": "OPCUA-IIoT-Read",
    "z": "7bf1b5a6.0f9d1c",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "60ab20b8.98b08",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 690,
    "y": 1400,
    "wires": [
      [
        "d60a8cec.a5fb38"
      ]
    ]
  },
  {
    "id": "35a8b60c.401852",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 1030,
    "y": 1400,
    "wires": []
  },
  {
    "id": "d60a8cec.a5fb38",
    "type": "OPCUA-IIoT-Response",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 880,
    "y": 1400,
    "wires": [
      [
        "35a8b60c.401852"
      ]
    ]
  },
  {
    "id": "9cce4475.25eff",
    "type": "comment",
    "z": "7bf1b5a6.0f9d1c",
    "name": "event listening",
    "info": "",
    "x": 890,
    "y": 300,
    "wires": []
  },
  {
    "id": "5f486ad2.b55d2c",
    "type": "comment",
    "z": "7bf1b5a6.0f9d1c",
    "name": "server",
    "info": "",
    "x": 870,
    "y": 200,
    "wires": []
  },
  {
    "id": "f430e1fe.00626",
    "type": "OPCUA-IIoT-Browser",
    "z": "7bf1b5a6.0f9d1c",
    "connector": "60ab20b8.98b08",
    "nodeId": "",
    "name": "",
    "browseAll": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 280,
    "y": 1720,
    "wires": [
      [
        "c751dcaa.7e429"
      ]
    ]
  },
  {
    "id": "b0f9f5b6.ecc7c8",
    "type": "OPCUA-IIoT-Inject",
    "z": "7bf1b5a6.0f9d1c",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Root",
    "addressSpaceItems": [
      {
        "name": "Tanks",
        "nodeId": "ns=1;i=1000",
        "datatypeName": ""
      }
    ],
    "x": 130,
    "y": 1720,
    "wires": [
      [
        "f430e1fe.00626"
      ]
    ]
  },
  {
    "id": "c751dcaa.7e429",
    "type": "OPCUA-IIoT-Response",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "x": 440,
    "y": 1720,
    "wires": [
      [
        "307c2a84.e3575e"
      ]
    ]
  },
  {
    "id": "307c2a84.e3575e",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 610,
    "y": 1720,
    "wires": []
  },
  {
    "id": "6192d6fa.1b393",
    "type": "comment",
    "z": "7bf1b5a6.0f9d1c",
    "name": "monitoring",
    "info": "",
    "x": 520,
    "y": 480,
    "wires": []
  },
  {
    "id": "c50f7dbf.9a965",
    "type": "comment",
    "z": "7bf1b5a6.0f9d1c",
    "name": "browse and read",
    "info": "",
    "x": 320,
    "y": 840,
    "wires": []
  },
  {
    "id": "67cf5e56.ee2198",
    "type": "comment",
    "z": "7bf1b5a6.0f9d1c",
    "name": "write and read",
    "info": "",
    "x": 310,
    "y": 1520,
    "wires": []
  },
  {
    "id": "2e8e96c4.791952",
    "type": "comment",
    "z": "7bf1b5a6.0f9d1c",
    "name": "browse",
    "info": "",
    "x": 110,
    "y": 1640,
    "wires": []
  },
  {
    "id": "36fb9a9b.38ce66",
    "type": "OPCUA-IIoT-Read",
    "z": "7bf1b5a6.0f9d1c",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "60ab20b8.98b08",
    "name": "",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 370,
    "y": 1160,
    "wires": [
      [
        "df476cd.7ed0c1"
      ]
    ]
  },
  {
    "id": "efaa8a68.f2e7e8",
    "type": "OPCUA-IIoT-Inject",
    "z": "7bf1b5a6.0f9d1c",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "TestReadWrite",
    "addressSpaceItems": [
      {
        "name": "TestReadWrite",
        "nodeId": "ns=4;s=TestReadWrite",
        "datatypeName": ""
      }
    ],
    "x": 190,
    "y": 1160,
    "wires": [
      [
        "36fb9a9b.38ce66"
      ]
    ]
  },
  {
    "id": "df476cd.7ed0c1",
    "type": "OPCUA-IIoT-Response",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 600,
    "y": 1160,
    "wires": [
      [
        "e8e2f365.040fa"
      ]
    ]
  },
  {
    "id": "e8e2f365.040fa",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 750,
    "y": 1160,
    "wires": []
  },
  {
    "id": "431fe1d9.ceafa",
    "type": "OPCUA-IIoT-Inject",
    "z": "7bf1b5a6.0f9d1c",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "TestReadWrite",
    "addressSpaceItems": [
      {
        "name": "TestReadWrite",
        "nodeId": "ns=4;s=TestReadWrite",
        "datatypeName": ""
      }
    ],
    "x": 180,
    "y": 1240,
    "wires": [
      [
        "8ef47db1.96b0c8"
      ]
    ]
  },
  {
    "id": "8ef47db1.96b0c8",
    "type": "OPCUA-IIoT-Read",
    "z": "7bf1b5a6.0f9d1c",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "60ab20b8.98b08",
    "name": "Read just value",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 400,
    "y": 1240,
    "wires": [
      [
        "4581b6cc.e4b5c8"
      ]
    ]
  },
  {
    "id": "4581b6cc.e4b5c8",
    "type": "OPCUA-IIoT-Response",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 600,
    "y": 1240,
    "wires": [
      [
        "a9ada474.43e538"
      ]
    ]
  },
  {
    "id": "a9ada474.43e538",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 750,
    "y": 1240,
    "wires": []
  },
  {
    "id": "377ee628.c27dba",
    "type": "comment",
    "z": "7bf1b5a6.0f9d1c",
    "name": "read",
    "info": "",
    "x": 810,
    "y": 1060,
    "wires": []
  },
  {
    "id": "32d6c55f.70deaa",
    "type": "OPCUA-IIoT-Browser",
    "z": "7bf1b5a6.0f9d1c",
    "connector": "60ab20b8.98b08",
    "nodeId": "ns=4;i=1234",
    "name": "Bianco Royal",
    "browseAll": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 290,
    "y": 1800,
    "wires": [
      [
        "7a7026cc.fa5608"
      ]
    ]
  },
  {
    "id": "60c1bac8.319c8c",
    "type": "OPCUA-IIoT-Inject",
    "z": "7bf1b5a6.0f9d1c",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "Root",
    "addressSpaceItems": [],
    "x": 130,
    "y": 1800,
    "wires": [
      [
        "32d6c55f.70deaa"
      ]
    ]
  },
  {
    "id": "7a7026cc.fa5608",
    "type": "OPCUA-IIoT-Response",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "x": 440,
    "y": 1800,
    "wires": [
      [
        "ab3ed784.7d732"
      ]
    ]
  },
  {
    "id": "ab3ed784.7d732",
    "type": "debug",
    "z": "7bf1b5a6.0f9d1c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 610,
    "y": 1800,
    "wires": []
  },
  {
    "id": "60ab20b8.98b08",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "opc.tcp://localhost:55388/",
    "endpoint": "opc.tcp://innoreactor.local:55388/UA/NodeREDIIoTServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "Basic256",
    "securityMode": "SIGNANDENCRYPT",
    "name": "LOCAL DEMO SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false
  }
]
