examples/browser-to-listener.json
[
  {
    "id": "5c43defa.57a84",
    "type": "tab",
    "label": "IIoT OPC UA Browse2Listener",
    "disabled": false,
    "info": ""
  },
  {
    "id": "4e80dd88.47adf4",
    "type": "OPCUA-IIoT-Inject",
    "z": "5c43defa.57a84",
    "injectType": "listen",
    "payload": "10000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 190,
    "y": 220,
    "wires": [
      [
        "8ac941d5.b1ef"
      ]
    ]
  },
  {
    "id": "8ac941d5.b1ef",
    "type": "OPCUA-IIoT-Browser",
    "z": "5c43defa.57a84",
    "connector": "f2e8f526.b18a48",
    "nodeId": "ns=0;i=2274",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 340,
    "y": 220,
    "wires": [
      [
        "3f32457e.9d64ea",
        "5067a05d.895c8"
      ]
    ]
  },
  {
    "id": "5067a05d.895c8",
    "type": "OPCUA-IIoT-Listener",
    "z": "5c43defa.57a84",
    "connector": "f2e8f526.b18a48",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "multipleRequest": false,
    "metaDataInject": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 520,
    "y": 220,
    "wires": [
      [
        "ecdb4c11.e459c"
      ],
      [
        "96483e77.4c041"
      ]
    ]
  },
  {
    "id": "ecdb4c11.e459c",
    "type": "debug",
    "z": "5c43defa.57a84",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 160,
    "wires": []
  },
  {
    "id": "96483e77.4c041",
    "type": "debug",
    "z": "5c43defa.57a84",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 690,
    "y": 240,
    "wires": []
  },
  {
    "id": "3f32457e.9d64ea",
    "type": "debug",
    "z": "5c43defa.57a84",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 490,
    "y": 300,
    "wires": []
  },
  {
    "id": "f2e8f526.b18a48",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "opc.tcp://innoreactor.local:55388/",
    "endpoint": "opc.tcp://innoreactor.local:55388/UA/NodeREDIIoTServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "Basic256Sha256",
    "securityMode": "SIGNANDENCRYPT",
    "name": "Local Server Client",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": ""
  }
]
