examples/browser-to-listener.json
[
  {
    "id": "ce8def2e.9aaba8",
    "type": "tab",
    "label": "IIoT OPC UA Browse2Listener",
    "disabled": false,
    "info": ""
  },
  {
    "id": "6b49bdaa.95d894",
    "type": "OPCUA-IIoT-Inject",
    "z": "ce8def2e.9aaba8",
    "injectType": "listen",
    "payload": "10000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 190,
    "y": 220,
    "wires": [
      [
        "5a43a064.2a4db"
      ]
    ]
  },
  {
    "id": "5a43a064.2a4db",
    "type": "OPCUA-IIoT-Browser",
    "z": "ce8def2e.9aaba8",
    "connector": "2ee612f9.a3dbde",
    "nodeId": "ns=4;i=1234",
    "name": "",
    "browseAll": false,
    "showStatusActivities": false,
    "showErrors": true,
    "x": 340,
    "y": 220,
    "wires": [
      [
        "da12ae45.932138",
        "4334a8b0.840e78"
      ]
    ]
  },
  {
    "id": "8dca1d5c.817e08",
    "type": "debug",
    "z": "ce8def2e.9aaba8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 650,
    "y": 220,
    "wires": []
  },
  {
    "id": "da12ae45.932138",
    "type": "debug",
    "z": "ce8def2e.9aaba8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 490,
    "y": 180,
    "wires": []
  },
  {
    "id": "4334a8b0.840e78",
    "type": "OPCUA-IIoT-Listener",
    "z": "ce8def2e.9aaba8",
    "connector": "2ee612f9.a3dbde",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 500,
    "y": 220,
    "wires": [
      [
        "8dca1d5c.817e08"
      ]
    ]
  },
  {
    "id": "2ee612f9.a3dbde",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL DEMO SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMusExist": false
  }
]
