examples/event-listener.json
[
  {
    "id": "1c4d7bd2.ec7344",
    "type": "tab",
    "label": "IIoT OPC UA Events",
    "disabled": false,
    "info": ""
  },
  {
    "id": "41c2a482.573964",
    "type": "debug",
    "z": "1c4d7bd2.ec7344",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 730,
    "y": 120,
    "wires": []
  },
  {
    "id": "12fc2038.a760e",
    "type": "OPCUA-IIoT-Event",
    "z": "1c4d7bd2.ec7344",
    "eventType": "BaseEventType",
    "eventTypeLabel": "BaseEventType (i=2041)",
    "queueSize": "1000",
    "usingListener": true,
    "name": "Base Events",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 420,
    "y": 120,
    "wires": [
      [
        "c0ce8da.4340ff"
      ]
    ]
  },
  {
    "id": "1471deb0.d5b961",
    "type": "OPCUA-IIoT-Inject",
    "z": "1c4d7bd2.ec7344",
    "injectType": "listen",
    "payload": "200",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "listen with 200 ms",
    "addressSpaceItems": [
      {
        "name": "Tanks",
        "nodeId": "ns=1;i=1000",
        "datatypeName": ""
      },
      {
        "name": "Server",
        "nodeId": "ns=0;i=2253",
        "datatypeName": ""
      }
    ],
    "x": 230,
    "y": 120,
    "wires": [
      [
        "12fc2038.a760e"
      ]
    ]
  },
  {
    "id": "c0ce8da.4340ff",
    "type": "OPCUA-IIoT-Listener",
    "z": "1c4d7bd2.ec7344",
    "connector": "2ee612f9.a3dbde",
    "action": "events",
    "queueSize": "100",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 580,
    "y": 120,
    "wires": [
      [
        "41c2a482.573964"
      ]
    ]
  },
  {
    "id": "2ee612f9.a3dbde",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL DEMO SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMusExist": false
  }
]
