examples/event-listener.json
[
  {
    "id": "9b93046e.95cbb8",
    "type": "tab",
    "label": "IIoT OPC UA Events",
    "disabled": false,
    "info": ""
  },
  {
    "id": "63a94271.67665c",
    "type": "OPCUA-IIoT-Listener",
    "z": "9b93046e.95cbb8",
    "connector": "f65000e.85f4f",
    "action": "events",
    "queueSize": "1000",
    "name": "",
    "justValue": false,
    "multipleRequest": false,
    "metaDataInject": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 590,
    "y": 120,
    "wires": [
      [
        "a510f666.7e5c38"
      ],
      [
        "660bf7c6.79b8d8"
      ]
    ]
  },
  {
    "id": "a510f666.7e5c38",
    "type": "debug",
    "z": "9b93046e.95cbb8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 740,
    "y": 100,
    "wires": []
  },
  {
    "id": "660bf7c6.79b8d8",
    "type": "debug",
    "z": "9b93046e.95cbb8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 740,
    "y": 140,
    "wires": []
  },
  {
    "id": "f2bcd2c.20b703",
    "type": "OPCUA-IIoT-Event",
    "z": "9b93046e.95cbb8",
    "eventType": "BaseEventType",
    "eventTypeLabel": "BaseEventType (i=2041)",
    "queueSize": "1000",
    "usingListener": true,
    "name": "Base Events",
    "x": 420,
    "y": 120,
    "wires": [
      [
        "63a94271.67665c"
      ]
    ]
  },
  {
    "id": "9d478c1c.99afc",
    "type": "OPCUA-IIoT-Inject",
    "z": "9b93046e.95cbb8",
    "injectType": "listen",
    "payload": "200",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "listen with 200 ms",
    "addressSpaceItems": [
      {
        "name": "Tanks",
        "nodeId": "ns=1;i=1000",
        "datatypeName": ""
      },
      {
        "name": "Server",
        "nodeId": "ns=0;i=2253",
        "datatypeName": ""
      }
    ],
    "x": 230,
    "y": 120,
    "wires": [
      [
        "f2bcd2c.20b703"
      ]
    ]
  },
  {
    "id": "f65000e.85f4f",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "opc.tcp://innoreactor.local:55388/",
    "endpoint": "opc.tcp://innoreactor.local:55388/UA/NodeREDIIoTServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "",
    "endpointMusExist": false
  }
]
