examples/opcua-iiot-browser.json
[
  {
    "id": "dd449025.53e3d",
    "type": "OPCUA-IIoT-Browser",
    "z": "e84aee5a.69ba7",
    "connector": "c16e9988.21c678",
    "nodeId": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 520,
    "y": 360,
    "wires": [
      [
        "6968ee3b.a554d",
        "9accd2d3.b0d97"
      ]
    ]
  },
  {
    "id": "6968ee3b.a554d",
    "type": "ui_template",
    "z": "e84aee5a.69ba7",
    "group": "a25c243a.6bc358",
    "name": "",
    "order": 0,
    "width": 0,
    "height": 0,
    "format": "<div layout=\"column\" layout-align=\"space-between\">\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <p>{{msg.payload.endpoint}}</p>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <p>{{msg.payload.browseTopic}} with {{msg.payload.browserResultCount}} references</p>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <h1>Results</h1>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <select ng-model=\"item\" ng-options=\"item.displayName.text for item in msg.payload.browserItems\">\n            <option value=\"\">-- Root --</option>\n        </select>\n        <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">Browse</button>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <div>\n            <ul>\n                <li ng-repeat=\"item in msg.payload.browserItems\">\n                  {{item.displayName.text}} ( {{item.nodeId}} - {{item.browseName}})\n                </li>\n            </ul>\n        </div>\n    </div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "x": 520,
    "y": 300,
    "wires": [
      [
        "dd449025.53e3d"
      ]
    ]
  },
  {
    "id": "9accd2d3.b0d97",
    "type": "debug",
    "z": "e84aee5a.69ba7",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 710,
    "y": 360,
    "wires": []
  },
  {
    "id": "60ad080a.ea96a8",
    "type": "OPCUA-IIoT-Inject",
    "z": "e84aee5a.69ba7",
    "payload": "",
    "payloadType": "date",
    "topic": "ns=0;i=85",
    "datatype": "NodeId",
    "repeat": "",
    "crontab": "",
    "once": false,
    "name": "Root",
    "x": 330,
    "y": 360,
    "wires": [
      [
        "dd449025.53e3d"
      ]
    ]
  },
  {
    "id": "c16e9988.21c678",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "loginEnabled": true,
    "name": "",
    "showStatusActivities": false,
    "showErrors": false
  },
  {
    "id": "a25c243a.6bc358",
    "type": "ui_group",
    "z": "",
    "name": "Default",
    "tab": "c961a978.d33ee8",
    "disp": true,
    "width": "6"
  },
  {
    "id": "c961a978.d33ee8",
    "type": "ui_tab",
    "z": "e84aee5a.69ba7",
    "name": "Node-RED OPC UA IIoT",
    "icon": "dashboard"
  }
]
