examples/opcua-iiot-method-caller.json
[
  {
    "id": "64c15b68.b979e4",
    "type": "tab",
    "label": "IIoT OPC UA Method Call",
    "disabled": false,
    "info": ""
  },
  {
    "id": "362943eb.cb30ec",
    "type": "debug",
    "z": "64c15b68.b979e4",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 600,
    "y": 80,
    "wires": []
  },
  {
    "id": "384f6740.8acfc8",
    "type": "OPCUA-IIoT-Method-Caller",
    "z": "64c15b68.b979e4",
    "connector": "176c2c60.d3d714",
    "objectId": "ns=4;i=1234",
    "methodId": "ns=4;i=12345",
    "methodtype": "basic",
    "value": "",
    "name": "",
    "inputArguments": [
      {
        "name": "barks",
        "dataType": "UInt32",
        "value": "3"
      },
      {
        "name": "volume",
        "dataType": "UInt32",
        "value": "6"
      }
    ],
    "x": 430,
    "y": 120,
    "wires": [
      [
        "362943eb.cb30ec",
        "ba8300de.f87ed"
      ]
    ]
  },
  {
    "id": "ba8300de.f87ed",
    "type": "OPCUA-IIoT-Response",
    "z": "64c15b68.b979e4",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 610,
    "y": 120,
    "wires": [
      [
        "578d9e8b.d4462"
      ]
    ]
  },
  {
    "id": "578d9e8b.d4462",
    "type": "debug",
    "z": "64c15b68.b979e4",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 750,
    "y": 120,
    "wires": []
  },
  {
    "id": "7e44d53c.a7435c",
    "type": "OPCUA-IIoT-Inject",
    "z": "64c15b68.b979e4",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 250,
    "y": 120,
    "wires": [
      [
        "384f6740.8acfc8"
      ]
    ]
  },
  {
    "id": "176c2c60.d3d714",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "endpoint": "opc.tcp://localhost:55388/UA/NodeREDIIOTServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "Method Server",
    "showStatusActivities": false,
    "showErrors": false
  }
]
