examples/opcua-iiot-read-structure.json
[
  {
    "id": "7cd87ec8.b3f94",
    "type": "tab",
    "label": "IIoT Read Structure"
  },
  {
    "id": "a39ddce5.2529a",
    "type": "OPCUA-IIoT-Server",
    "z": "7cd87ec8.b3f94",
    "port": "55388",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "",
    "alternateHostname": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "allowAnonymous": true,
    "isAuditing": false,
    "users": [
      {
        "name": "klaus",
        "password": "test"
      },
      {
        "name": "peter",
        "password": "peter"
      }
    ],
    "x": 170,
    "y": 160,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "dc3e072d.769348",
    "type": "OPCUA-IIoT-Read",
    "z": "7cd87ec8.b3f94",
    "attributeId": "99",
    "maxAge": 1,
    "depth": "2",
    "connector": "5bd83411.6bfc0c",
    "name": "",
    "justValue": true,
    "multipleRequest": true,
    "metaDataInject": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 350,
    "y": 260,
    "wires": [
      [
        "800e45f0.79c588",
        "bbc02f63.9e5b7",
        "e7e591b9.f97b1",
        "a8b7935e.a7fc6"
      ]
    ]
  },
  {
    "id": "97c83067.109bb",
    "type": "OPCUA-IIoT-Inject",
    "z": "7cd87ec8.b3f94",
    "payload": "",
    "payloadType": "date",
    "topic": "ns=0;i=2256",
    "datatype": "ExtensionObject",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": 15,
    "name": "Server Info",
    "x": 180,
    "y": 260,
    "wires": [
      [
        "dc3e072d.769348"
      ]
    ]
  },
  {
    "id": "800e45f0.79c588",
    "type": "debug",
    "z": "7cd87ec8.b3f94",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "diagnostics",
    "x": 540,
    "y": 360,
    "wires": []
  },
  {
    "id": "bbc02f63.9e5b7",
    "type": "debug",
    "z": "7cd87ec8.b3f94",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 530,
    "y": 400,
    "wires": []
  },
  {
    "id": "e7e591b9.f97b1",
    "type": "debug",
    "z": "7cd87ec8.b3f94",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 510,
    "y": 440,
    "wires": []
  },
  {
    "id": "a8b7935e.a7fc6",
    "type": "OPCUA-IIoT-Read",
    "z": "7cd87ec8.b3f94",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "5bd83411.6bfc0c",
    "name": "",
    "justValue": true,
    "multipleRequest": true,
    "metaDataInject": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 570,
    "y": 260,
    "wires": [
      [
        "91affb5d.d78388",
        "9453b723.1912c8",
        "72feef5e.74fff"
      ]
    ]
  },
  {
    "id": "91affb5d.d78388",
    "type": "debug",
    "z": "7cd87ec8.b3f94",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "diagnostics",
    "x": 780,
    "y": 360,
    "wires": []
  },
  {
    "id": "9453b723.1912c8",
    "type": "debug",
    "z": "7cd87ec8.b3f94",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 770,
    "y": 400,
    "wires": []
  },
  {
    "id": "72feef5e.74fff",
    "type": "debug",
    "z": "7cd87ec8.b3f94",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 750,
    "y": 440,
    "wires": []
  },
  {
    "id": "5bd83411.6bfc0c",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "loginEnabled": true,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "SERVER ONE",
    "showStatusActivities": false,
    "showErrors": false
  }
]
