examples/opcua-iiot-server.json
[ {
    "id": "c03c1d52.c3e23",
    "type": "OPCUA-IIoT-Inject",
    "z": "e84aee5a.69ba7",
    "payload": "2",
    "payloadType": "num",
    "topic": "ns=1;s=TestReadWrite",
    "datatype": "Double",
    "repeat": "",
    "crontab": "",
    "once": false,
    "name": "Int16 Dynamic Data",
    "x": 210,
    "y": 420,
    "wires": [
      [
        "955e1244.d3a54"
      ]
    ]
  },
  {
    "id": "955e1244.d3a54",
    "type": "OPCUA-IIoT-Listener",
    "z": "e84aee5a.69ba7",
    "connector": "c16e9988.21c678",
    "action": "subscribe",
    "queueSize": "1",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 500,
    "y": 420,
    "wires": [
      [
        "93294c70.4c7eb"
      ],
      [
        "b2ae1c51.b7e2c"
      ]
    ]
  },
  {
    "id": "93294c70.4c7eb",
    "type": "ui_gauge",
    "z": "e84aee5a.69ba7",
    "name": "",
    "group": "55f2a623.21e6e8",
    "order": 2,
    "width": "0",
    "height": "0",
    "gtype": "gage",
    "title": "Listener",
    "label": "units",
    "format": "",
    "min": "-2000",
    "max": "66000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 700,
    "y": 400,
    "wires": []
  },
  {
    "id": "b2ae1c51.b7e2c",
    "type": "OPCUA-IIoT-Response",
    "z": "e84aee5a.69ba7",
    "name": "",
    "x": 700,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "35f3999a.9466e6",
    "type": "ui_button",
    "z": "e84aee5a.69ba7",
    "name": "",
    "group": "55f2a623.21e6e8",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "subscribe / unsubscribe",
    "color": "",
    "bgcolor": "",
    "icon": "fa-tachometer",
    "payload": "2",
    "payloadType": "str",
    "topic": "ns=1;s=TestReadWrite",
    "x": 230,
    "y": 460,
    "wires": [
      [
        "955e1244.d3a54"
      ]
    ]
  },
  {
    "id": "27ff3a19.6cb7e6",
    "type": "OPCUA-IIoT-Listener",
    "z": "e84aee5a.69ba7",
    "connector": "c16e9988.21c678",
    "action": "subscribe",
    "queueSize": "1",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 500,
    "y": 560,
    "wires": [
      [
        "428092f2.74ebac",
        "2d52ba71.c13536"
      ],
      [
        "afa6b682.c1c3b8"
      ]
    ]
  },
  {
    "id": "95129761.06cb38",
    "type": "OPCUA-IIoT-Inject",
    "z": "e84aee5a.69ba7",
    "payload": "1",
    "payloadType": "num",
    "topic": "ns=0;i=2277",
    "datatype": "UInt32",
    "repeat": "",
    "crontab": "",
    "once": true,
    "name": "Session Count",
    "x": 200,
    "y": 560,
    "wires": [
      [
        "27ff3a19.6cb7e6"
      ]
    ]
  },
  {
    "id": "afa6b682.c1c3b8",
    "type": "OPCUA-IIoT-Response",
    "z": "e84aee5a.69ba7",
    "name": "",
    "x": 700,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "428092f2.74ebac",
    "type": "ui_numeric",
    "z": "e84aee5a.69ba7",
    "name": "",
    "label": "Sessions",
    "group": "55f2a623.21e6e8",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "topic": "",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "step": 1,
    "x": 700,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "56569a7a.e2c084",
    "type": "ui_button",
    "z": "e84aee5a.69ba7",
    "name": "",
    "group": "55f2a623.21e6e8",
    "order": 5,
    "width": 0,
    "height": 0,
    "label": "subscribe / unsubscribe",
    "color": "",
    "bgcolor": "",
    "icon": "fa-tachometer",
    "payload": "2",
    "payloadType": "str",
    "topic": "ns=0;i=2277",
    "x": 210,
    "y": 600,
    "wires": [
      [
        "27ff3a19.6cb7e6"
      ]
    ]
  },
  {
    "id": "2d52ba71.c13536",
    "type": "debug",
    "z": "e84aee5a.69ba7",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 710,
    "y": 500,
    "wires": []
  },
  {
    "id": "c16e9988.21c678",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "loginEnabled": true,
    "name": "",
    "showStatusActivities": false,
    "showErrors": false
  },
  {
    "id": "55f2a623.21e6e8",
    "type": "ui_group",
    "z": "e84aee5a.69ba7",
    "name": "Client",
    "tab": "c961a978.d33ee8",
    "disp": true,
    "width": "9"
  },
  {
    "id": "c961a978.d33ee8",
    "type": "ui_tab",
    "z": "e84aee5a.69ba7",
    "name": "Node-RED OPC UA IIoT",
    "icon": "dashboard"
  }
]
