examples/opcua-iiot-server-aso-types.json
[
  {
    "id": "bc5ac1a5.e5819",
    "type": "tab",
    "label": "IIoT OPC UA ASO Types",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b4afc997.15b6f8",
    "type": "OPCUA-IIoT-Server",
    "z": "bc5ac1a5.e5819",
    "port": "55389",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "",
    "alternateHostname": "",
    "name": "LOCAL SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "asoDemo": true,
    "allowAnonymous": true,
    "isAuditing": false,
    "serverDiscovery": true,
    "users": [
      {
        "name": "test",
        "password": "test"
      },
      {
        "name": "peter",
        "password": "peter"
      }
    ],
    "publicCertificateFile": "",
    "privateCertificateFile": "",
    "x": 800,
    "y": 340,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "223fcf69.3fbce",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "bc5ac1a5.e5819",
    "nodeId": "ns=5;s=TestVariables",
    "browsename": "TestVariables",
    "displayname": "Test Variables",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "Folder",
    "x": 490,
    "y": 140,
    "wires": [
      [
        "b4afc997.15b6f8"
      ]
    ]
  },
  {
    "id": "2aef6e8a.4d3702",
    "type": "OPCUA-IIoT-Inject",
    "z": "bc5ac1a5.e5819",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 290,
    "y": 140,
    "wires": [
      [
        "223fcf69.3fbce"
      ]
    ]
  },
  {
    "id": "dcab3f93.135e8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "bc5ac1a5.e5819",
    "nodeId": "ns=5;s=TestDateTime",
    "browsename": "TestDateTime",
    "displayname": "Test DateTime",
    "objecttype": "BaseDataVariableType",
    "datatype": "DateTime",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "DateTime",
    "x": 500,
    "y": 200,
    "wires": [
      [
        "b4afc997.15b6f8"
      ]
    ]
  },
  {
    "id": "eb828179.bb9ba",
    "type": "OPCUA-IIoT-Inject",
    "z": "bc5ac1a5.e5819",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 290,
    "y": 200,
    "wires": [
      [
        "dcab3f93.135e8"
      ]
    ]
  },
  {
    "id": "38d90763.a11078",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "bc5ac1a5.e5819",
    "nodeId": "ns=5;s=TestBoolean",
    "browsename": "TestBoolean",
    "displayname": "Test Boolean",
    "objecttype": "BaseDataVariableType",
    "datatype": "Boolean",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Boolean",
    "x": 500,
    "y": 240,
    "wires": [
      [
        "b4afc997.15b6f8"
      ]
    ]
  },
  {
    "id": "a0d1c456.d58ea8",
    "type": "OPCUA-IIoT-Inject",
    "z": "bc5ac1a5.e5819",
    "injectType": "inject",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 270,
    "y": 240,
    "wires": [
      [
        "38d90763.a11078"
      ]
    ]
  },
  {
    "id": "27f4046.ffc62fc",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "bc5ac1a5.e5819",
    "nodeId": "ns=5;s=TestDoulbe",
    "browsename": "TestDoulbe",
    "displayname": "Test Doulbe",
    "objecttype": "BaseDataVariableType",
    "datatype": "Double",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Double",
    "x": 500,
    "y": 280,
    "wires": [
      [
        "b4afc997.15b6f8"
      ]
    ]
  },
  {
    "id": "9e79278e.67bf48",
    "type": "OPCUA-IIoT-Inject",
    "z": "bc5ac1a5.e5819",
    "injectType": "inject",
    "payload": "10.2",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 270,
    "y": 280,
    "wires": [
      [
        "27f4046.ffc62fc"
      ]
    ]
  },
  {
    "id": "eeaeea5b.628b98",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "bc5ac1a5.e5819",
    "nodeId": "ns=5;s=TestUInt16",
    "browsename": "TestUInt16",
    "displayname": "Test UInt16",
    "objecttype": "BaseDataVariableType",
    "datatype": "UInt16",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "UInt16",
    "x": 490,
    "y": 320,
    "wires": [
      [
        "b4afc997.15b6f8"
      ]
    ]
  },
  {
    "id": "8af15588.91b648",
    "type": "OPCUA-IIoT-Inject",
    "z": "bc5ac1a5.e5819",
    "injectType": "inject",
    "payload": "65000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 270,
    "y": 320,
    "wires": [
      [
        "eeaeea5b.628b98"
      ]
    ]
  },
  {
    "id": "af74f429.e7c2f8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "bc5ac1a5.e5819",
    "nodeId": "ns=5;s=TestUInt32",
    "browsename": "TestUInt32",
    "displayname": "Test UInt32",
    "objecttype": "BaseDataVariableType",
    "datatype": "UInt32",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "UInt32",
    "x": 490,
    "y": 360,
    "wires": [
      [
        "b4afc997.15b6f8"
      ]
    ]
  },
  {
    "id": "f684a8a5.4c9948",
    "type": "OPCUA-IIoT-Inject",
    "z": "bc5ac1a5.e5819",
    "injectType": "inject",
    "payload": "125000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 280,
    "y": 360,
    "wires": [
      [
        "af74f429.e7c2f8"
      ]
    ]
  },
  {
    "id": "2a28cdf8.a86732",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "bc5ac1a5.e5819",
    "nodeId": "ns=5;s=TestUInt64",
    "browsename": "TestUInt64",
    "displayname": "Test UInt64",
    "objecttype": "BaseDataVariableType",
    "datatype": "UInt64",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "UInt64",
    "x": 490,
    "y": 400,
    "wires": [
      [
        "b4afc997.15b6f8"
      ]
    ]
  },
  {
    "id": "9620a1cb.e4fab",
    "type": "OPCUA-IIoT-Inject",
    "z": "bc5ac1a5.e5819",
    "injectType": "inject",
    "payload": "125000000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 290,
    "y": 400,
    "wires": [
      [
        "2a28cdf8.a86732"
      ]
    ]
  },
  {
    "id": "1ebfd922.591017",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "bc5ac1a5.e5819",
    "nodeId": "ns=5;s=TestString",
    "browsename": "TestString",
    "displayname": "Test String",
    "objecttype": "BaseDataVariableType",
    "datatype": "String",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "String",
    "x": 490,
    "y": 440,
    "wires": [
      [
        "b4afc997.15b6f8"
      ]
    ]
  },
  {
    "id": "963c19e2.6cd718",
    "type": "OPCUA-IIoT-Inject",
    "z": "bc5ac1a5.e5819",
    "injectType": "inject",
    "payload": "Hello IIoT World!",
    "payloadType": "str",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 310,
    "y": 440,
    "wires": [
      [
        "1ebfd922.591017"
      ]
    ]
  },
  {
    "id": "ebb3e2f6.77ded",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "bc5ac1a5.e5819",
    "nodeId": "ns=5;s=TestInt16",
    "browsename": "TestInt16",
    "displayname": "Test Int16",
    "objecttype": "BaseDataVariableType",
    "datatype": "Int16",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Int16",
    "x": 490,
    "y": 480,
    "wires": [
      [
        "b4afc997.15b6f8"
      ]
    ]
  },
  {
    "id": "a263a79d.134a68",
    "type": "OPCUA-IIoT-Inject",
    "z": "bc5ac1a5.e5819",
    "injectType": "inject",
    "payload": "-6000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 270,
    "y": 480,
    "wires": [
      [
        "ebb3e2f6.77ded"
      ]
    ]
  },
  {
    "id": "ead9f263.3c2a2",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "bc5ac1a5.e5819",
    "nodeId": "ns=5;s=TestInt32",
    "browsename": "TestInt32",
    "displayname": "Test Int32",
    "objecttype": "BaseDataVariableType",
    "datatype": "Int32",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Int32",
    "x": 490,
    "y": 520,
    "wires": [
      [
        "b4afc997.15b6f8"
      ]
    ]
  },
  {
    "id": "d6724f1e.d68b",
    "type": "OPCUA-IIoT-Inject",
    "z": "bc5ac1a5.e5819",
    "injectType": "inject",
    "payload": "-165000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 280,
    "y": 520,
    "wires": [
      [
        "ead9f263.3c2a2"
      ]
    ]
  },
  {
    "id": "58b6b56e.82825c",
    "type": "OPCUA-IIoT-Inject",
    "z": "bc5ac1a5.e5819",
    "injectType": "inject",
    "payload": "[{\"text\":\"Hallo Welt!\",\"locale\":\"de\"},{\"text\":\"Hello World!\",\"locale\":\"en\"},{\"text\":\"Bonjour Monde!\",\"locale\":\"fr\"}]",
    "payloadType": "json",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "JSON",
    "addressSpaceItems": [],
    "x": 270,
    "y": 560,
    "wires": [
      [
        "a94a1ed9.5ad37"
      ]
    ]
  },
  {
    "id": "a94a1ed9.5ad37",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "bc5ac1a5.e5819",
    "nodeId": "ns=5;s=TestLocalizedText",
    "browsename": "TestLocalizedText",
    "displayname": "Test LocalizedText",
    "objecttype": "BaseDataVariableType",
    "datatype": "LocalizedText",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "LocalizedText",
    "x": 520,
    "y": 560,
    "wires": [
      [
        "b4afc997.15b6f8"
      ]
    ]
  },
  {
    "id": "55f5c40c.b57d0c",
    "type": "comment",
    "z": "bc5ac1a5.e5819",
    "name": "information",
    "info": "Clients to browse\n\nUA-Expert: https://www.unified-automation.com/products/development-tools/uaexpert.html\nOPCUA-Commander: https://github.com/node-opcua/opcua-commander\nNode-RED: use the browse examples to start browsing the server via Node-RED\n\nHappy wiring!\nKlaus Landsdorf\nhttp://bianco-royal.de/",
    "x": 790,
    "y": 300,
    "wires": []
  }
]
