examples/opcua-iiot-listener-event.json
[
  {
    "id": "e2fc2d3.37762d",
    "type": "OPCUA-IIoT-Listener",
    "z": "7cd87ec8.b3f94",
    "connector": "cb7a499d.b1b488",
    "action": "events",
    "queueSize": "100",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 480,
    "y": 1020,
    "wires": [
      [
        "70e2a1dd.f5fbc",
        "b8deb34c.40316"
      ],
      [
        "f6ff797.ca02b88"
      ]
    ]
  },
  {
    "id": "70e2a1dd.f5fbc",
    "type": "debug",
    "z": "7cd87ec8.b3f94",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 670,
    "y": 1020,
    "wires": []
  },
  {
    "id": "b8deb34c.40316",
    "type": "debug",
    "z": "7cd87ec8.b3f94",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 650,
    "y": 980,
    "wires": []
  },
  {
    "id": "f6ff797.ca02b88",
    "type": "OPCUA-IIoT-Response",
    "z": "7cd87ec8.b3f94",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 660,
    "y": 1060,
    "wires": [
      [
        "e09f5732.f40d38",
        "ae6ab1bd.38da4"
      ]
    ]
  },
  {
    "id": "e09f5732.f40d38",
    "type": "debug",
    "z": "7cd87ec8.b3f94",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 820,
    "y": 1060,
    "wires": []
  },
  {
    "id": "ae6ab1bd.38da4",
    "type": "debug",
    "z": "7cd87ec8.b3f94",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 840,
    "y": 1100,
    "wires": []
  },
  {
    "id": "12f36465.9946fc",
    "type": "OPCUA-IIoT-Event",
    "z": "7cd87ec8.b3f94",
    "eventRoot": "i=2253",
    "eventType": "i=2041",
    "queueSize": "100",
    "usingListener": true,
    "name": "",
    "x": 330,
    "y": 1020,
    "wires": [
      [
        "e2fc2d3.37762d"
      ]
    ]
  },
  {
    "id": "196f437e.aba05d",
    "type": "OPCUA-IIoT-Inject",
    "z": "7cd87ec8.b3f94",
    "injectTypeListener": true,
    "payload": "200",
    "payloadType": "num",
    "topic": "",
    "datatype": "NodeId",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "",
    "x": 200,
    "y": 1020,
    "wires": [
      [
        "12f36465.9946fc"
      ]
    ]
  },
  {
    "id": "cb7a499d.b1b488",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "endpoint": "opc.tcp://localhost:55388/UA/NodeREDIIoTServer",
    "keepSessionAlive": true,
    "loginEnabled": true,
    "securityPolicy": "Basic256",
    "securityMode": "SIGNANDENCRYPT",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false
  }
]
