examples/opcua-iiot-browser-read.json
[
  {
    "id": "4b36432f.1ed3cc",
    "type": "tab",
    "label": "IIoT Browse And Read",
    "disabled": false,
    "info": ""
  },
  {
    "id": "23c062ba.dec65e",
    "type": "OPCUA-IIoT-Browser",
    "z": "4b36432f.1ed3cc",
    "connector": "31ab10c.c0f77f",
    "nodeId": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 330,
    "y": 120,
    "wires": [
      [
        "7654330.d1c53cc",
        "648b0815.6f39f8",
        "d7954a0.3cb07b8",
        "91213573.3bfb78"
      ]
    ]
  },
  {
    "id": "7654330.d1c53cc",
    "type": "ui_template",
    "z": "4b36432f.1ed3cc",
    "group": "95160375.96b4e",
    "name": "",
    "order": 0,
    "width": 0,
    "height": 0,
    "format": "<div layout=\"column\" layout-align=\"space-between\">\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <p>{{msg.payload.endpoint}}</p>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <p>{{msg.payload.browseTopic}} with {{msg.payload.browserResultCount}} references</p>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <h1>Results</h1>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <select ng-model=\"item\" ng-options=\"item.displayName.text for item in msg.payload.browserItems\">\n            <option value=\"\">-- Root --</option>\n        </select>\n        <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">Browse</button>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <div>\n            <ul>\n                <li ng-repeat=\"item in msg.payload.browserItems\">\n                  {{item.displayName.text}} ( {{item.nodeId}} - {{item.browseName}})\n                </li>\n            </ul>\n        </div>\n    </div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 330,
    "y": 60,
    "wires": [
      [
        "23c062ba.dec65e",
        "3c2e5b7c.f1f214"
      ]
    ]
  },
  {
    "id": "648b0815.6f39f8",
    "type": "debug",
    "z": "4b36432f.1ed3cc",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 510,
    "y": 220,
    "wires": []
  },
  {
    "id": "3dcd6539.7ff07a",
    "type": "OPCUA-IIoT-Inject",
    "z": "4b36432f.1ed3cc",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Root",
    "addressSpaceItems": [
      {
        "name": "BiancoRoyal",
        "nodeId": "ns=4;i=1234",
        "datatypeName": ""
      }
    ],
    "x": 140,
    "y": 120,
    "wires": [
      [
        "23c062ba.dec65e",
        "5c7889b4.5b6a38"
      ]
    ]
  },
  {
    "id": "d7954a0.3cb07b8",
    "type": "OPCUA-IIoT-Response",
    "z": "4b36432f.1ed3cc",
    "name": "",
    "x": 520,
    "y": 100,
    "wires": [
      [
        "748a193b.03ac78"
      ]
    ]
  },
  {
    "id": "748a193b.03ac78",
    "type": "debug",
    "z": "4b36432f.1ed3cc",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 760,
    "y": 100,
    "wires": []
  },
  {
    "id": "91213573.3bfb78",
    "type": "OPCUA-IIoT-Read",
    "z": "4b36432f.1ed3cc",
    "attributeId": "13",
    "maxAge": "0",
    "depth": 1,
    "connector": "31ab10c.c0f77f",
    "name": "Read browsed NodeIds",
    "justValue": true,
    "multipleRequest": true,
    "metaDataInject": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 570,
    "y": 160,
    "wires": [
      [
        "56437d8e.54ce54"
      ]
    ]
  },
  {
    "id": "56437d8e.54ce54",
    "type": "OPCUA-IIoT-Response",
    "z": "4b36432f.1ed3cc",
    "name": "",
    "x": 760,
    "y": 160,
    "wires": [
      [
        "d8ad1459.8d1fd8"
      ]
    ]
  },
  {
    "id": "d8ad1459.8d1fd8",
    "type": "debug",
    "z": "4b36432f.1ed3cc",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 920,
    "y": 160,
    "wires": []
  },
  {
    "id": "5c7889b4.5b6a38",
    "type": "debug",
    "z": "4b36432f.1ed3cc",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 330,
    "y": 220,
    "wires": []
  },
  {
    "id": "3c2e5b7c.f1f214",
    "type": "debug",
    "z": "4b36432f.1ed3cc",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 510,
    "y": 60,
    "wires": []
  },
  {
    "id": "31ab10c.c0f77f",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": true,
    "name": "LOCAL SERVER",
    "showStatusActivities": false,
    "showErrors": false
  },
  {
    "id": "95160375.96b4e",
    "type": "ui_group",
    "z": "",
    "name": "Default",
    "tab": "852ae1.eacca52",
    "disp": true,
    "width": "10"
  },
  {
    "id": "852ae1.eacca52",
    "type": "ui_tab",
    "z": "4b36432f.1ed3cc",
    "name": "Node-RED OPC UA IIoT",
    "icon": "dashboard"
  }
]
