examples/opcua-iiot-listener.json
[
  {
    "id": "e400eda1.fb9ce",
    "type": "tab",
    "label": "IIoT OPC UA Listener",
    "disabled": false,
    "info": ""
  },
  {
    "id": "8ec7ae43.208c4",
    "type": "OPCUA-IIoT-Listener",
    "z": "e400eda1.fb9ce",
    "connector": "f65000e.85f4f",
    "action": "subscribe",
    "queueSize": "10",
    "name": "",
    "justValue": false,
    "metaDataInject": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 500,
    "y": 280,
    "wires": [
      [
        "4fec0e45.4f4e2",
        "5ca5796.3564288",
        "ceb1553f.9caa28",
        "1ae1adf5.beda02",
        "44e3dd9d.c54094",
        "11306ac2.359045"
      ],
      [
        "7b5348e9.ae8678",
        "b7f33bfd.1d6a38"
      ]
    ]
  },
  {
    "id": "803f09dc.688a28",
    "type": "ui_gauge",
    "z": "e400eda1.fb9ce",
    "name": "",
    "group": "95442018.8794f",
    "order": 1,
    "width": "0",
    "height": "0",
    "gtype": "gage",
    "title": "TestReadWrite",
    "label": "units",
    "format": "{{value}}",
    "min": "0",
    "max": "65000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 960,
    "y": 200,
    "wires": []
  },
  {
    "id": "7b5348e9.ae8678",
    "type": "OPCUA-IIoT-Response",
    "z": "e400eda1.fb9ce",
    "name": "",
    "x": 700,
    "y": 460,
    "wires": [
      [
        "9affe70a.f18368"
      ]
    ]
  },
  {
    "id": "fd7eb3f2.b8c2b",
    "type": "ui_button",
    "z": "e400eda1.fb9ce",
    "name": "Node Two",
    "group": "95442018.8794f",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "sub / unsub",
    "color": "",
    "bgcolor": "",
    "icon": "fa-tachometer",
    "payload": "{ \"interval\": 500, \"queueSize\": 1 }",
    "payloadType": "str",
    "topic": "",
    "x": 140,
    "y": 200,
    "wires": [
      [
        "6173f154.74b26"
      ]
    ]
  },
  {
    "id": "e66fc504.d2d2b8",
    "type": "ui_numeric",
    "z": "e400eda1.fb9ce",
    "name": "",
    "label": "Sessions",
    "group": "c6c74e6f.980e4",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "topic": "",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "step": 1,
    "x": 940,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "4ec03ebf.f4ef3",
    "type": "ui_button",
    "z": "e400eda1.fb9ce",
    "name": "Node One",
    "group": "c6c74e6f.980e4",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "sub / unsub",
    "color": "",
    "bgcolor": "",
    "icon": "fa-tachometer",
    "payload": "{ \"interval\": 1000, \"queueSize\": 1 }",
    "payloadType": "str",
    "topic": "",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "c7abb5f1.df2388"
      ]
    ]
  },
  {
    "id": "737a1032.2c1a6",
    "type": "OPCUA-IIoT-Inject",
    "z": "e400eda1.fb9ce",
    "injectType": "listen",
    "payload": "{ \"interval\": 500, \"queueSize\": 10 }",
    "payloadType": "json",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Start Abo",
    "addressSpaceItems": [
      {
        "name": "Counter",
        "nodeId": "ns=4;s=Counter",
        "datatypeName": ""
      },
      {
        "name": "FullCounter",
        "nodeId": "ns=4;s=FullCounter",
        "datatypeName": ""
      }
    ],
    "x": 160,
    "y": 280,
    "wires": [
      [
        "8ec7ae43.208c4"
      ]
    ]
  },
  {
    "id": "9affe70a.f18368",
    "type": "debug",
    "z": "e400eda1.fb9ce",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 910,
    "y": 460,
    "wires": []
  },
  {
    "id": "4fec0e45.4f4e2",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "e400eda1.fb9ce",
    "nodeId": "ns=4;s=TestReadWrite",
    "datatype": "Double",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": false,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "TestReadWrite",
    "name": "TestReadWrite Filter",
    "x": 740,
    "y": 180,
    "wires": [
      [
        "803f09dc.688a28",
        "214efcc2.72df74",
        "db085c25.7c02d"
      ],
      []
    ]
  },
  {
    "id": "5ca5796.3564288",
    "type": "debug",
    "z": "e400eda1.fb9ce",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 690,
    "y": 80,
    "wires": []
  },
  {
    "id": "b7f33bfd.1d6a38",
    "type": "debug",
    "z": "e400eda1.fb9ce",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 690,
    "y": 420,
    "wires": []
  },
  {
    "id": "ceb1553f.9caa28",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "e400eda1.fb9ce",
    "nodeId": "ns=0;i=2277",
    "datatype": "UInt32",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": false,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "Sessions",
    "name": "Session Count Filter",
    "x": 740,
    "y": 240,
    "wires": [
      [
        "e66fc504.d2d2b8",
        "db085c25.7c02d"
      ],
      []
    ]
  },
  {
    "id": "1ae1adf5.beda02",
    "type": "OPCUA-IIoT-Response",
    "z": "e400eda1.fb9ce",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 700,
    "y": 120,
    "wires": [
      [
        "68ca5a46.275d44"
      ]
    ]
  },
  {
    "id": "68ca5a46.275d44",
    "type": "debug",
    "z": "e400eda1.fb9ce",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 890,
    "y": 120,
    "wires": []
  },
  {
    "id": "c7abb5f1.df2388",
    "type": "OPCUA-IIoT-Node",
    "z": "e400eda1.fb9ce",
    "nodeId": "ns=0;i=2277",
    "datatype": "NodeId",
    "value": "",
    "usingListener": true,
    "name": "",
    "x": 330,
    "y": 120,
    "wires": [
      [
        "8ec7ae43.208c4"
      ]
    ]
  },
  {
    "id": "6173f154.74b26",
    "type": "OPCUA-IIoT-Node",
    "z": "e400eda1.fb9ce",
    "nodeId": "ns=4;s=TestReadWrite",
    "datatype": "NodeId",
    "value": "",
    "usingListener": true,
    "name": "",
    "x": 330,
    "y": 200,
    "wires": [
      [
        "8ec7ae43.208c4"
      ]
    ]
  },
  {
    "id": "d417d49d.6e1588",
    "type": "ui_gauge",
    "z": "e400eda1.fb9ce",
    "name": "",
    "group": "34ffc01f.18e7b",
    "order": 1,
    "width": "0",
    "height": "0",
    "gtype": "gage",
    "title": "FullCounter",
    "label": "units",
    "format": "{{value}}",
    "min": "-100000",
    "max": "100000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 950,
    "y": 320,
    "wires": []
  },
  {
    "id": "44e3dd9d.c54094",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "e400eda1.fb9ce",
    "nodeId": "ns=4;s=FullCounter",
    "datatype": "Int32",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": false,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "FullCounter",
    "name": "Full Counter Filter",
    "x": 730,
    "y": 300,
    "wires": [
      [
        "d417d49d.6e1588",
        "cf9b5cf1.2d9a6",
        "db085c25.7c02d"
      ],
      []
    ]
  },
  {
    "id": "11306ac2.359045",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "e400eda1.fb9ce",
    "nodeId": "ns=4;s=Counter",
    "datatype": "UInt16",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": false,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "Counter",
    "name": "Counter Filter",
    "x": 720,
    "y": 360,
    "wires": [
      [
        "48fa2eed.7785c",
        "db085c25.7c02d"
      ],
      []
    ]
  },
  {
    "id": "48fa2eed.7785c",
    "type": "ui_gauge",
    "z": "e400eda1.fb9ce",
    "name": "",
    "group": "34ffc01f.18e7b",
    "order": 1,
    "width": "0",
    "height": "0",
    "gtype": "gage",
    "title": "Counter",
    "label": "units",
    "format": "{{value}}",
    "min": "0",
    "max": "66000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 940,
    "y": 360,
    "wires": []
  },
  {
    "id": "cf9b5cf1.2d9a6",
    "type": "debug",
    "z": "e400eda1.fb9ce",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 280,
    "wires": []
  },
  {
    "id": "214efcc2.72df74",
    "type": "debug",
    "z": "e400eda1.fb9ce",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 160,
    "wires": []
  },
  {
    "id": "ca3f97d7.3c5fa8",
    "type": "inject",
    "z": "e400eda1.fb9ce",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 160,
    "y": 160,
    "wires": [
      [
        "c7abb5f1.df2388"
      ]
    ]
  },
  {
    "id": "53be89b2.2c09d8",
    "type": "inject",
    "z": "e400eda1.fb9ce",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 160,
    "y": 240,
    "wires": [
      [
        "6173f154.74b26"
      ]
    ]
  },
  {
    "id": "db085c25.7c02d",
    "type": "ui_chart",
    "z": "e400eda1.fb9ce",
    "name": "",
    "group": "36611ff8.e1d95",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "chart",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "5",
    "removeOlderPoints": "100",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 940,
    "y": 420,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "f65000e.85f4f",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "opc.tcp://innoreactor.local:55388/",
    "endpoint": "opc.tcp://innoreactor.local:55388/UA/NodeREDIIoTServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "",
    "endpointMusExist": false
  },
  {
    "id": "95442018.8794f",
    "type": "ui_group",
    "z": "",
    "name": "GenData",
    "tab": "feffe3c5.5760a",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "c6c74e6f.980e4",
    "type": "ui_group",
    "z": "",
    "name": "Sessions",
    "tab": "feffe3c5.5760a",
    "order": 2,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "34ffc01f.18e7b",
    "type": "ui_group",
    "z": "e400eda1.fb9ce",
    "name": "Counters (Start Abo)",
    "tab": "feffe3c5.5760a",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "36611ff8.e1d95",
    "type": "ui_group",
    "z": "",
    "name": "Bianco Royal",
    "tab": "34bd0e54.e03b82",
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "feffe3c5.5760a",
    "type": "ui_tab",
    "z": "e400eda1.fb9ce",
    "name": "Node-RED OPC UA IIoT",
    "icon": "dashboard"
  },
  {
    "id": "34bd0e54.e03b82",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard"
  }
]
