examples/opcua-iiot-browser-read.json
[
  {
    "id": "3c9d7aa6.1a6a4e",
    "type": "tab",
    "label": "IIoT Browse And Read",
    "disabled": false,
    "info": ""
  },
  {
    "id": "eded6c05.9b7488",
    "type": "OPCUA-IIoT-Browser",
    "z": "3c9d7aa6.1a6a4e",
    "connector": "15b7d82c.f855e8",
    "nodeId": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 330,
    "y": 120,
    "wires": [
      [
        "1cb79501.d4d073",
        "2c3a6754.8c07f",
        "9891efa1.f529d",
        "64bf9b56.6a4314",
        "7768f1e2.af983"
      ]
    ]
  },
  {
    "id": "1cb79501.d4d073",
    "type": "ui_template",
    "z": "3c9d7aa6.1a6a4e",
    "group": "c2639dd.dc2c3e",
    "name": "",
    "order": 0,
    "width": "12",
    "height": "14",
    "format": "<div layout=\"column\" layout-align=\"space-between\">\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <p>{{msg.payload.endpoint}}</p>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <p>{{msg.payload.browseTopic}} with {{msg.payload.browserResultCount}} references</p>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <h1>Results</h1>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <select ng-model=\"item\" ng-options=\"item.displayName.text for item in msg.payload.browserItems\">\n            <option value=\"\">-- Root --</option>\n        </select>\n        <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">Browse</button>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <div>\n            <ul>\n                <li ng-repeat=\"item in msg.payload.browserItems\">\n                  {{item.displayName.text}} ( {{item.nodeId}} - {{item.browseName}})\n                </li>\n            </ul>\n        </div>\n    </div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 330,
    "y": 60,
    "wires": [
      [
        "eded6c05.9b7488",
        "bf867198.787e"
      ]
    ]
  },
  {
    "id": "2c3a6754.8c07f",
    "type": "debug",
    "z": "3c9d7aa6.1a6a4e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 510,
    "y": 280,
    "wires": []
  },
  {
    "id": "8d125437.d8b9c",
    "type": "OPCUA-IIoT-Inject",
    "z": "3c9d7aa6.1a6a4e",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Root",
    "addressSpaceItems": [
      {
        "name": "Tanks",
        "nodeId": "ns=1;i=1000",
        "datatypeName": ""
      }
    ],
    "x": 140,
    "y": 120,
    "wires": [
      [
        "eded6c05.9b7488",
        "994bb92f.fe542"
      ]
    ]
  },
  {
    "id": "9891efa1.f529d",
    "type": "OPCUA-IIoT-Response",
    "z": "3c9d7aa6.1a6a4e",
    "name": "",
    "x": 520,
    "y": 100,
    "wires": [
      [
        "2e112a95.9335b6"
      ]
    ]
  },
  {
    "id": "2e112a95.9335b6",
    "type": "debug",
    "z": "3c9d7aa6.1a6a4e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 760,
    "y": 100,
    "wires": []
  },
  {
    "id": "64bf9b56.6a4314",
    "type": "OPCUA-IIoT-Read",
    "z": "3c9d7aa6.1a6a4e",
    "attributeId": "0",
    "maxAge": "0",
    "depth": 1,
    "connector": "15b7d82c.f855e8",
    "name": "Read browsed All",
    "justValue": true,
    "multipleRequest": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 550,
    "y": 160,
    "wires": [
      [
        "75c637c9.e0d658"
      ]
    ]
  },
  {
    "id": "75c637c9.e0d658",
    "type": "OPCUA-IIoT-Response",
    "z": "3c9d7aa6.1a6a4e",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 760,
    "y": 160,
    "wires": [
      [
        "ac316265.411448"
      ]
    ]
  },
  {
    "id": "ac316265.411448",
    "type": "debug",
    "z": "3c9d7aa6.1a6a4e",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 920,
    "y": 160,
    "wires": []
  },
  {
    "id": "994bb92f.fe542",
    "type": "debug",
    "z": "3c9d7aa6.1a6a4e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 330,
    "y": 220,
    "wires": []
  },
  {
    "id": "bf867198.787e",
    "type": "debug",
    "z": "3c9d7aa6.1a6a4e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 510,
    "y": 60,
    "wires": []
  },
  {
    "id": "7768f1e2.af983",
    "type": "OPCUA-IIoT-Read",
    "z": "3c9d7aa6.1a6a4e",
    "attributeId": "13",
    "maxAge": "0",
    "depth": 1,
    "connector": "15b7d82c.f855e8",
    "name": "Read browsed Values",
    "justValue": true,
    "multipleRequest": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 220,
    "wires": [
      [
        "643dacd2.5eb3ec"
      ]
    ]
  },
  {
    "id": "643dacd2.5eb3ec",
    "type": "OPCUA-IIoT-Response",
    "z": "3c9d7aa6.1a6a4e",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 760,
    "y": 220,
    "wires": [
      [
        "fe316356.54ec3"
      ]
    ]
  },
  {
    "id": "fe316356.54ec3",
    "type": "debug",
    "z": "3c9d7aa6.1a6a4e",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 920,
    "y": 220,
    "wires": []
  },
  {
    "id": "134d7d71.9db4d3",
    "type": "comment",
    "z": "3c9d7aa6.1a6a4e",
    "name": "Please, check the port of LOCAL SERVER connector!",
    "info": "default ports: \n\n    55388 for the OPC UA IIoT Server\n\n    55380 for the OPC UA IIoT Flex Server",
    "x": 800,
    "y": 60,
    "wires": []
  },
  {
    "id": "15b7d82c.f855e8",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "endpoint": "opc.tcp://localhost:55380/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL SERVER",
    "showStatusActivities": false,
    "showErrors": false
  },
  {
    "id": "c2639dd.dc2c3e",
    "type": "ui_group",
    "z": "",
    "name": "Default",
    "tab": "835f160.4b91468",
    "disp": true,
    "width": "12"
  },
  {
    "id": "835f160.4b91468",
    "type": "ui_tab",
    "z": "3c9d7aa6.1a6a4e",
    "name": "Node-RED OPC UA IIoT",
    "icon": "dashboard"
  }
]
