examples/opcua-iiot-write.json
[
  {
    "id": "17f29557.91811b",
    "type": "OPCUA-IIoT-Write",
    "z": "e1aa872f.8c2da8",
    "connector": "ad67d93b.313ac8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 470,
    "y": 740,
    "wires": [
      [
        "fadbd756.c69778",
        "d674077e.d67238",
        "ca8abbe6.6d98b8",
        "ac2e529.4770cb"
      ]
    ]
  },
  {
    "id": "c596f886.2f83c8",
    "type": "OPCUA-IIoT-Inject",
    "z": "e1aa872f.8c2da8",
    "payload": "",
    "payloadType": "num",
    "topic": "ns=4;s=TestReadWrite",
    "datatype": "Double",
    "repeat": "0.5",
    "crontab": "",
    "once": false,
    "name": "TestReadWrite",
    "x": 160,
    "y": 740,
    "wires": [
      [
        "5a2a99cf.7f47c8"
      ]
    ]
  },
  {
    "id": "5a2a99cf.7f47c8",
    "type": "data-generator",
    "z": "e1aa872f.8c2da8",
    "name": "dGen",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "json",
    "template": "{{int 1 65000}}",
    "x": 330,
    "y": 740,
    "wires": [
      [
        "17f29557.91811b"
      ]
    ]
  },
  {
    "id": "68b7a01c.a0028",
    "type": "debug",
    "z": "e1aa872f.8c2da8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 830,
    "y": 740,
    "wires": []
  },
  {
    "id": "fadbd756.c69778",
    "type": "function",
    "z": "e1aa872f.8c2da8",
    "name": "",
    "func": "msg.payload = msg.payload[0].value\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 630,
    "y": 740,
    "wires": [
      [
        "68b7a01c.a0028"
      ]
    ]
  },
  {
    "id": "d674077e.d67238",
    "type": "debug",
    "z": "e1aa872f.8c2da8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "diagnostics",
    "x": 660,
    "y": 780,
    "wires": []
  },
  {
    "id": "ca8abbe6.6d98b8",
    "type": "debug",
    "z": "e1aa872f.8c2da8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 650,
    "y": 820,
    "wires": []
  },
  {
    "id": "ac2e529.4770cb",
    "type": "debug",
    "z": "e1aa872f.8c2da8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 630,
    "y": 860,
    "wires": []
  },
  {
    "id": "ad67d93b.313ac8",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "endpoint": "opc.tcp://localhost:55388/UA/NodeREDIIoTServer",
    "keepSessionAlive": true,
    "loginEnabled": true,
    "securityPolicy": "Basic256",
    "securityMode": "SIGNANDENCRYPT",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false
  }
]
