examples/opcua-iiot-write.json
[
  {
    "id": "ef98d8e1.2acef8",
    "type": "OPCUA-IIoT-Write",
    "z": "85fe3dba.c9555",
    "connector": "a9f2b342.7fec4",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 430,
    "y": 320,
    "wires": [
      [
        "e162044e.e5e3e8",
        "d2faafe4.a1a4b",
        "c97d750d.1fb828"
      ]
    ]
  },
  {
    "id": "53290e33.5827b",
    "type": "OPCUA-IIoT-Inject",
    "z": "85fe3dba.c9555",
    "payload": "2",
    "payloadType": "num",
    "topic": "ns=1;s=TestReadWrite",
    "datatype": "Double",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "name": "TestReadWrite",
    "x": 160,
    "y": 320,
    "wires": [
      [
        "f715a4dc.b24068"
      ]
    ]
  },
  {
    "id": "e162044e.e5e3e8",
    "type": "OPCUA-IIoT-Response",
    "z": "85fe3dba.c9555",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 600,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "d2faafe4.a1a4b",
    "type": "debug",
    "z": "85fe3dba.c9555",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 590,
    "y": 300,
    "wires": []
  },
  {
    "id": "c97d750d.1fb828",
    "type": "debug",
    "z": "85fe3dba.c9555",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 610,
    "y": 260,
    "wires": []
  },
  {
    "id": "f715a4dc.b24068",
    "type": "data-generator",
    "z": "85fe3dba.c9555",
    "name": "dGen",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "json",
    "template": "{{int 1 65000}}",
    "x": 310,
    "y": 320,
    "wires": [
      [
        "ef98d8e1.2acef8"
      ]
    ]
  },
  {
    "id": "a9f2b342.7fec4",
    "type": "OPCUA-IIoT-Connector",
    "z": "85fe3dba.c9555",
    "endpoint": "opc.tcp://localhost:55388/",
    "loginEnabled": true,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false
  }
]
