examples/opcua-iiot-listener.json
[
  {
    "id": "bf33b14d.dc28f",
    "type": "OPCUA-IIoT-Listener",
    "z": "85c09234.fa528",
    "connector": "8cdf49b0.8ba2f8",
    "action": "subscribe",
    "queueSize": "10",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 380,
    "y": 60,
    "wires": [
      [
        "7848325e.630b6c"
      ],
      [
        "6e2b7ead.94118"
      ]
    ]
  },
  {
    "id": "7848325e.630b6c",
    "type": "ui_gauge",
    "z": "85c09234.fa528",
    "name": "",
    "group": "c69f5775.344ed8",
    "order": 2,
    "width": "0",
    "height": "0",
    "gtype": "gage",
    "title": "Listener",
    "label": "units",
    "format": "",
    "min": "-2000",
    "max": "66000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 540,
    "y": 40,
    "wires": []
  },
  {
    "id": "6e2b7ead.94118",
    "type": "OPCUA-IIoT-Response",
    "z": "85c09234.fa528",
    "name": "",
    "x": 540,
    "y": 80,
    "wires": [
      [
        "a1c74b19.4bcd58"
      ]
    ]
  },
  {
    "id": "5a22a8c1.da8ba8",
    "type": "ui_button",
    "z": "85c09234.fa528",
    "name": "",
    "group": "c69f5775.344ed8",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "subscribe / unsubscribe",
    "color": "",
    "bgcolor": "",
    "icon": "fa-tachometer",
    "payload": "",
    "payloadType": "str",
    "topic": "ns=1;s=TestReadWrite",
    "x": 150,
    "y": 40,
    "wires": [
      [
        "bf33b14d.dc28f"
      ]
    ]
  },
  {
    "id": "9e948ae3.732048",
    "type": "OPCUA-IIoT-Listener",
    "z": "85c09234.fa528",
    "connector": "8cdf49b0.8ba2f8",
    "action": "subscribe",
    "queueSize": "1",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 380,
    "y": 160,
    "wires": [
      [
        "37524b22.b1fa24"
      ],
      [
        "56c7d2b4.f5f6bc"
      ]
    ]
  },
  {
    "id": "56c7d2b4.f5f6bc",
    "type": "OPCUA-IIoT-Response",
    "z": "85c09234.fa528",
    "name": "",
    "x": 540,
    "y": 180,
    "wires": [
      [
        "321fa23e.d4348e"
      ]
    ]
  },
  {
    "id": "37524b22.b1fa24",
    "type": "ui_numeric",
    "z": "85c09234.fa528",
    "name": "",
    "label": "Sessions",
    "group": "c69f5775.344ed8",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "topic": "",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "step": 1,
    "x": 540,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "8f4153a6.6d68e",
    "type": "ui_button",
    "z": "85c09234.fa528",
    "name": "",
    "group": "c69f5775.344ed8",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "subscribe / unsubscribe",
    "color": "",
    "bgcolor": "",
    "icon": "fa-tachometer",
    "payload": "{ \"queueSize\": 1 }",
    "payloadType": "str",
    "topic": "ns=0;i=2277",
    "x": 150,
    "y": 140,
    "wires": [
      [
        "9e948ae3.732048"
      ]
    ]
  },
  {
    "id": "321fa23e.d4348e",
    "type": "debug",
    "z": "85c09234.fa528",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 690,
    "y": 180,
    "wires": []
  },
  {
    "id": "af63ede.6ec991",
    "type": "OPCUA-IIoT-Inject",
    "z": "85c09234.fa528",
    "payload": "{ \"queueSize\": 10 }",
    "payloadType": "json",
    "topic": "ns=1;s=TestReadWrite",
    "datatype": "Double",
    "repeat": "",
    "crontab": "",
    "once": false,
    "name": "TestReadWrite Abo",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "bf33b14d.dc28f"
      ]
    ]
  },
  {
    "id": "7700f538.64418c",
    "type": "OPCUA-IIoT-Inject",
    "z": "85c09234.fa528",
    "payload": "{ \"queueSize\": 1 }",
    "payloadType": "json",
    "topic": "ns=0;i=2277",
    "datatype": "UInt32",
    "repeat": "",
    "crontab": "",
    "once": true,
    "name": "Session Count",
    "x": 140,
    "y": 180,
    "wires": [
      [
        "9e948ae3.732048"
      ]
    ]
  },
  {
    "id": "a1c74b19.4bcd58",
    "type": "debug",
    "z": "85c09234.fa528",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 690,
    "y": 80,
    "wires": []
  },
  {
    "id": "8cdf49b0.8ba2f8",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "loginEnabled": true,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "SERVER ONE",
    "showStatusActivities": false,
    "showErrors": false
  },
  {
    "id": "c69f5775.344ed8",
    "type": "ui_group",
    "z": "85c09234.fa528",
    "name": "Client",
    "tab": "6e0b8a.47b26478",
    "disp": true,
    "width": "9"
  },
  {
    "id": "6e0b8a.47b26478",
    "type": "ui_tab",
    "z": "85c09234.fa528",
    "name": "Node-RED OPC UA IIoT",
    "icon": "dashboard"
  }
]
