examples/opcua-iiot-read.json
[
  {
    "id": "1f297187.913c3e",
    "type": "OPCUA-IIoT-Read",
    "z": "e1aa872f.8c2da8",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "ad67d93b.313ac8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 430,
    "y": 500,
    "wires": [
      [
        "ccb1ee4f.2e16f",
        "369baf03.550cb",
        "e6532c9c.f0036",
        "a2fb0881.5b5a98"
      ]
    ]
  },
  {
    "id": "f432b594.b87178",
    "type": "debug",
    "z": "e1aa872f.8c2da8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 790,
    "y": 500,
    "wires": []
  },
  {
    "id": "c3cdd0cf.45fda",
    "type": "OPCUA-IIoT-Inject",
    "z": "e1aa872f.8c2da8",
    "payload": "",
    "payloadType": "num",
    "topic": "ns=4;s=TestReadWrite",
    "datatype": "Double",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "name": "",
    "x": 250,
    "y": 500,
    "wires": [
      [
        "1f297187.913c3e"
      ]
    ]
  },
  {
    "id": "ccb1ee4f.2e16f",
    "type": "function",
    "z": "e1aa872f.8c2da8",
    "name": "",
    "func": "msg.payload = msg.payload[0].value\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 500,
    "wires": [
      [
        "f432b594.b87178"
      ]
    ]
  },
  {
    "id": "369baf03.550cb",
    "type": "debug",
    "z": "e1aa872f.8c2da8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "diagnostics",
    "x": 620,
    "y": 540,
    "wires": []
  },
  {
    "id": "e6532c9c.f0036",
    "type": "debug",
    "z": "e1aa872f.8c2da8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 610,
    "y": 580,
    "wires": []
  },
  {
    "id": "a2fb0881.5b5a98",
    "type": "debug",
    "z": "e1aa872f.8c2da8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 590,
    "y": 620,
    "wires": []
  },
  {
    "id": "ad67d93b.313ac8",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "endpoint": "opc.tcp://localhost:55388/UA/NodeREDIIoTServer",
    "keepSessionAlive": true,
    "loginEnabled": true,
    "securityPolicy": "Basic256",
    "securityMode": "SIGNANDENCRYPT",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false
  }
]
