examples/opcua-iiot-read.json
[
  {
    "id": "517e2e8e.d1f75",
    "type": "OPCUA-IIoT-Server",
    "z": "85fe3dba.c9555",
    "port": "55388",
    "endpoint": "",
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 310,
    "y": 480,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "228161a4.0938fe",
    "type": "OPCUA-IIoT-Inject",
    "z": "85fe3dba.c9555",
    "payload": "2",
    "payloadType": "num",
    "topic": "ns=1;s=TestReadWrite",
    "datatype": "Double",
    "repeat": "",
    "crontab": "",
    "once": false,
    "name": "TestReadWrite",
    "x": 140,
    "y": 360,
    "wires": [
      [
        "88e1ee2e.93b1a"
      ]
    ]
  },
  {
    "id": "88e1ee2e.93b1a",
    "type": "OPCUA-IIoT-Read",
    "z": "85fe3dba.c9555",
    "attributeId": "99",
    "maxAge": 0,
    "depth": "3",
    "connector": "a9f2b342.7fec4",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 330,
    "y": 360,
    "wires": [
      [
        "a22e3e45.b50bb",
        "74811683.6d1558",
        "89c6be0a.177f5"
      ]
    ]
  },
  {
    "id": "a22e3e45.b50bb",
    "type": "debug",
    "z": "85fe3dba.c9555",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 490,
    "y": 360,
    "wires": []
  },
  {
    "id": "e019aa97.40cde8",
    "type": "OPCUA-IIoT-Inject",
    "z": "85fe3dba.c9555",
    "payload": "2",
    "payloadType": "num",
    "topic": "ns=4;s=VendorName",
    "datatype": "Null",
    "repeat": "",
    "crontab": "",
    "once": false,
    "name": "VendorName",
    "x": 130,
    "y": 400,
    "wires": [
      [
        "88e1ee2e.93b1a"
      ]
    ]
  },
  {
    "id": "74811683.6d1558",
    "type": "OPCUA-IIoT-Response",
    "z": "85fe3dba.c9555",
    "name": "",
    "x": 500,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "89c6be0a.177f5",
    "type": "debug",
    "z": "85fe3dba.c9555",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 500,
    "y": 320,
    "wires": []
  },
  {
    "id": "a9f2b342.7fec4",
    "type": "OPCUA-IIoT-Connector",
    "z": "85fe3dba.c9555",
    "endpoint": "opc.tcp://localhost:55388/",
    "loginEnabled": true,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false
  }
]
