examples/prosys-simulator.json
[
  {
    "id": "53a638fa.9efff",
    "type": "tab",
    "label": "PROSYS Simulator v232",
    "disabled": false,
    "info": ""
  },
  {
    "id": "263e912c.b64976",
    "type": "OPCUA-IIoT-Inject",
    "z": "53a638fa.9efff",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "MyLevel",
        "nodeId": "ns=2;s=MyLevel",
        "datatypeName": ""
      }
    ],
    "x": 140,
    "y": 80,
    "wires": [
      [
        "77aac387.e9c70c"
      ]
    ]
  },
  {
    "id": "77aac387.e9c70c",
    "type": "OPCUA-IIoT-Read",
    "z": "53a638fa.9efff",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "9b18cf5.86d1d3",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "x": 410,
    "y": 80,
    "wires": [
      [
        "3a176f4e.60beb8"
      ]
    ]
  },
  {
    "id": "3a176f4e.60beb8",
    "type": "OPCUA-IIoT-Response",
    "z": "53a638fa.9efff",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 80,
    "wires": [
      [
        "2d552312.1ea514"
      ]
    ]
  },
  {
    "id": "2d552312.1ea514",
    "type": "debug",
    "z": "53a638fa.9efff",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 80,
    "wires": []
  },
  {
    "id": "93bca58b.062638",
    "type": "OPCUA-IIoT-Inject",
    "z": "53a638fa.9efff",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "MyLevel",
        "nodeId": "ns=2;s=MyDevice",
        "datatypeName": ""
      }
    ],
    "x": 140,
    "y": 200,
    "wires": [
      [
        "76e588d4.b7f288"
      ]
    ]
  },
  {
    "id": "b63ab6db.3098c",
    "type": "OPCUA-IIoT-Read",
    "z": "53a638fa.9efff",
    "attributeId": "0",
    "maxAge": 1,
    "depth": 1,
    "connector": "9b18cf5.86d1d3",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "x": 410,
    "y": 200,
    "wires": [
      [
        "c7fe2bd8.3081b8"
      ]
    ]
  },
  {
    "id": "c7fe2bd8.3081b8",
    "type": "OPCUA-IIoT-Response",
    "z": "53a638fa.9efff",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 200,
    "wires": [
      [
        "250d2a4.193db56"
      ]
    ]
  },
  {
    "id": "250d2a4.193db56",
    "type": "debug",
    "z": "53a638fa.9efff",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 200,
    "wires": []
  },
  {
    "id": "76e588d4.b7f288",
    "type": "OPCUA-IIoT-Browser",
    "z": "53a638fa.9efff",
    "connector": "9b18cf5.86d1d3",
    "nodeId": "",
    "name": "",
    "browseAll": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 280,
    "y": 200,
    "wires": [
      [
        "b63ab6db.3098c"
      ]
    ]
  },
  {
    "id": "9375ef1d.eab548",
    "type": "OPCUA-IIoT-Inject",
    "z": "53a638fa.9efff",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 140,
    "y": 340,
    "wires": [
      [
        "99453e2c.987fc"
      ]
    ]
  },
  {
    "id": "53fa2870.07936",
    "type": "OPCUA-IIoT-Read",
    "z": "53a638fa.9efff",
    "attributeId": "0",
    "maxAge": 1,
    "depth": 1,
    "connector": "9b18cf5.86d1d3",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "x": 410,
    "y": 340,
    "wires": [
      [
        "2bee42ec.564486"
      ]
    ]
  },
  {
    "id": "2bee42ec.564486",
    "type": "OPCUA-IIoT-Response",
    "z": "53a638fa.9efff",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 340,
    "wires": [
      [
        "3c2cc171.f50a86"
      ]
    ]
  },
  {
    "id": "3c2cc171.f50a86",
    "type": "debug",
    "z": "53a638fa.9efff",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 340,
    "wires": []
  },
  {
    "id": "99453e2c.987fc",
    "type": "OPCUA-IIoT-Browser",
    "z": "53a638fa.9efff",
    "connector": "9b18cf5.86d1d3",
    "nodeId": "ns=4;s=NonUaNodeComplianceTest",
    "name": "",
    "browseAll": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 280,
    "y": 340,
    "wires": [
      [
        "53fa2870.07936"
      ]
    ]
  },
  {
    "id": "4a1504d2.cd89a4",
    "type": "comment",
    "z": "53a638fa.9efff",
    "name": "NonUaNodeComplianceTest",
    "info": "",
    "x": 340,
    "y": 300,
    "wires": []
  },
  {
    "id": "382928ea.3141e",
    "type": "comment",
    "z": "53a638fa.9efff",
    "name": "MyDevice",
    "info": "",
    "x": 280,
    "y": 160,
    "wires": []
  },
  {
    "id": "eca915df.6d3c7",
    "type": "OPCUA-IIoT-Inject",
    "z": "53a638fa.9efff",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 140,
    "y": 460,
    "wires": [
      [
        "dc5d7a4b.81e918"
      ]
    ]
  },
  {
    "id": "55b2d204.61969c",
    "type": "OPCUA-IIoT-Response",
    "z": "53a638fa.9efff",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 460,
    "wires": [
      [
        "34cd0d35.ae2aca"
      ]
    ]
  },
  {
    "id": "34cd0d35.ae2aca",
    "type": "debug",
    "z": "53a638fa.9efff",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 460,
    "wires": []
  },
  {
    "id": "dc5d7a4b.81e918",
    "type": "OPCUA-IIoT-Browser",
    "z": "53a638fa.9efff",
    "connector": "9b18cf5.86d1d3",
    "nodeId": "ns=4;s=NonUaNodeComplianceTest",
    "name": "",
    "browseAll": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 280,
    "y": 460,
    "wires": [
      [
        "808910ee.1ac7a"
      ]
    ]
  },
  {
    "id": "808910ee.1ac7a",
    "type": "OPCUA-IIoT-Listener",
    "z": "53a638fa.9efff",
    "connector": "9b18cf5.86d1d3",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 420,
    "y": 460,
    "wires": [
      [
        "55b2d204.61969c"
      ]
    ]
  },
  {
    "id": "7b6399d5.34aec8",
    "type": "OPCUA-IIoT-Inject",
    "z": "53a638fa.9efff",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=4;s=Boolean",
        "datatypeName": "Boolean"
      },
      {
        "name": "",
        "nodeId": "ns=4;s=Double",
        "datatypeName": "Double"
      },
      {
        "name": "",
        "nodeId": "ns=4;s=DateTime",
        "datatypeName": "DateTime"
      },
      {
        "name": "",
        "nodeId": "ns=4;s=Float",
        "datatypeName": "Float"
      }
    ],
    "x": 140,
    "y": 560,
    "wires": [
      [
        "3bcadf6e.e00528"
      ]
    ]
  },
  {
    "id": "b9bbc2a7.3584e",
    "type": "OPCUA-IIoT-Write",
    "z": "53a638fa.9efff",
    "connector": "9b18cf5.86d1d3",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 410,
    "y": 580,
    "wires": [
      [
        "e50d9850.108ed8"
      ]
    ]
  },
  {
    "id": "e50d9850.108ed8",
    "type": "OPCUA-IIoT-Response",
    "z": "53a638fa.9efff",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 580,
    "wires": [
      [
        "f48a035d.3de78"
      ]
    ]
  },
  {
    "id": "f48a035d.3de78",
    "type": "debug",
    "z": "53a638fa.9efff",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 580,
    "wires": []
  },
  {
    "id": "3bcadf6e.e00528",
    "type": "function",
    "z": "53a638fa.9efff",
    "name": "values",
    "func": "msg.valuesToWrite = [\n false,\n 34006.66,\n new Date(),\n 27.88\n]\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 270,
    "y": 560,
    "wires": [
      [
        "b9bbc2a7.3584e"
      ]
    ]
  },
  {
    "id": "77016742.8e007",
    "type": "OPCUA-IIoT-Inject",
    "z": "53a638fa.9efff",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=4;s=Boolean",
        "datatypeName": "Boolean"
      },
      {
        "name": "",
        "nodeId": "ns=4;s=Double",
        "datatypeName": "Double"
      },
      {
        "name": "",
        "nodeId": "ns=4;s=DateTime",
        "datatypeName": "DateTime"
      },
      {
        "name": "",
        "nodeId": "ns=4;s=Float",
        "datatypeName": "Float"
      }
    ],
    "x": 140,
    "y": 600,
    "wires": [
      [
        "7e00488a.b2588"
      ]
    ]
  },
  {
    "id": "7e00488a.b2588",
    "type": "function",
    "z": "53a638fa.9efff",
    "name": "values",
    "func": "msg.valuesToWrite = [\n true,\n 33007.77,\n new Date(),\n 23.44\n]\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 270,
    "y": 600,
    "wires": [
      [
        "b9bbc2a7.3584e"
      ]
    ]
  },
  {
    "id": "35e6b212.a3fc86",
    "type": "comment",
    "z": "53a638fa.9efff",
    "name": "NonUaNodeComplianceTest listening",
    "info": "",
    "x": 370,
    "y": 420,
    "wires": []
  },
  {
    "id": "9b18cf5.86d1d3",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://DESKTOP-CNF0DGE.local:53530/OPCUA/SimulationServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "PROSYS SERVER",
    "showStatusActivities": false,
    "showErrors": true,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": true
  }
]
