examples/SDM630toOPCUA.json
[
  {
    "id": "35e2494e.716e26",
    "type": "tab",
    "label": "SDM630 Modbus Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "663e80c7.23d63",
    "type": "tab",
    "label": "SDM630 dynamic",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ee109a8a.1bcb98",
    "type": "tab",
    "label": "SDM630 static",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b217ab93.3265e8",
    "type": "subflow",
    "name": "OPC UA Server",
    "info": "",
    "in": [
      {
        "x": 80,
        "y": 90,
        "wires": [
          {
            "id": "d4408129.40eb8"
          }
        ]
      }
    ],
    "out": []
  },
  {
    "id": "20c482f0.683d1e",
    "type": "subflow",
    "name": "Model",
    "info": "",
    "in": [],
    "out": [
      {
        "x": 680,
        "y": 390,
        "wires": [
          {
            "id": "a08261a8.38f07",
            "port": 0
          },
          {
            "id": "ee505012.b2d27",
            "port": 0
          },
          {
            "id": "9db59194.fb04d",
            "port": 0
          },
          {
            "id": "a925d499.1bc338",
            "port": 0
          },
          {
            "id": "34e5e472.25737c",
            "port": 0
          },
          {
            "id": "dfbdb853.f9ced8",
            "port": 0
          },
          {
            "id": "73e77645.a56c58",
            "port": 0
          },
          {
            "id": "3caf49a8.c28b66",
            "port": 0
          },
          {
            "id": "3c2cdc02.99b7e4",
            "port": 0
          },
          {
            "id": "89d4fb5e.e25fd8",
            "port": 0
          },
          {
            "id": "11b7367e.98c26a",
            "port": 0
          },
          {
            "id": "2f6f3c3c.6aa594",
            "port": 0
          },
          {
            "id": "a0bf826e.f4de",
            "port": 0
          },
          {
            "id": "194d58e7.dd50c7",
            "port": 0
          },
          {
            "id": "3289c101.43edee",
            "port": 0
          },
          {
            "id": "6bee97dc.e98038",
            "port": 0
          },
          {
            "id": "9e620565.b501d8",
            "port": 0
          },
          {
            "id": "92141678.c39af8",
            "port": 0
          },
          {
            "id": "378960a0.39ee2",
            "port": 0
          }
        ]
      }
    ]
  },
  {
    "id": "1793680.bd19498",
    "type": "subflow",
    "name": "SDM630 charts",
    "info": "",
    "in": [
      {
        "x": 170,
        "y": 360,
        "wires": [
          {
            "id": "325abf85.8a894"
          },
          {
            "id": "9ede967e.5867d8"
          },
          {
            "id": "52c905e9.636f6c"
          },
          {
            "id": "8be16d56.82028"
          },
          {
            "id": "440d1aa1.1268b4"
          },
          {
            "id": "13efd83c.203d58"
          },
          {
            "id": "cb7c9a88.e73808"
          },
          {
            "id": "84591046.9683b"
          },
          {
            "id": "3f82d310.ded5cc"
          },
          {
            "id": "97ab5ec4.6ec18"
          },
          {
            "id": "8b711ecc.cc1ec"
          }
        ]
      }
    ],
    "out": []
  },
  {
    "id": "60938195.d72af",
    "type": "subflow",
    "name": "static charts",
    "info": "",
    "in": [
      {
        "x": 270,
        "y": 240,
        "wires": [
          {
            "id": "f1cef36b.ebd65"
          },
          {
            "id": "273117f4.4284d8"
          },
          {
            "id": "6f91fc6d.686904"
          },
          {
            "id": "8fca04a8.805a58"
          }
        ]
      }
    ],
    "out": []
  },
  {
    "id": "e2aef287.32743",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "bb665b64.dfde78",
    "type": "OPCUA-IIoT-Connector",
    "z": "663e80c7.23d63",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "Basic256",
    "securityMode": "SIGNANDENCRYPT",
    "name": "Dynamic Connector",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "",
    "endpointMusExist": false
  },
  {
    "id": "d68d0535.db9718",
    "type": "ui_tab",
    "z": "663e80c7.23d63",
    "name": "smartHome Energy",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "4629ae76.e617e",
    "type": "modbus-client",
    "z": "35e2494e.716e26",
    "name": "SDM630 Modbus Gateway",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": true,
    "tcpHost": "192.168.178.16",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "6521142a.37958c",
    "type": "ui_tab",
    "z": "ee109a8a.1bcb98",
    "name": "smartHouse",
    "icon": "dashboard",
    "order": 3
  },
  {
    "id": "441bc83a.b491d8",
    "type": "ui_group",
    "z": "663e80c7.23d63",
    "name": "Dynamic",
    "tab": "d68d0535.db9718",
    "disp": true,
    "width": "30"
  },
  {
    "id": "fa366eca.fd81a",
    "type": "ui_group",
    "z": "ee109a8a.1bcb98",
    "name": "Static",
    "tab": "6521142a.37958c",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "19a27d47.dd80e3",
    "type": "OPCUA-IIoT-Connector",
    "z": "ee109a8a.1bcb98",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": true,
    "securityPolicy": "Basic128Rsa15",
    "securityMode": "SIGN",
    "name": "Static Connector",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "",
    "endpointMusExist": false
  },
  {
    "id": "dd9e717e.9e2f7",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/UA/NodeREDIIOTServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "Method Server",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "",
    "endpointMusExist": false
  },
  {
    "id": "9dca85cd.e96118",
    "type": "ui_group",
    "z": "",
    "name": "Model",
    "tab": "40f2910a.c6ef",
    "order": 2,
    "disp": true,
    "width": "8"
  },
  {
    "id": "40f2910a.c6ef",
    "type": "ui_tab",
    "z": "",
    "name": "OPC UA",
    "icon": "dashboard"
  },
  {
    "id": "c6031ab3.ee6f38",
    "type": "ui_group",
    "z": "",
    "name": "Browser",
    "tab": "40f2910a.c6ef",
    "order": 1,
    "disp": true,
    "width": "20"
  },
  {
    "id": "2f9b9256.cede4e",
    "type": "modbus-read",
    "z": "35e2494e.716e26",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "50",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "4629ae76.e617e",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 150,
    "y": 170,
    "wires": [
      [
        "da62e870.8d3cd8"
      ],
      [
        "680a1795.22efa8",
        "4ec65a74.753b04"
      ]
    ]
  },
  {
    "id": "680a1795.22efa8",
    "type": "modbus-response",
    "z": "35e2494e.716e26",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 120,
    "wires": []
  },
  {
    "id": "4ec65a74.753b04",
    "type": "function",
    "z": "35e2494e.716e26",
    "name": "extract buffer data L1-L3",
    "func": "let voltageL1 = msg.payload.buffer.readFloatBE(0,4) // 1,2\nlet voltageL2 = msg.payload.buffer.readFloatBE(4,4) // 3,4\nlet voltageL3 = msg.payload.buffer.readFloatBE(8,4) // 5,6\n\nlet powerL1 = msg.payload.buffer.readFloatBE(12,4) // 7,8\nlet powerL2 = msg.payload.buffer.readFloatBE(16,4) // 9,10\nlet powerL3 = msg.payload.buffer.readFloatBE(20,4) // 11,12\n\nlet demandL1 = msg.payload.buffer.readFloatBE(24,4) // 13,14\nlet demandL2 = msg.payload.buffer.readFloatBE(28,4) // 15,16\nlet demandL3 = msg.payload.buffer.readFloatBE(32,4) // 17,18\n\nlet voltageAVG = msg.payload.buffer.readFloatBE(84,8) // 43-46\nlet powerAVG = msg.payload.buffer.readFloatBE(92,4) // 47,48\n\nreturn [\n    {\n        payload: {\n            L1: {\n                voltage: voltageL1,\n                power: powerL1,\n                demand: demandL1\n            },\n            L2: {\n                voltage: voltageL2,\n                power: powerL2,\n                demand: demandL2\n            },\n            L3: {\n                voltage: voltageL3,\n                power: powerL3,\n                demand: demandL3\n            },\n            voltageAVG: voltageAVG,\n            powerAVG: powerAVG,            \n        }\n    }\n];",
    "outputs": "1",
    "noerr": 0,
    "x": 390,
    "y": 180,
    "wires": [
      [
        "b4b4dbda.098828"
      ]
    ]
  },
  {
    "id": "a798883b.6de198",
    "type": "modbus-read",
    "z": "35e2494e.716e26",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "48",
    "quantity": "8",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "4629ae76.e617e",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 150,
    "y": 270,
    "wires": [
      [
        "da62e870.8d3cd8"
      ],
      [
        "fb48c141.9c688",
        "3a8ae3a0.a2babc"
      ]
    ]
  },
  {
    "id": "fb48c141.9c688",
    "type": "function",
    "z": "35e2494e.716e26",
    "name": "extract buffer data sum",
    "func": "let powerSum = msg.payload.buffer.readFloatBE(0,8)\nlet demandSum = msg.payload.buffer.readFloatBE(8,8)\n\nreturn [\n    {\n        payload: {\n            powerSum: powerSum,\n            demandSum: demandSum\n        }\n    }\n];",
    "outputs": "1",
    "noerr": 0,
    "x": 390,
    "y": 290,
    "wires": [
      [
        "b4b4dbda.098828"
      ]
    ]
  },
  {
    "id": "13fd2881.19b687",
    "type": "modbus-read",
    "z": "35e2494e.716e26",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "70",
    "quantity": "42",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "4629ae76.e617e",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 150,
    "y": 390,
    "wires": [
      [
        "da62e870.8d3cd8"
      ],
      [
        "57dd3981.f3cb28",
        "d51f3f25.2b2bd"
      ]
    ]
  },
  {
    "id": "57dd3981.f3cb28",
    "type": "function",
    "z": "35e2494e.716e26",
    "name": "extract buffer data statics",
    "func": "let frequency = msg.payload.buffer.readFloatBE(0,4) // 71,72\n\nlet ampHourSinceLastReset = msg.payload.buffer.readFloatBE(24,4) // 83,84\nlet totalSystemPowerDemand = msg.payload.buffer.readFloatBE(28,4) // 85,86\nlet maxTotalSystemPowerDemand = msg.payload.buffer.readFloatBE(32,4) // 87,88\n\nreturn { \n    payload: {\n       frequency: frequency,\n       ampHourSinceLastReset: ampHourSinceLastReset,\n       ampHourSinceLastResetKilo: ampHourSinceLastReset / 1000.0,\n       totalSystemPowerDemand: totalSystemPowerDemand,\n       totalSystemPowerDemandKilo: totalSystemPowerDemand / 1000.0,\n       maxTotalSystemPowerDemand: maxTotalSystemPowerDemand,\n       maxTotalSystemPowerDemandKilo: maxTotalSystemPowerDemand / 1000.0\n    }\n}",
    "outputs": "1",
    "noerr": 0,
    "x": 390,
    "y": 410,
    "wires": [
      [
        "b4b4dbda.098828"
      ]
    ]
  },
  {
    "id": "3a8ae3a0.a2babc",
    "type": "modbus-response",
    "z": "35e2494e.716e26",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 230,
    "wires": []
  },
  {
    "id": "d51f3f25.2b2bd",
    "type": "modbus-response",
    "z": "35e2494e.716e26",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 350,
    "wires": []
  },
  {
    "id": "b4b4dbda.098828",
    "type": "link out",
    "z": "35e2494e.716e26",
    "name": "",
    "links": [
      "ad2661ec.7b23a",
      "44054254.88aa5c",
      "f66acf84.f2067"
    ],
    "x": 585,
    "y": 290,
    "wires": []
  },
  {
    "id": "384bf6db.e6775a",
    "type": "OPCUA-IIoT-Write",
    "z": "663e80c7.23d63",
    "connector": "bb665b64.dfde78",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 660,
    "y": 170,
    "wires": [
      [
        "1a5f94f4.16016b"
      ]
    ]
  },
  {
    "id": "1a5f94f4.16016b",
    "type": "OPCUA-IIoT-Response",
    "z": "663e80c7.23d63",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 790,
    "y": 170,
    "wires": [
      [
        "53761a9e.96b7f4"
      ]
    ]
  },
  {
    "id": "53761a9e.96b7f4",
    "type": "debug",
    "z": "663e80c7.23d63",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 920,
    "y": 170,
    "wires": []
  },
  {
    "id": "f66acf84.f2067",
    "type": "link in",
    "z": "663e80c7.23d63",
    "name": "",
    "links": [
      "b4b4dbda.098828"
    ],
    "x": 245,
    "y": 170,
    "wires": [
      [
        "2444790d.d54396",
        "52fd2f7f.444fc"
      ]
    ]
  },
  {
    "id": "2444790d.d54396",
    "type": "function",
    "z": "663e80c7.23d63",
    "name": "Modbus to OPC UA value mapping",
    "func": "\nmsg.nodetype = \"inject\"\nmsg.injectType = \"write\"\n\nif(msg.payload.L1) {\n    msg.addressSpaceItems = [\n        {nodeId: 'ns=5;s=L1Voltage', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L1Power', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L1Demand', datatypeName: 'Float'},\n        {nodeId: 'ns=5;s=L2Voltage', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L2Power', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L2Demand', datatypeName: 'Float'},\n        {nodeId: 'ns=5;s=L3Voltage', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L3Power', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L3Demand', datatypeName: 'Float'}        \n    ]\n    \n    msg.valuesToWrite = [\n        msg.payload.L1.voltage, \n        msg.payload.L1.power, \n        msg.payload.L1.demand,\n        msg.payload.L2.voltage, \n        msg.payload.L2.power, \n        msg.payload.L2.demand,\n        msg.payload.L3.voltage, \n        msg.payload.L3.power, \n        msg.payload.L3.demand\n    ]\n    \n    return msg;\n}\n\nif(msg.payload.demandSum) {\n    msg.addressSpaceItems = [\n        {nodeId: 'ns=5;s=DemandSum', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=PowerSum', datatypeName: 'Float'}\n    ]\n    \n    msg.valuesToWrite = [\n        msg.payload.demandSum, \n        msg.payload.powerSum\n    ]\n    \n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 170,
    "wires": [
      [
        "384bf6db.e6775a",
        "b723570f.53f9d8"
      ]
    ]
  },
  {
    "id": "b723570f.53f9d8",
    "type": "debug",
    "z": "663e80c7.23d63",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 660,
    "y": 120,
    "wires": []
  },
  {
    "id": "52fd2f7f.444fc",
    "type": "debug",
    "z": "663e80c7.23d63",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 340,
    "y": 120,
    "wires": []
  },
  {
    "id": "d9b2577e.121fc8",
    "type": "OPCUA-IIoT-Listener",
    "z": "663e80c7.23d63",
    "connector": "bb665b64.dfde78",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "metaDataInject": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 550,
    "y": 250,
    "wires": [
      [
        "8116bd5d.681e"
      ],
      []
    ]
  },
  {
    "id": "fc49c12a.81c13",
    "type": "OPCUA-IIoT-Inject",
    "z": "663e80c7.23d63",
    "injectType": "listen",
    "payload": "1000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "28",
    "name": "Listen every sec",
    "addressSpaceItems": [
      {
        "name": "L1Voltage",
        "nodeId": "ns=5;s=L1Voltage",
        "datatypeName": "Float"
      },
      {
        "name": "L1Power",
        "nodeId": "ns=5;s=L1Power",
        "datatypeName": "Float"
      },
      {
        "name": "L1Demand",
        "nodeId": "ns=5;s=L1Demand",
        "datatypeName": "Float"
      },
      {
        "name": "L2Voltage",
        "nodeId": "ns=5;s=L2Voltage",
        "datatypeName": "Float"
      },
      {
        "name": "L2Power",
        "nodeId": "ns=5;s=L2Power",
        "datatypeName": "Float"
      },
      {
        "name": "L2Demand",
        "nodeId": "ns=5;s=L2Demand",
        "datatypeName": "Float"
      },
      {
        "name": "L3Voltage",
        "nodeId": "ns=5;s=L3Voltage",
        "datatypeName": "Float"
      },
      {
        "name": "L3Power",
        "nodeId": "ns=5;s=L3Power",
        "datatypeName": "Float"
      },
      {
        "name": "L3Demand",
        "nodeId": "ns=5;s=L3Demand",
        "datatypeName": "Float"
      },
      {
        "name": "DemandSum",
        "nodeId": "ns=5;s=DemandSum",
        "datatypeName": "Float"
      },
      {
        "name": "PowerSum",
        "nodeId": "ns=5;s=PowerSum",
        "datatypeName": "Float"
      }
    ],
    "x": 370,
    "y": 250,
    "wires": [
      [
        "d9b2577e.121fc8"
      ]
    ]
  },
  {
    "id": "da62e870.8d3cd8",
    "type": "debug",
    "z": "35e2494e.716e26",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 330,
    "y": 470,
    "wires": []
  },
  {
    "id": "e02f45ff.111498",
    "type": "link in",
    "z": "ee109a8a.1bcb98",
    "name": "",
    "links": [
      "b4b4dbda.098828"
    ],
    "x": 265,
    "y": 180,
    "wires": [
      [
        "5c8c3ed2.ba234",
        "d8b443df.71d65"
      ]
    ]
  },
  {
    "id": "5c8c3ed2.ba234",
    "type": "function",
    "z": "ee109a8a.1bcb98",
    "name": "Modbus to OPC UA value mapping",
    "func": "\nmsg.nodetype = \"inject\"\nmsg.injectType = \"write\"\n\nif(msg.payload.frequency) {\n    msg.addressSpaceItems = [\n        {nodeId: 'ns=5;s=frequency', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=ampHourSinceLastReset', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=totalSystemPowerDemand', datatypeName: 'Float'},\n        {nodeId: 'ns=5;s=maxTotalSystemPowerDemand', datatypeName: 'Float'}      \n    ]\n    \n    msg.valuesToWrite = [\n        msg.payload.frequency, \n        msg.payload.ampHourSinceLastResetKilo, \n        msg.payload.totalSystemPowerDemandKilo,\n        msg.payload.maxTotalSystemPowerDemandKilo\n    ]\n    \n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 180,
    "wires": [
      [
        "a11ece2e.4d3e1",
        "4d41c409.f9b1cc"
      ]
    ]
  },
  {
    "id": "a11ece2e.4d3e1",
    "type": "OPCUA-IIoT-Write",
    "z": "ee109a8a.1bcb98",
    "connector": "19a27d47.dd80e3",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 690,
    "y": 180,
    "wires": [
      [
        "11da169d.bb4ab9"
      ]
    ]
  },
  {
    "id": "11da169d.bb4ab9",
    "type": "OPCUA-IIoT-Response",
    "z": "ee109a8a.1bcb98",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 820,
    "y": 180,
    "wires": [
      [
        "64acd5f0.a9150c"
      ]
    ]
  },
  {
    "id": "64acd5f0.a9150c",
    "type": "debug",
    "z": "ee109a8a.1bcb98",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 950,
    "y": 180,
    "wires": []
  },
  {
    "id": "4d41c409.f9b1cc",
    "type": "debug",
    "z": "ee109a8a.1bcb98",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 690,
    "y": 130,
    "wires": []
  },
  {
    "id": "d8b443df.71d65",
    "type": "debug",
    "z": "ee109a8a.1bcb98",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 370,
    "y": 130,
    "wires": []
  },
  {
    "id": "79fb49e2.04d178",
    "type": "OPCUA-IIoT-Listener",
    "z": "ee109a8a.1bcb98",
    "connector": "19a27d47.dd80e3",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "metaDataInject": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 540,
    "y": 280,
    "wires": [
      [
        "6f17e1a4.0fb64"
      ],
      []
    ]
  },
  {
    "id": "3f0fa2c6.6563de",
    "type": "OPCUA-IIoT-Inject",
    "z": "ee109a8a.1bcb98",
    "injectType": "listen",
    "payload": "1000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "28",
    "name": "Listen every sec",
    "addressSpaceItems": [
      {
        "name": "frequency",
        "nodeId": "ns=5;s=frequency",
        "datatypeName": "Float"
      },
      {
        "name": "ampHourSinceLastReset",
        "nodeId": "ns=5;s=ampHourSinceLastReset",
        "datatypeName": "Float"
      },
      {
        "name": "totalSystemPowerDemand",
        "nodeId": "ns=5;s=totalSystemPowerDemand",
        "datatypeName": "Float"
      },
      {
        "name": "maxTotalSystemPowerDemand",
        "nodeId": "ns=5;s=maxTotalSystemPowerDemand",
        "datatypeName": "Float"
      }
    ],
    "x": 350,
    "y": 280,
    "wires": [
      [
        "79fb49e2.04d178"
      ]
    ]
  },
  {
    "id": "636bddca.ad96d4",
    "type": "catch",
    "z": "35e2494e.716e26",
    "name": "",
    "scope": null,
    "x": 140,
    "y": 630,
    "wires": [
      [
        "df63f883.2ec9e8",
        "34f87648.5204da",
        "c4b9ed4e.13706"
      ]
    ]
  },
  {
    "id": "df63f883.2ec9e8",
    "type": "debug",
    "z": "35e2494e.716e26",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 320,
    "y": 670,
    "wires": []
  },
  {
    "id": "30fb209c.ace4e",
    "type": "modbus-queue-info",
    "z": "35e2494e.716e26",
    "name": "",
    "topic": "",
    "unitid": "",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "4629ae76.e617e",
    "errorOnHighLevel": false,
    "x": 600,
    "y": 600,
    "wires": [
      [
        "29d442c3.896b6e"
      ]
    ]
  },
  {
    "id": "34f87648.5204da",
    "type": "function",
    "z": "35e2494e.716e26",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 590,
    "wires": [
      [
        "30fb209c.ace4e"
      ]
    ]
  },
  {
    "id": "c4b9ed4e.13706",
    "type": "function",
    "z": "35e2494e.716e26",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 630,
    "wires": [
      [
        "30fb209c.ace4e"
      ]
    ]
  },
  {
    "id": "29d442c3.896b6e",
    "type": "debug",
    "z": "35e2494e.716e26",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 810,
    "y": 600,
    "wires": []
  },
  {
    "id": "378960a0.39ee2",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=SDM630",
    "browsename": "SDM630",
    "displayname": "SDM 630",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "SDM630",
    "x": 390,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "5786c19d.bddb",
    "type": "OPCUA-IIoT-Inject",
    "z": "20c482f0.683d1e",
    "injectType": "inject",
    "payload": "0",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Inject after 10s",
    "addressSpaceItems": [],
    "x": 140,
    "y": 40,
    "wires": [
      [
        "378960a0.39ee2"
      ]
    ]
  },
  {
    "id": "92141678.c39af8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=L1",
    "browsename": "L1",
    "displayname": "L1",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "L1",
    "x": 400,
    "y": 90,
    "wires": [
      []
    ]
  },
  {
    "id": "6bee97dc.e98038",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=L3",
    "browsename": "L3",
    "displayname": "L3",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "L3",
    "x": 400,
    "y": 170,
    "wires": [
      []
    ]
  },
  {
    "id": "9e620565.b501d8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=L2",
    "browsename": "L2",
    "displayname": "L2",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "L2",
    "x": 400,
    "y": 130,
    "wires": [
      []
    ]
  },
  {
    "id": "e2a7b515.bcd588",
    "type": "OPCUA-IIoT-Inject",
    "z": "20c482f0.683d1e",
    "injectType": "inject",
    "payload": "0",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "13",
    "name": "Inject after 13s",
    "addressSpaceItems": [],
    "x": 140,
    "y": 240,
    "wires": [
      [
        "92141678.c39af8",
        "9e620565.b501d8",
        "6bee97dc.e98038",
        "3289c101.43edee",
        "194d58e7.dd50c7",
        "a0bf826e.f4de",
        "2f6f3c3c.6aa594",
        "89d4fb5e.e25fd8",
        "11b7367e.98c26a"
      ]
    ]
  },
  {
    "id": "3c2cdc02.99b7e4",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=L1Demand",
    "browsename": "L1Demand",
    "displayname": "L1 demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=L1",
    "referencetype": "Organizes",
    "name": "L1 demand",
    "x": 380,
    "y": 510,
    "wires": [
      []
    ]
  },
  {
    "id": "a6018e60.c1f53",
    "type": "OPCUA-IIoT-Inject",
    "z": "20c482f0.683d1e",
    "injectType": "inject",
    "payload": "0",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "16",
    "name": "Inject after 16s",
    "addressSpaceItems": [],
    "x": 140,
    "y": 680,
    "wires": [
      [
        "3c2cdc02.99b7e4",
        "3caf49a8.c28b66",
        "73e77645.a56c58",
        "dfbdb853.f9ced8",
        "34e5e472.25737c",
        "a925d499.1bc338",
        "9db59194.fb04d",
        "ee505012.b2d27",
        "a08261a8.38f07"
      ]
    ]
  },
  {
    "id": "3caf49a8.c28b66",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=L2Demand",
    "browsename": "L2Demand",
    "displayname": "L2 demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L2",
    "referencetype": "Organizes",
    "name": "L2 demand",
    "x": 380,
    "y": 550,
    "wires": [
      []
    ]
  },
  {
    "id": "73e77645.a56c58",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=L3Demand",
    "browsename": "L3Demand",
    "displayname": "L3 demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L3",
    "referencetype": "Organizes",
    "name": "L3 demand",
    "x": 380,
    "y": 590,
    "wires": [
      []
    ]
  },
  {
    "id": "dfbdb853.f9ced8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=L1Power",
    "browsename": "L1Power",
    "displayname": "L1 power",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L1",
    "referencetype": "Organizes",
    "name": "L1 power",
    "x": 390,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "34e5e472.25737c",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=L2Power",
    "browsename": "L2Power",
    "displayname": "L2 power",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L2",
    "referencetype": "Organizes",
    "name": "L2 power",
    "x": 390,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "a925d499.1bc338",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=L3Power",
    "browsename": "L3Power",
    "displayname": "L3 power",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L3",
    "referencetype": "Organizes",
    "name": "L3 power",
    "x": 390,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "9db59194.fb04d",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=L1Voltage",
    "browsename": "L1Voltage",
    "displayname": "L1 voltage",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L1",
    "referencetype": "Organizes",
    "name": "L1 voltage",
    "x": 380,
    "y": 770,
    "wires": [
      []
    ]
  },
  {
    "id": "ee505012.b2d27",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=L2Voltage",
    "browsename": "L2Voltage",
    "displayname": "L2 voltage",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L2",
    "referencetype": "Organizes",
    "name": "L2 voltage",
    "x": 380,
    "y": 810,
    "wires": [
      []
    ]
  },
  {
    "id": "a08261a8.38f07",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=L3Voltage",
    "browsename": "L3Voltage",
    "displayname": "L3 voltage",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L3",
    "referencetype": "Organizes",
    "name": "L3 voltage",
    "x": 380,
    "y": 850,
    "wires": [
      []
    ]
  },
  {
    "id": "3289c101.43edee",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=DemandSum",
    "browsename": "DemandSum",
    "displayname": "Demand Sum",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "DemandSum",
    "x": 380,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "194d58e7.dd50c7",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=PowerSum",
    "browsename": "PowerSum",
    "displayname": "Power Sum",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "PowerSum",
    "x": 380,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "a0bf826e.f4de",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=frequency",
    "browsename": "frequency",
    "displayname": "frequency",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "frequency",
    "x": 390,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "2f6f3c3c.6aa594",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=ampHourSinceLastReset",
    "browsename": "ampHourSinceLastReset",
    "displayname": "ampere-hours since last reset",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "ampHourSinceLastReset",
    "x": 340,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "89d4fb5e.e25fd8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=totalSystemPowerDemand",
    "browsename": "totalSystemPowerDemand",
    "displayname": "total system power demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "totalSystemPowerDemand",
    "x": 330,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "11b7367e.98c26a",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "20c482f0.683d1e",
    "nodeId": "ns=5;s=maxTotalSystemPowerDemand",
    "browsename": "maxTotalSystemPowerDemand",
    "displayname": "max total system power demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "maxTotalSystemPowerDemand",
    "x": 320,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "d4408129.40eb8",
    "type": "OPCUA-IIoT-Server",
    "z": "b217ab93.3265e8",
    "port": "55388",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "50",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "1000",
    "alternateHostname": "",
    "name": "LOCAL SERVER",
    "showStatusActivities": false,
    "showErrors": true,
    "asoDemo": false,
    "allowAnonymous": true,
    "isAuditing": false,
    "serverDiscovery": true,
    "users": [
      {
        "name": "test",
        "password": "test"
      },
      {
        "name": "peter",
        "password": "peter"
      }
    ],
    "xmlsets": [],
    "publicCertificateFile": "",
    "privateCertificateFile": "",
    "x": 250,
    "y": 90,
    "wires": [
      [
        "b3ec26a3.68e6f8"
      ],
      []
    ]
  },
  {
    "id": "b3ec26a3.68e6f8",
    "type": "debug",
    "z": "b217ab93.3265e8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 420,
    "y": 90,
    "wires": []
  },
  {
    "id": "7b16b5c8.24e08c",
    "type": "subflow:b217ab93.3265e8",
    "z": "35e2494e.716e26",
    "name": "",
    "x": 360,
    "y": 60,
    "wires": []
  },
  {
    "id": "5faf30d1.94902",
    "type": "subflow:20c482f0.683d1e",
    "z": "35e2494e.716e26",
    "name": "SDM630 Model",
    "x": 160,
    "y": 60,
    "wires": [
      [
        "7b16b5c8.24e08c"
      ]
    ]
  },
  {
    "id": "429793b8.b33b6c",
    "type": "ui_chart",
    "z": "1793680.bd19498",
    "name": "",
    "group": "441bc83a.b491d8",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "power",
    "chartType": "line",
    "legend": "true",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 690,
    "y": 180,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "b6f0f456.432168",
    "type": "ui_chart",
    "z": "1793680.bd19498",
    "name": "",
    "group": "441bc83a.b491d8",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "voltage",
    "chartType": "line",
    "legend": "true",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 700,
    "y": 360,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "441541a6.beb63",
    "type": "ui_chart",
    "z": "1793680.bd19498",
    "name": "",
    "group": "441bc83a.b491d8",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "demand",
    "chartType": "line",
    "legend": "true",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 700,
    "y": 550,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "325abf85.8a894",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "1793680.bd19498",
    "nodeId": "ns=5;s=PowerSum",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "Sum",
    "name": "",
    "x": 450,
    "y": 100,
    "wires": [
      [
        "429793b8.b33b6c"
      ],
      []
    ]
  },
  {
    "id": "8b711ecc.cc1ec",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "1793680.bd19498",
    "nodeId": "ns=5;s=DemandSum",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "Sum",
    "name": "",
    "x": 460,
    "y": 630,
    "wires": [
      [
        "441541a6.beb63"
      ],
      []
    ]
  },
  {
    "id": "9ede967e.5867d8",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "1793680.bd19498",
    "nodeId": "ns=5;s=L1Power",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L1",
    "name": "",
    "x": 450,
    "y": 160,
    "wires": [
      [
        "429793b8.b33b6c"
      ],
      []
    ]
  },
  {
    "id": "440d1aa1.1268b4",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "1793680.bd19498",
    "nodeId": "ns=5;s=L1Voltage",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L1",
    "name": "",
    "x": 450,
    "y": 310,
    "wires": [
      [
        "b6f0f456.432168"
      ],
      []
    ]
  },
  {
    "id": "84591046.9683b",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "1793680.bd19498",
    "nodeId": "ns=5;s=L1Demand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L1",
    "name": "",
    "x": 450,
    "y": 480,
    "wires": [
      [
        "441541a6.beb63"
      ],
      []
    ]
  },
  {
    "id": "52c905e9.636f6c",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "1793680.bd19498",
    "nodeId": "ns=5;s=L2Power",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L2",
    "name": "",
    "x": 450,
    "y": 210,
    "wires": [
      [
        "429793b8.b33b6c"
      ],
      []
    ]
  },
  {
    "id": "8be16d56.82028",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "1793680.bd19498",
    "nodeId": "ns=5;s=L3Power",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L3",
    "name": "",
    "x": 450,
    "y": 260,
    "wires": [
      [
        "429793b8.b33b6c"
      ],
      []
    ]
  },
  {
    "id": "13efd83c.203d58",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "1793680.bd19498",
    "nodeId": "ns=5;s=L2Voltage",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L2",
    "name": "",
    "x": 450,
    "y": 370,
    "wires": [
      [
        "b6f0f456.432168"
      ],
      []
    ]
  },
  {
    "id": "cb7c9a88.e73808",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "1793680.bd19498",
    "nodeId": "ns=5;s=L3Voltage",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L3",
    "name": "",
    "x": 450,
    "y": 420,
    "wires": [
      [
        "b6f0f456.432168"
      ],
      []
    ]
  },
  {
    "id": "3f82d310.ded5cc",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "1793680.bd19498",
    "nodeId": "ns=5;s=L2Demand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L2",
    "name": "",
    "x": 450,
    "y": 530,
    "wires": [
      [
        "441541a6.beb63"
      ],
      []
    ]
  },
  {
    "id": "97ab5ec4.6ec18",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "1793680.bd19498",
    "nodeId": "ns=5;s=L3Demand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L3",
    "name": "",
    "x": 450,
    "y": 580,
    "wires": [
      [
        "441541a6.beb63"
      ],
      []
    ]
  },
  {
    "id": "8116bd5d.681e",
    "type": "subflow:1793680.bd19498",
    "z": "663e80c7.23d63",
    "name": "dynamic charts",
    "x": 730,
    "y": 250,
    "wires": []
  },
  {
    "id": "b8245264.ec13e",
    "type": "ui_gauge",
    "z": "60938195.d72af",
    "name": "",
    "group": "fa366eca.fd81a",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Frequency",
    "label": "Hz",
    "format": "{{value | number:2}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#e2e310",
      "#28cd22",
      "#d93d3f"
    ],
    "seg1": "",
    "seg2": "",
    "x": 850,
    "y": 150,
    "wires": []
  },
  {
    "id": "c7d6a2e0.c4749",
    "type": "ui_gauge",
    "z": "60938195.d72af",
    "name": "",
    "group": "9dca85cd.e96118",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Sum demand ",
    "label": "kW",
    "format": "{{value | number:3}}",
    "min": 0,
    "max": "5",
    "colors": [
      "#e2e310",
      "#28cd22",
      "#d93d3f"
    ],
    "seg1": "",
    "seg2": "",
    "x": 860,
    "y": 250,
    "wires": []
  },
  {
    "id": "66e5e23b.60b21c",
    "type": "ui_gauge",
    "z": "60938195.d72af",
    "name": "",
    "group": "9dca85cd.e96118",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Max. demand ",
    "label": "kW",
    "format": "{{value | number:3}}",
    "min": 0,
    "max": "20",
    "colors": [
      "#e2e310",
      "#28cd22",
      "#d93d3f"
    ],
    "seg1": "",
    "seg2": "",
    "x": 860,
    "y": 300,
    "wires": []
  },
  {
    "id": "b1212222.34d15",
    "type": "ui_gauge",
    "z": "60938195.d72af",
    "name": "",
    "group": "fa366eca.fd81a",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Ampere hour",
    "label": "kAh",
    "format": "{{value | number:2}}",
    "min": 0,
    "max": "2000",
    "colors": [
      "#e2e310",
      "#28cd22",
      "#d93d3f"
    ],
    "seg1": "",
    "seg2": "",
    "x": 850,
    "y": 200,
    "wires": []
  },
  {
    "id": "f1cef36b.ebd65",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "60938195.d72af",
    "nodeId": "ns=5;s=frequency",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "frequency",
    "name": "",
    "x": 480,
    "y": 160,
    "wires": [
      [
        "b8245264.ec13e"
      ],
      []
    ]
  },
  {
    "id": "273117f4.4284d8",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "60938195.d72af",
    "nodeId": "ns=5;s=ampHourSinceLastReset",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "ampHourSinceLastReset",
    "name": "",
    "x": 530,
    "y": 210,
    "wires": [
      [
        "b1212222.34d15"
      ],
      []
    ]
  },
  {
    "id": "6f91fc6d.686904",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "60938195.d72af",
    "nodeId": "ns=5;s=totalSystemPowerDemand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "totalSystemPowerDemand",
    "name": "",
    "x": 530,
    "y": 260,
    "wires": [
      [
        "c7d6a2e0.c4749"
      ],
      []
    ]
  },
  {
    "id": "8fca04a8.805a58",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "60938195.d72af",
    "nodeId": "ns=5;s=maxTotalSystemPowerDemand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "maxTotalSystemPowerDemand",
    "name": "",
    "x": 550,
    "y": 310,
    "wires": [
      [
        "66e5e23b.60b21c"
      ],
      []
    ]
  },
  {
    "id": "6f17e1a4.0fb64",
    "type": "subflow:60938195.d72af",
    "z": "ee109a8a.1bcb98",
    "x": 720,
    "y": 280,
    "wires": []
  },
  {
    "id": "2ce9d774.4e7ce8",
    "type": "OPCUA-IIoT-Browser",
    "z": "b217ab93.3265e8",
    "connector": "dd9e717e.9e2f7",
    "nodeId": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 340,
    "y": 270,
    "wires": [
      [
        "75518dc0.4afc14",
        "fc6dc280.403",
        "22fbb6db.ac54ea"
      ]
    ]
  },
  {
    "id": "fc6dc280.403",
    "type": "debug",
    "z": "b217ab93.3265e8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 530,
    "y": 270,
    "wires": []
  },
  {
    "id": "af403241.75094",
    "type": "OPCUA-IIoT-Inject",
    "z": "b217ab93.3265e8",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Root",
    "addressSpaceItems": [],
    "x": 150,
    "y": 270,
    "wires": [
      [
        "2ce9d774.4e7ce8"
      ]
    ]
  },
  {
    "id": "22fbb6db.ac54ea",
    "type": "OPCUA-IIoT-Response",
    "z": "b217ab93.3265e8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 540,
    "y": 210,
    "wires": [
      [
        "798b3414.210f2c"
      ]
    ]
  },
  {
    "id": "798b3414.210f2c",
    "type": "debug",
    "z": "b217ab93.3265e8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 710,
    "y": 210,
    "wires": []
  },
  {
    "id": "75518dc0.4afc14",
    "type": "ui_template",
    "z": "b217ab93.3265e8",
    "group": "c6031ab3.ee6f38",
    "name": "",
    "order": 1,
    "width": "20",
    "height": "20",
    "format": "<div layout=\"column\" layout-align=\"space-between\">\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <p>{{msg.payload.endpoint}}</p>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <p>{{msg.payload.browseTopic}} with {{msg.payload.browserResultCount}} references</p>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <h1>Results</h1>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <select ng-model=\"item\" ng-options=\"item.displayName.text for item in msg.payload.browserItems\">\n            <option value=\"\">-- Root --</option>\n        </select>\n        <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">Browse</button>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <div>\n            <ul>\n                <li ng-repeat=\"item in msg.payload.browserItems\">\n                  {{item.displayName.text}} ( {{item.nodeId}} - {{item.browseName}})\n                </li>\n            </ul>\n        </div>\n    </div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 340,
    "y": 210,
    "wires": [
      [
        "2ce9d774.4e7ce8"
      ]
    ]
  },
  {
    "id": "b6361e7d.0ef07",
    "type": "modbus-getter",
    "z": "35e2494e.716e26",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "50",
    "server": "4629ae76.e617e",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 400,
    "y": 790,
    "wires": [
      [],
      [
        "fca46d89.d973b",
        "db6ca402.31a718"
      ]
    ]
  },
  {
    "id": "fca46d89.d973b",
    "type": "modbus-response",
    "z": "35e2494e.716e26",
    "name": "",
    "registerShowMax": 20,
    "x": 660,
    "y": 790,
    "wires": []
  },
  {
    "id": "482f480e.01c988",
    "type": "http in",
    "z": "35e2494e.716e26",
    "name": "",
    "url": "/modbus/read/lines",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 790,
    "wires": [
      [
        "b6361e7d.0ef07"
      ]
    ]
  },
  {
    "id": "25372fc9.8d409",
    "type": "http response",
    "z": "35e2494e.716e26",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 890,
    "y": 750,
    "wires": []
  },
  {
    "id": "db6ca402.31a718",
    "type": "function",
    "z": "35e2494e.716e26",
    "name": "extract buffer data L1-L3",
    "func": "let voltageL1 = msg.payload.buffer.readFloatBE(0,4) // 1,2\nlet voltageL2 = msg.payload.buffer.readFloatBE(4,4) // 3,4\nlet voltageL3 = msg.payload.buffer.readFloatBE(8,4) // 5,6\n\nlet powerL1 = msg.payload.buffer.readFloatBE(12,4) // 7,8\nlet powerL2 = msg.payload.buffer.readFloatBE(16,4) // 9,10\nlet powerL3 = msg.payload.buffer.readFloatBE(20,4) // 11,12\n\nlet demandL1 = msg.payload.buffer.readFloatBE(24,4) // 13,14\nlet demandL2 = msg.payload.buffer.readFloatBE(28,4) // 15,16\nlet demandL3 = msg.payload.buffer.readFloatBE(32,4) // 17,18\n\nlet voltageAVG = msg.payload.buffer.readFloatBE(84,8) // 43-46\nlet powerAVG = msg.payload.buffer.readFloatBE(92,4) // 47,48\n\nmsg.payload = {\n    L1: {\n        voltage: voltageL1,\n        power: powerL1,\n        demand: demandL1\n    },\n    L2: {\n        voltage: voltageL2,\n        power: powerL2,\n        demand: demandL2\n    },\n    L3: {\n        voltage: voltageL3,\n        power: powerL3,\n        demand: demandL3\n    },\n    voltageAVG: voltageAVG,\n    powerAVG: powerAVG,            \n};\n\nreturn msg;",
    "outputs": "1",
    "noerr": 0,
    "x": 680,
    "y": 750,
    "wires": [
      [
        "25372fc9.8d409"
      ]
    ]
  },
  {
    "id": "2be2d70a.6b9228",
    "type": "status",
    "z": "35e2494e.716e26",
    "name": "",
    "scope": [
      "b6361e7d.0ef07",
      "2f9b9256.cede4e",
      "13fd2881.19b687",
      "a798883b.6de198"
    ],
    "x": 340,
    "y": 530,
    "wires": [
      [
        "9c7b9154.bf949",
        "460ba75.2ff3e58"
      ]
    ]
  },
  {
    "id": "50b3cbfd.a832a4",
    "type": "debug",
    "z": "35e2494e.716e26",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 670,
    "y": 530,
    "wires": []
  },
  {
    "id": "9c7b9154.bf949",
    "type": "function",
    "z": "35e2494e.716e26",
    "name": "timeout filter",
    "func": "if(msg.status.text === 'timeout') {\n  return msg;  \n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 520,
    "y": 530,
    "wires": [
      [
        "50b3cbfd.a832a4"
      ]
    ]
  },
  {
    "id": "460ba75.2ff3e58",
    "type": "debug",
    "z": "35e2494e.716e26",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 500,
    "y": 490,
    "wires": []
  }
]
