examples/server-demo.json
[
  {
    "id": "d98faac8.317628",
    "type": "tab",
    "label": "IIoT OPC UA Demo",
    "disabled": false,
    "info": ""
  },
  {
    "id": "19198053.322e",
    "type": "OPCUA-IIoT-Server-Command",
    "z": "d98faac8.317628",
    "commandtype": "restart",
    "nodeId": "",
    "name": "restart",
    "x": 430,
    "y": 80,
    "wires": [
      [
        "3a454bf7.298cb4"
      ]
    ]
  },
  {
    "id": "e113c723.749c38",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "d98faac8.317628",
    "nodeId": "ns=5;s=TestFolder",
    "browsename": "TestFolder",
    "displayname": "Test Folder",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "ASO Test Folder",
    "x": 460,
    "y": 140,
    "wires": [
      [
        "3a454bf7.298cb4"
      ]
    ]
  },
  {
    "id": "9d943b21.621968",
    "type": "comment",
    "z": "d98faac8.317628",
    "name": "information",
    "info": "Clients to browse\n\nUA-Expert: https://www.unified-automation.com/products/development-tools/uaexpert.html\nOPCUA-Commander: https://github.com/node-opcua/opcua-commander\nNode-RED: use the browse examples to start browsing the server via Node-RED\n\nHappy wiring!\nKlaus Landsdorf\nhttp://bianco-royal.de/",
    "x": 660,
    "y": 40,
    "wires": []
  },
  {
    "id": "69953e5a.a1c8c",
    "type": "OPCUA-IIoT-Inject",
    "z": "d98faac8.317628",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 280,
    "y": 80,
    "wires": [
      [
        "19198053.322e"
      ]
    ]
  },
  {
    "id": "d990230f.9b6688",
    "type": "OPCUA-IIoT-Inject",
    "z": "d98faac8.317628",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 280,
    "y": 140,
    "wires": [
      [
        "e113c723.749c38"
      ]
    ]
  },
  {
    "id": "3a454bf7.298cb4",
    "type": "OPCUA-IIoT-Server",
    "z": "d98faac8.317628",
    "port": "55388",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "",
    "alternateHostname": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "asoDemo": true,
    "allowAnonymous": true,
    "isAuditing": false,
    "serverDiscovery": true,
    "users": [],
    "xmlsets": [],
    "publicCertificateFile": "",
    "privateCertificateFile": "",
    "maxNodesPerRead": "",
    "maxNodesPerBrowse": "",
    "x": 670,
    "y": 80,
    "wires": [
      [
        "d6fe42e0.aa2ab8"
      ]
    ]
  },
  {
    "id": "d6fe42e0.aa2ab8",
    "type": "debug",
    "z": "d98faac8.317628",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 830,
    "y": 80,
    "wires": []
  }
]
