examples/server-aso-types.json
[
  {
    "id": "9ed9249b.6bac08",
    "type": "tab",
    "label": "IIoT OPC UA ASO Types",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b6d9afa.a3ec0d",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "9ed9249b.6bac08",
    "nodeId": "ns=5;s=TestVariables",
    "browsename": "TestVariables",
    "displayname": "Test Variables",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "Folder",
    "x": 490,
    "y": 140,
    "wires": [
      [
        "8d1d3953.d55f5"
      ]
    ]
  },
  {
    "id": "e19d930e.ac15a8",
    "type": "OPCUA-IIoT-Inject",
    "z": "9ed9249b.6bac08",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 290,
    "y": 140,
    "wires": [
      [
        "b6d9afa.a3ec0d"
      ]
    ]
  },
  {
    "id": "5ab2a581.e34d54",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "9ed9249b.6bac08",
    "nodeId": "ns=5;s=TestDateTime",
    "browsename": "TestDateTime",
    "displayname": "Test DateTime",
    "objecttype": "BaseDataVariableType",
    "datatype": "DateTime",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "DateTime",
    "x": 500,
    "y": 200,
    "wires": [
      [
        "8d1d3953.d55f5"
      ]
    ]
  },
  {
    "id": "1d5ae0f.60f669f",
    "type": "OPCUA-IIoT-Inject",
    "z": "9ed9249b.6bac08",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 290,
    "y": 200,
    "wires": [
      [
        "5ab2a581.e34d54"
      ]
    ]
  },
  {
    "id": "e812079b.66e52",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "9ed9249b.6bac08",
    "nodeId": "ns=5;s=TestBoolean",
    "browsename": "TestBoolean",
    "displayname": "Test Boolean",
    "objecttype": "BaseDataVariableType",
    "datatype": "Boolean",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Boolean",
    "x": 500,
    "y": 240,
    "wires": [
      [
        "8d1d3953.d55f5"
      ]
    ]
  },
  {
    "id": "ce0c23b8.538e5",
    "type": "OPCUA-IIoT-Inject",
    "z": "9ed9249b.6bac08",
    "injectType": "inject",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 270,
    "y": 240,
    "wires": [
      [
        "e812079b.66e52"
      ]
    ]
  },
  {
    "id": "b3ce4cf2.543f7",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "9ed9249b.6bac08",
    "nodeId": "ns=5;s=TestDoulbe",
    "browsename": "TestDoulbe",
    "displayname": "Test Doulbe",
    "objecttype": "BaseDataVariableType",
    "datatype": "Double",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Double",
    "x": 500,
    "y": 280,
    "wires": [
      [
        "8d1d3953.d55f5"
      ]
    ]
  },
  {
    "id": "48d59fb.7cbe36",
    "type": "OPCUA-IIoT-Inject",
    "z": "9ed9249b.6bac08",
    "injectType": "inject",
    "payload": "10.2",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 270,
    "y": 280,
    "wires": [
      [
        "b3ce4cf2.543f7"
      ]
    ]
  },
  {
    "id": "c97dacfe.759798",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "9ed9249b.6bac08",
    "nodeId": "ns=5;s=TestUInt16",
    "browsename": "TestUInt16",
    "displayname": "Test UInt16",
    "objecttype": "BaseDataVariableType",
    "datatype": "UInt16",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "UInt16",
    "x": 490,
    "y": 320,
    "wires": [
      [
        "8d1d3953.d55f5"
      ]
    ]
  },
  {
    "id": "b5f8051f.e4864",
    "type": "OPCUA-IIoT-Inject",
    "z": "9ed9249b.6bac08",
    "injectType": "inject",
    "payload": "65000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 270,
    "y": 320,
    "wires": [
      [
        "c97dacfe.759798"
      ]
    ]
  },
  {
    "id": "6f736446.6c8b84",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "9ed9249b.6bac08",
    "nodeId": "ns=5;s=TestUInt32",
    "browsename": "TestUInt32",
    "displayname": "Test UInt32",
    "objecttype": "BaseDataVariableType",
    "datatype": "UInt32",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "UInt32",
    "x": 490,
    "y": 360,
    "wires": [
      [
        "8d1d3953.d55f5"
      ]
    ]
  },
  {
    "id": "4ae335ca.35f06c",
    "type": "OPCUA-IIoT-Inject",
    "z": "9ed9249b.6bac08",
    "injectType": "inject",
    "payload": "125000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 280,
    "y": 360,
    "wires": [
      [
        "6f736446.6c8b84"
      ]
    ]
  },
  {
    "id": "38658997.779b3e",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "9ed9249b.6bac08",
    "nodeId": "ns=5;s=TestUInt64",
    "browsename": "TestUInt64",
    "displayname": "Test UInt64",
    "objecttype": "BaseDataVariableType",
    "datatype": "UInt64",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "UInt64",
    "x": 490,
    "y": 400,
    "wires": [
      [
        "8d1d3953.d55f5"
      ]
    ]
  },
  {
    "id": "d9702f68.64902",
    "type": "OPCUA-IIoT-Inject",
    "z": "9ed9249b.6bac08",
    "injectType": "inject",
    "payload": "125000000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 290,
    "y": 400,
    "wires": [
      [
        "38658997.779b3e"
      ]
    ]
  },
  {
    "id": "6ed8b1e4.57b31",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "9ed9249b.6bac08",
    "nodeId": "ns=5;s=TestString",
    "browsename": "TestString",
    "displayname": "Test String",
    "objecttype": "BaseDataVariableType",
    "datatype": "String",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "String",
    "x": 490,
    "y": 440,
    "wires": [
      [
        "8d1d3953.d55f5"
      ]
    ]
  },
  {
    "id": "dfccd24e.04ea08",
    "type": "OPCUA-IIoT-Inject",
    "z": "9ed9249b.6bac08",
    "injectType": "inject",
    "payload": "Hello IIoT World!",
    "payloadType": "str",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 310,
    "y": 440,
    "wires": [
      [
        "6ed8b1e4.57b31"
      ]
    ]
  },
  {
    "id": "7ea58f53.5d0248",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "9ed9249b.6bac08",
    "nodeId": "ns=5;s=TestInt16",
    "browsename": "TestInt16",
    "displayname": "Test Int16",
    "objecttype": "BaseDataVariableType",
    "datatype": "Int16",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Int16",
    "x": 490,
    "y": 480,
    "wires": [
      [
        "8d1d3953.d55f5"
      ]
    ]
  },
  {
    "id": "7a246ff2.94f998",
    "type": "OPCUA-IIoT-Inject",
    "z": "9ed9249b.6bac08",
    "injectType": "inject",
    "payload": "-6000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 270,
    "y": 480,
    "wires": [
      [
        "7ea58f53.5d0248"
      ]
    ]
  },
  {
    "id": "516bb398.3bc72c",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "9ed9249b.6bac08",
    "nodeId": "ns=5;s=TestInt32",
    "browsename": "TestInt32",
    "displayname": "Test Int32",
    "objecttype": "BaseDataVariableType",
    "datatype": "Int32",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "Int32",
    "x": 490,
    "y": 520,
    "wires": [
      [
        "8d1d3953.d55f5"
      ]
    ]
  },
  {
    "id": "cfa2ca35.c9297",
    "type": "OPCUA-IIoT-Inject",
    "z": "9ed9249b.6bac08",
    "injectType": "inject",
    "payload": "-165000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "",
    "addressSpaceItems": [],
    "x": 280,
    "y": 520,
    "wires": [
      [
        "516bb398.3bc72c"
      ]
    ]
  },
  {
    "id": "53682d9c.26a464",
    "type": "OPCUA-IIoT-Inject",
    "z": "9ed9249b.6bac08",
    "injectType": "inject",
    "payload": "[{\"text\":\"Hallo Welt!\",\"locale\":\"de\"},{\"text\":\"Hello World!\",\"locale\":\"en\"},{\"text\":\"Bonjour Monde!\",\"locale\":\"fr\"}]",
    "payloadType": "json",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "15",
    "name": "JSON",
    "addressSpaceItems": [],
    "x": 270,
    "y": 560,
    "wires": [
      [
        "2427d96c.2b5176"
      ]
    ]
  },
  {
    "id": "2427d96c.2b5176",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "9ed9249b.6bac08",
    "nodeId": "ns=5;s=TestLocalizedText",
    "browsename": "TestLocalizedText",
    "displayname": "Test LocalizedText",
    "objecttype": "BaseDataVariableType",
    "datatype": "LocalizedText",
    "value": "",
    "referenceNodeId": "ns=5;s=TestVariables",
    "referencetype": "Organizes",
    "name": "LocalizedText",
    "x": 520,
    "y": 560,
    "wires": [
      [
        "8d1d3953.d55f5"
      ]
    ]
  },
  {
    "id": "82c17af5.ee9a2",
    "type": "comment",
    "z": "9ed9249b.6bac08",
    "name": "information",
    "info": "Clients to browse\n\nUA-Expert: https://www.unified-automation.com/products/development-tools/uaexpert.html\nOPCUA-Commander: https://github.com/node-opcua/opcua-commander\nNode-RED: use the browse examples to start browsing the server via Node-RED\n\nHappy wiring!\nKlaus Landsdorf\nhttp://bianco-royal.de/",
    "x": 860,
    "y": 300,
    "wires": []
  },
  {
    "id": "8d1d3953.d55f5",
    "type": "function",
    "z": "9ed9249b.6bac08",
    "name": "thru",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 710,
    "y": 340,
    "wires": [
      [
        "d6c5ed30.fe4d48"
      ]
    ]
  },
  {
    "id": "d6c5ed30.fe4d48",
    "type": "OPCUA-IIoT-Server",
    "z": "9ed9249b.6bac08",
    "port": "55389",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "",
    "alternateHostname": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "asoDemo": true,
    "allowAnonymous": true,
    "isAuditing": false,
    "serverDiscovery": true,
    "users": [],
    "xmlsets": [],
    "publicCertificateFile": "",
    "privateCertificateFile": "",
    "maxNodesPerRead": 1000,
    "maxNodesPerBrowse": 2000,
    "x": 860,
    "y": 340,
    "wires": [
      []
    ]
  }
]
