examples/server-aso.json
[
  {
    "id": "f1453326.a8ea9",
    "type": "tab",
    "label": "IIoT OPC UA ASO",
    "disabled": false,
    "info": ""
  },
  {
    "id": "83dfd96a.7dd658",
    "type": "OPCUA-IIoT-Server",
    "z": "f1453326.a8ea9",
    "port": "55390",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "",
    "alternateHostname": "",
    "name": "LOCAL SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "asoDemo": true,
    "allowAnonymous": true,
    "isAuditing": false,
    "serverDiscovery": true,
    "users": [
      {
        "name": "test",
        "password": "test"
      },
      {
        "name": "peter",
        "password": "peter"
      }
    ],
    "publicCertificateFile": "",
    "privateCertificateFile": "",
    "x": 640,
    "y": 100,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "81aa4258.630af",
    "type": "OPCUA-IIoT-Server-Command",
    "z": "f1453326.a8ea9",
    "commandtype": "restart",
    "nodeId": "",
    "name": "",
    "x": 440,
    "y": 80,
    "wires": [
      [
        "83dfd96a.7dd658"
      ]
    ]
  },
  {
    "id": "78ec5af2.ee1fa4",
    "type": "ui_button",
    "z": "f1453326.a8ea9",
    "name": "",
    "group": "66557d89.3a7074",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Restart OPC UA Server",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 250,
    "y": 80,
    "wires": [
      [
        "81aa4258.630af"
      ]
    ]
  },
  {
    "id": "70895eee.e5e09",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "f1453326.a8ea9",
    "nodeId": "ns=5;s=TestFolder",
    "browsename": "TestFolder",
    "displayname": "Test Folder",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "",
    "x": 450,
    "y": 140,
    "wires": [
      [
        "83dfd96a.7dd658"
      ]
    ]
  },
  {
    "id": "6a623f8.28157c",
    "type": "OPCUA-IIoT-Inject",
    "z": "f1453326.a8ea9",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 290,
    "y": 140,
    "wires": [
      [
        "70895eee.e5e09"
      ]
    ]
  },
  {
    "id": "a7187224.3ba1c",
    "type": "comment",
    "z": "f1453326.a8ea9",
    "name": "information",
    "info": "Clients to browse\n\nUA-Expert: https://www.unified-automation.com/products/development-tools/uaexpert.html\nOPCUA-Commander: https://github.com/node-opcua/opcua-commander\nNode-RED: use the browse examples to start browsing the server via Node-RED\n\nHappy wiring!\nKlaus Landsdorf\nhttp://bianco-royal.de/",
    "x": 630,
    "y": 60,
    "wires": []
  },
  {
    "id": "66557d89.3a7074",
    "type": "ui_group",
    "z": "",
    "name": "Default",
    "tab": "3842f189.ad1fde",
    "disp": true,
    "width": "10"
  },
  {
    "id": "3842f189.ad1fde",
    "type": "ui_tab",
    "z": "f1453326.a8ea9",
    "name": "Node-RED OPC UA IIoT",
    "icon": "dashboard"
  }
]
