examples/test-flow.json
[
  {
    "id": "d3a98210.b10a7",
    "type": "tab",
    "label": "OPC UA IIoT Tests",
    "disabled": false,
    "info": ""
  },
  {
    "id": "73d2fa1c.092b24",
    "type": "OPCUA-IIoT-Write",
    "z": "d3a98210.b10a7",
    "connector": "b728f549.31b7d8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 450,
    "y": 600,
    "wires": [
      [
        "bc837d9.1243e8"
      ]
    ]
  },
  {
    "id": "a2e56fef.6fd7b",
    "type": "OPCUA-IIoT-Inject",
    "z": "d3a98210.b10a7",
    "injectType": "write",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "3",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "TestReadWrite",
    "addressSpaceItems": [
      {
        "name": "TestReadWrite",
        "nodeId": "ns=4;s=TestReadWrite",
        "datatypeName": "Double"
      }
    ],
    "x": 170,
    "y": 600,
    "wires": [
      [
        "5f381dfd.2a95c4"
      ]
    ]
  },
  {
    "id": "bc837d9.1243e8",
    "type": "OPCUA-IIoT-Response",
    "z": "d3a98210.b10a7",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 580,
    "y": 600,
    "wires": [
      [
        "ac8d0621.6d3d28"
      ]
    ]
  },
  {
    "id": "5f381dfd.2a95c4",
    "type": "data-generator",
    "z": "d3a98210.b10a7",
    "name": "dGen",
    "field": "valuesToWrite",
    "fieldType": "msg",
    "syntax": "json",
    "template": "[{{int 1 65000}}]",
    "x": 320,
    "y": 600,
    "wires": [
      [
        "73d2fa1c.092b24"
      ]
    ]
  },
  {
    "id": "cf5a9f18.554ac",
    "type": "OPCUA-IIoT-Browser",
    "z": "d3a98210.b10a7",
    "connector": "b728f549.31b7d8",
    "nodeId": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 540,
    "y": 290,
    "wires": [
      [
        "4a95c7d5.995bb8",
        "31787874.14cde8"
      ]
    ]
  },
  {
    "id": "4a95c7d5.995bb8",
    "type": "ui_template",
    "z": "d3a98210.b10a7",
    "group": "14847a64.168fd6",
    "name": "",
    "order": 1,
    "width": 0,
    "height": 0,
    "format": "<div layout=\"column\" layout-align=\"space-between\">\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <div>{{msg.payload.endpoint}}</div>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <div>{{msg.payload.browseTopic}} with {{msg.payload.browserResultCount}} references</div>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <h1>Results</h1>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <select ng-model=\"item\" ng-options=\"item.displayName.text for item in msg.payload.browserItems\">\n            <option value=\"\">-- Root --</option>\n        </select>\n        <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">Browse</button>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\" style=\"margin: 0 auto;heigth:auto\">\n        <div layout-align=\"space-between\">\n        <ul ng-repeat=\"item in msg.payload.browserItems\">\n            <li>{{item.displayName.text}} ( {{item.nodeId}} - {{item.browseName}} )</li>\n        </ul>\n        </div>\n    </div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 540,
    "y": 240,
    "wires": [
      [
        "cf5a9f18.554ac"
      ]
    ]
  },
  {
    "id": "31787874.14cde8",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 290,
    "wires": []
  },
  {
    "id": "113be868.3fab68",
    "type": "OPCUA-IIoT-Inject",
    "z": "d3a98210.b10a7",
    "payload": "",
    "payloadType": "date",
    "topic": "ns=0;i=85",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Root",
    "addressSpaceItems": [],
    "x": 140,
    "y": 290,
    "wires": [
      [
        "36650111.26eede"
      ]
    ]
  },
  {
    "id": "93c68a52.e82548",
    "type": "OPCUA-IIoT-Server",
    "z": "d3a98210.b10a7",
    "port": "55388",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "",
    "alternateHostname": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "asoDemo": true,
    "allowAnonymous": true,
    "isAuditing": false,
    "serverDiscovery": true,
    "users": [
      {
        "name": "bianco",
        "password": "royal"
      },
      {
        "name": "peter",
        "password": "peter"
      }
    ],
    "xmlsets": [],
    "publicCertificateFile": "",
    "privateCertificateFile": "",
    "x": 690,
    "y": 100,
    "wires": [
      [
        "67bf4661.900c18"
      ],
      [
        "87315c70.fcc88"
      ]
    ]
  },
  {
    "id": "eb1be1ab.815eb",
    "type": "OPCUA-IIoT-Server-Command",
    "z": "d3a98210.b10a7",
    "commandtype": "restart",
    "nodeId": "",
    "name": "restart",
    "x": 430,
    "y": 150,
    "wires": [
      [
        "93c68a52.e82548",
        "f6722180.75a0f"
      ]
    ]
  },
  {
    "id": "f5271547.e2e838",
    "type": "ui_button",
    "z": "d3a98210.b10a7",
    "name": "",
    "group": "14847a64.168fd6",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Restart OPC UA Server",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 170,
    "y": 150,
    "wires": [
      [
        "eb1be1ab.815eb"
      ]
    ]
  },
  {
    "id": "f2f5e7ce.fc9118",
    "type": "OPCUA-IIoT-Listener",
    "z": "d3a98210.b10a7",
    "connector": "b728f549.31b7d8",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 720,
    "y": 390,
    "wires": [
      [
        "f8b2a7f6.cc2648",
        "70543165.271bf",
        "40f40821.9fb2f8",
        "cc950af3.6591a8",
        "72db61f0.08b8e",
        "bd938876.a25648"
      ],
      [
        "2d8f34df.e020dc",
        "8202b11e.4af2b"
      ]
    ]
  },
  {
    "id": "a6c43b4a.249c88",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "d3a98210.b10a7",
    "nodeId": "ns=5;s=TestFolder",
    "browsename": "TestFolder",
    "displayname": "Test Folder",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "",
    "x": 450,
    "y": 100,
    "wires": [
      [
        "93c68a52.e82548",
        "50ce2071.95eca",
        "aa8cd531.acb888"
      ]
    ]
  },
  {
    "id": "36650111.26eede",
    "type": "delay",
    "z": "d3a98210.b10a7",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 380,
    "y": 290,
    "wires": [
      [
        "cf5a9f18.554ac"
      ]
    ]
  },
  {
    "id": "6ddc413b.f34a1",
    "type": "OPCUA-IIoT-Server-Command",
    "z": "d3a98210.b10a7",
    "commandtype": "deleteNode",
    "nodeId": "ns=5;s=TestFolder",
    "name": "Delete",
    "x": 430,
    "y": 190,
    "wires": [
      [
        "93c68a52.e82548",
        "50ce2071.95eca",
        "f6722180.75a0f"
      ]
    ]
  },
  {
    "id": "8bc4c20.ae9e84",
    "type": "ui_button",
    "z": "d3a98210.b10a7",
    "name": "",
    "group": "14847a64.168fd6",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Remove Test Folder",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "x": 180,
    "y": 190,
    "wires": [
      [
        "6ddc413b.f34a1"
      ]
    ]
  },
  {
    "id": "50ce2071.95eca",
    "type": "function",
    "z": "d3a98210.b10a7",
    "name": "Rebrowse",
    "func": "msg.topic = 'ns=0;i=85'\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 700,
    "y": 150,
    "wires": [
      [
        "4909f48a.0ad60c"
      ]
    ]
  },
  {
    "id": "ad08a0e9.6db3c",
    "type": "ui_button",
    "z": "d3a98210.b10a7",
    "name": "",
    "group": "14847a64.168fd6",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Add Test Folder",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 200,
    "y": 60,
    "wires": [
      [
        "a6c43b4a.249c88"
      ]
    ]
  },
  {
    "id": "ac8d0621.6d3d28",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 720,
    "y": 600,
    "wires": []
  },
  {
    "id": "b9b6715a.33909",
    "type": "link in",
    "z": "d3a98210.b10a7",
    "name": "",
    "links": [
      "4909f48a.0ad60c"
    ],
    "x": 265,
    "y": 260,
    "wires": [
      [
        "36650111.26eede"
      ]
    ]
  },
  {
    "id": "4909f48a.0ad60c",
    "type": "link out",
    "z": "d3a98210.b10a7",
    "name": "",
    "links": [
      "b9b6715a.33909"
    ],
    "x": 825,
    "y": 150,
    "wires": []
  },
  {
    "id": "96316018.fb29b",
    "type": "comment",
    "z": "d3a98210.b10a7",
    "name": "check - http://localhost:1880/ui/",
    "info": "",
    "x": 450,
    "y": 30,
    "wires": []
  },
  {
    "id": "aa8cd531.acb888",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 690,
    "y": 60,
    "wires": []
  },
  {
    "id": "67bf4661.900c18",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 860,
    "y": 70,
    "wires": []
  },
  {
    "id": "87315c70.fcc88",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 860,
    "y": 110,
    "wires": []
  },
  {
    "id": "b8aea4c7.00a268",
    "type": "OPCUA-IIoT-Inject",
    "z": "d3a98210.b10a7",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 210,
    "y": 100,
    "wires": [
      [
        "a6c43b4a.249c88"
      ]
    ]
  },
  {
    "id": "f6722180.75a0f",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 690,
    "y": 190,
    "wires": []
  },
  {
    "id": "c08fcb03.050b38",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 720,
    "y": 500,
    "wires": []
  },
  {
    "id": "5c2099ce.b888f8",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 720,
    "y": 540,
    "wires": []
  },
  {
    "id": "a28ea6fa.0d4d88",
    "type": "OPCUA-IIoT-Event",
    "z": "d3a98210.b10a7",
    "eventType": "BaseEventType",
    "eventTypeLabel": "BaseEventType (i=2041)",
    "queueSize": "1000",
    "usingListener": true,
    "name": "Base Events",
    "x": 350,
    "y": 520,
    "wires": [
      [
        "a625408b.76606"
      ]
    ]
  },
  {
    "id": "89964779.adb798",
    "type": "OPCUA-IIoT-Inject",
    "z": "d3a98210.b10a7",
    "injectType": "listen",
    "payload": "200",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "listen with 200 ms",
    "addressSpaceItems": [
      {
        "name": "Tanks",
        "nodeId": "ns=1;i=1000",
        "datatypeName": ""
      },
      {
        "name": "Server",
        "nodeId": "ns=0;i=2253",
        "datatypeName": ""
      }
    ],
    "x": 160,
    "y": 520,
    "wires": [
      [
        "a28ea6fa.0d4d88"
      ]
    ]
  },
  {
    "id": "a625408b.76606",
    "type": "OPCUA-IIoT-Listener",
    "z": "d3a98210.b10a7",
    "connector": "b728f549.31b7d8",
    "action": "events",
    "queueSize": "100",
    "name": "",
    "justValue": false,
    "metaDataInject": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 520,
    "wires": [
      [
        "c08fcb03.050b38"
      ],
      [
        "5c2099ce.b888f8"
      ]
    ]
  },
  {
    "id": "98fe0f37.b7554",
    "type": "ui_gauge",
    "z": "d3a98210.b10a7",
    "name": "",
    "group": "ed780622.afaae8",
    "order": 1,
    "width": "0",
    "height": "0",
    "gtype": "gage",
    "title": "TestReadWrite",
    "label": "units",
    "format": "{{value}}",
    "min": "0",
    "max": "65000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 1280,
    "y": 330,
    "wires": []
  },
  {
    "id": "8202b11e.4af2b",
    "type": "OPCUA-IIoT-Response",
    "z": "d3a98210.b10a7",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 1062,
    "y": 594,
    "wires": [
      [
        "4808d4ae.1cfa9c"
      ]
    ]
  },
  {
    "id": "1640bda2.429642",
    "type": "ui_numeric",
    "z": "d3a98210.b10a7",
    "name": "",
    "label": "Sessions",
    "group": "ed780622.afaae8",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "topic": "",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "step": 1,
    "x": 1260,
    "y": 384,
    "wires": [
      []
    ]
  },
  {
    "id": "4808d4ae.1cfa9c",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1270,
    "y": 594,
    "wires": []
  },
  {
    "id": "40f40821.9fb2f8",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "d3a98210.b10a7",
    "nodeId": "ns=4;s=TestReadWrite",
    "datatype": "Double",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": false,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "",
    "name": "TestReadWrite",
    "x": 1082,
    "y": 336,
    "wires": [
      [
        "98fe0f37.b7554",
        "e65b6936.dcc288"
      ],
      []
    ]
  },
  {
    "id": "f8b2a7f6.cc2648",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1050,
    "y": 230,
    "wires": []
  },
  {
    "id": "2d8f34df.e020dc",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1052,
    "y": 552,
    "wires": []
  },
  {
    "id": "cc950af3.6591a8",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "d3a98210.b10a7",
    "nodeId": "ns=0;i=2277",
    "datatype": "UInt32",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": false,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "",
    "name": "Session Count",
    "x": 1082,
    "y": 390,
    "wires": [
      [
        "1640bda2.429642"
      ],
      []
    ]
  },
  {
    "id": "70543165.271bf",
    "type": "OPCUA-IIoT-Response",
    "z": "d3a98210.b10a7",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 1060,
    "y": 280,
    "wires": [
      [
        "f49ac29f.ef98a"
      ]
    ]
  },
  {
    "id": "f49ac29f.ef98a",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1250,
    "y": 258,
    "wires": []
  },
  {
    "id": "74b74e21.ef6bb",
    "type": "ui_gauge",
    "z": "d3a98210.b10a7",
    "name": "",
    "group": "7c7aa8b6.652978",
    "order": 1,
    "width": "0",
    "height": "0",
    "gtype": "gage",
    "title": "FullCounter",
    "label": "units",
    "format": "{{value}}",
    "min": "-100000",
    "max": "100000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 1270,
    "y": 456,
    "wires": []
  },
  {
    "id": "72db61f0.08b8e",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "d3a98210.b10a7",
    "nodeId": "ns=4;s=FullCounter",
    "datatype": "Int32",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": false,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "",
    "name": "Full Counter",
    "x": 1072,
    "y": 444,
    "wires": [
      [
        "74b74e21.ef6bb",
        "3c1873b3.8e647c"
      ],
      []
    ]
  },
  {
    "id": "bd938876.a25648",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "d3a98210.b10a7",
    "nodeId": "ns=4;s=Counter",
    "datatype": "UInt16",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": false,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "",
    "name": "Counter",
    "x": 1062,
    "y": 498,
    "wires": [
      [
        "3342ad34.3bda42"
      ],
      []
    ]
  },
  {
    "id": "3342ad34.3bda42",
    "type": "ui_gauge",
    "z": "d3a98210.b10a7",
    "name": "",
    "group": "7c7aa8b6.652978",
    "order": 2,
    "width": "0",
    "height": "0",
    "gtype": "gage",
    "title": "Counter",
    "label": "units",
    "format": "{{value}}",
    "min": "0",
    "max": "66000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 1260,
    "y": 492,
    "wires": []
  },
  {
    "id": "3c1873b3.8e647c",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1250,
    "y": 420,
    "wires": []
  },
  {
    "id": "e65b6936.dcc288",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1250,
    "y": 294,
    "wires": []
  },
  {
    "id": "105fa750.ea0109",
    "type": "ui_button",
    "z": "d3a98210.b10a7",
    "name": "Node Two",
    "group": "ed780622.afaae8",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "sub / unsub",
    "color": "",
    "bgcolor": "",
    "icon": "fa-tachometer",
    "payload": "{ \"interval\": 500, \"queueSize\": 1 }",
    "payloadType": "str",
    "topic": "",
    "x": 160,
    "y": 410,
    "wires": [
      [
        "2554004b.53442"
      ]
    ]
  },
  {
    "id": "e05f2278.b67d",
    "type": "ui_button",
    "z": "d3a98210.b10a7",
    "name": "Node One",
    "group": "ed780622.afaae8",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "sub / unsub",
    "color": "",
    "bgcolor": "",
    "icon": "fa-tachometer",
    "payload": "{ \"interval\": 1000, \"queueSize\": 1 }",
    "payloadType": "str",
    "topic": "",
    "x": 150,
    "y": 356,
    "wires": [
      [
        "56ead758.25a7b8"
      ]
    ]
  },
  {
    "id": "f5bd845a.3a97e8",
    "type": "OPCUA-IIoT-Inject",
    "z": "d3a98210.b10a7",
    "injectType": "listen",
    "payload": "{\"interval\":1000,\"queueSize\":10,\"options\":{\"requestedPublishingInterval\":100,\"requestedLifetimeCount\":1000,\"requestedMaxKeepAliveCount\":12,\"maxNotificationsPerPublish\":100,\"publishingEnabled\":true,\"priority\":10}}",
    "payloadType": "json",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Start Abo",
    "addressSpaceItems": [
      {
        "name": "Counter",
        "nodeId": "ns=4;s=Counter",
        "datatypeName": ""
      },
      {
        "name": "FullCounter",
        "nodeId": "ns=4;s=FullCounter",
        "datatypeName": ""
      }
    ],
    "x": 290,
    "y": 470,
    "wires": [
      [
        "f2f5e7ce.fc9118"
      ]
    ]
  },
  {
    "id": "56ead758.25a7b8",
    "type": "OPCUA-IIoT-Node",
    "z": "d3a98210.b10a7",
    "nodeId": "ns=0;i=2277",
    "datatype": "NodeId",
    "value": "",
    "usingListener": true,
    "name": "",
    "topic": "",
    "x": 300,
    "y": 356,
    "wires": [
      [
        "f2f5e7ce.fc9118"
      ]
    ]
  },
  {
    "id": "2554004b.53442",
    "type": "OPCUA-IIoT-Node",
    "z": "d3a98210.b10a7",
    "nodeId": "ns=4;s=TestReadWrite",
    "datatype": "NodeId",
    "value": "",
    "usingListener": true,
    "name": "",
    "topic": "",
    "x": 300,
    "y": 410,
    "wires": [
      [
        "f2f5e7ce.fc9118"
      ]
    ]
  },
  {
    "id": "edb64c40.981d6",
    "type": "OPCUA-IIoT-Inject",
    "z": "d3a98210.b10a7",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": 15,
    "name": "Server Info",
    "addressSpaceItems": [
      {
        "name": "ServerStatus",
        "nodeId": "ns=0;i=2256",
        "datatypeName": ""
      },
      {
        "name": "ServerDiagnostic",
        "nodeId": "ns=0;i=2274",
        "datatypeName": ""
      }
    ],
    "x": 140,
    "y": 740,
    "wires": [
      [
        "bf3dc58b.377da8"
      ]
    ]
  },
  {
    "id": "cbb8a234.d1751",
    "type": "OPCUA-IIoT-Read",
    "z": "d3a98210.b10a7",
    "attributeId": "0",
    "maxAge": 1,
    "depth": 1,
    "connector": "b728f549.31b7d8",
    "name": "Read Structures",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 500,
    "y": 680,
    "wires": [
      [
        "1bbb9e80.75c952",
        "6b04733e.2dbfdc"
      ]
    ]
  },
  {
    "id": "1bbb9e80.75c952",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 740,
    "wires": []
  },
  {
    "id": "6b04733e.2dbfdc",
    "type": "OPCUA-IIoT-Response",
    "z": "d3a98210.b10a7",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 720,
    "y": 680,
    "wires": [
      [
        "9c0f579d.d5e838"
      ]
    ]
  },
  {
    "id": "9c0f579d.d5e838",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 870,
    "y": 680,
    "wires": []
  },
  {
    "id": "bf3dc58b.377da8",
    "type": "OPCUA-IIoT-Browser",
    "z": "d3a98210.b10a7",
    "connector": "b728f549.31b7d8",
    "nodeId": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 300,
    "y": 740,
    "wires": [
      [
        "cbb8a234.d1751",
        "54877469.f1344c",
        "4d84be68.ed199"
      ]
    ]
  },
  {
    "id": "54877469.f1344c",
    "type": "OPCUA-IIoT-Read",
    "z": "d3a98210.b10a7",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "b728f549.31b7d8",
    "name": "Read Structures",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 500,
    "y": 780,
    "wires": [
      [
        "3d17c25c.ec0bae",
        "7497c675.0a6908"
      ]
    ]
  },
  {
    "id": "7497c675.0a6908",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 840,
    "wires": []
  },
  {
    "id": "3d17c25c.ec0bae",
    "type": "OPCUA-IIoT-Response",
    "z": "d3a98210.b10a7",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 720,
    "y": 780,
    "wires": [
      [
        "856c5780.e19e78"
      ]
    ]
  },
  {
    "id": "856c5780.e19e78",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 870,
    "y": 780,
    "wires": []
  },
  {
    "id": "4d84be68.ed199",
    "type": "OPCUA-IIoT-Read",
    "z": "d3a98210.b10a7",
    "attributeId": "130",
    "maxAge": 1,
    "depth": 1,
    "connector": "b728f549.31b7d8",
    "name": "Read Structures",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 500,
    "y": 880,
    "wires": [
      [
        "6f7aacce.d4ef14",
        "52a55f10.3d094"
      ]
    ]
  },
  {
    "id": "52a55f10.3d094",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 940,
    "wires": []
  },
  {
    "id": "6f7aacce.d4ef14",
    "type": "OPCUA-IIoT-Response",
    "z": "d3a98210.b10a7",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 720,
    "y": 880,
    "wires": [
      [
        "2e50cdd2.73b702"
      ]
    ]
  },
  {
    "id": "2e50cdd2.73b702",
    "type": "debug",
    "z": "d3a98210.b10a7",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 870,
    "y": 880,
    "wires": []
  },
  {
    "id": "b728f549.31b7d8",
    "type": "OPCUA-IIoT-Connector",
    "z": "d3a98210.b10a7",
    "discoveryUrl": "opc.tcp://localhost:55388/",
    "endpoint": "opc.tcp://localhost:55388/UA/NodeREDIIOTServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "Local Server",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "",
    "endpointMusExist": false
  },
  {
    "id": "14847a64.168fd6",
    "type": "ui_group",
    "z": "d3a98210.b10a7",
    "name": "Default",
    "tab": "fce10b09.ef5cf8",
    "order": 2,
    "disp": true,
    "width": "15"
  },
  {
    "id": "ed780622.afaae8",
    "type": "ui_group",
    "z": "d3a98210.b10a7",
    "name": "Subs",
    "tab": "fce10b09.ef5cf8",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "7c7aa8b6.652978",
    "type": "ui_group",
    "z": "d3a98210.b10a7",
    "name": "Start Abo",
    "tab": "fce10b09.ef5cf8",
    "order": 2,
    "disp": true,
    "width": "4"
  },
  {
    "id": "fce10b09.ef5cf8",
    "type": "ui_tab",
    "z": "d3a98210.b10a7",
    "name": "Home",
    "icon": "dashboard"
  }
]
