examples/test-flow.json
[
  {
    "id": "57e505dd.47e30c",
    "type": "tab",
    "label": "OPC UA IIoT"
  },
  {
    "id": "ba4ae37.bf5572",
    "type": "OPCUA-IIoT-Write",
    "z": "57e505dd.47e30c",
    "connector": "57e75d7b.18d3c4",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 450,
    "y": 480,
    "wires": [
      [
        "87e18376.a2a22"
      ]
    ]
  },
  {
    "id": "ea3a2785.5b4e38",
    "type": "OPCUA-IIoT-Inject",
    "z": "57e505dd.47e30c",
    "injectType": "write",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "TestReadWrite",
    "addressSpaceItems": [
      {
        "name": "TestReadWrite",
        "nodeId": "ns=4;s=TestReadWrite",
        "datatypeName": "Double"
      }
    ],
    "x": 170,
    "y": 480,
    "wires": [
      [
        "8d5c8173.b101a"
      ]
    ]
  },
  {
    "id": "87e18376.a2a22",
    "type": "OPCUA-IIoT-Response",
    "z": "57e505dd.47e30c",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 580,
    "y": 480,
    "wires": [
      [
        "c62e08ed.2db738"
      ]
    ]
  },
  {
    "id": "8d5c8173.b101a",
    "type": "data-generator",
    "z": "57e505dd.47e30c",
    "name": "dGen",
    "field": "valuesToWrite",
    "fieldType": "msg",
    "syntax": "json",
    "template": "[{{int 1 65000}}]",
    "x": 320,
    "y": 480,
    "wires": [
      [
        "ba4ae37.bf5572"
      ]
    ]
  },
  {
    "id": "40c984ea.b052fc",
    "type": "OPCUA-IIoT-Browser",
    "z": "57e505dd.47e30c",
    "connector": "57e75d7b.18d3c4",
    "nodeId": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 540,
    "y": 290,
    "wires": [
      [
        "330bcef9.4e1432",
        "ea7607e5.d1f738"
      ]
    ]
  },
  {
    "id": "330bcef9.4e1432",
    "type": "ui_template",
    "z": "57e505dd.47e30c",
    "group": "af3390fa.0bd76",
    "name": "",
    "order": 1,
    "width": 0,
    "height": 0,
    "format": "<div layout=\"column\" layout-align=\"space-between\">\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <div>{{msg.payload.endpoint}}</div>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <div>{{msg.payload.browseTopic}} with {{msg.payload.browserResultCount}} references</div>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <h1>Results</h1>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <select ng-model=\"item\" ng-options=\"item.displayName.text for item in msg.payload.browserItems\">\n            <option value=\"\">-- Root --</option>\n        </select>\n        <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">Browse</button>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\" style=\"margin: 0 auto;heigth:auto\">\n        <div layout-align=\"space-between\">\n        <ul ng-repeat=\"item in msg.payload.browserItems\">\n            <li>{{item.displayName.text}} ( {{item.nodeId}} - {{item.browseName}} )</li>\n        </ul>\n        </div>\n    </div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 540,
    "y": 240,
    "wires": [
      [
        "40c984ea.b052fc"
      ]
    ]
  },
  {
    "id": "ea7607e5.d1f738",
    "type": "debug",
    "z": "57e505dd.47e30c",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 290,
    "wires": []
  },
  {
    "id": "f326117d.afd72",
    "type": "OPCUA-IIoT-Inject",
    "z": "57e505dd.47e30c",
    "payload": "",
    "payloadType": "date",
    "topic": "ns=0;i=85",
    "repeat": "",
    "crontab": "",
    "once": true,
    "name": "Root",
    "x": 140,
    "y": 290,
    "wires": [
      [
        "6546c77e.806328"
      ]
    ]
  },
  {
    "id": "d634426a.7deb5",
    "type": "OPCUA-IIoT-Server",
    "z": "57e505dd.47e30c",
    "port": "55388",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "",
    "alternateHostname": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "allowAnonymous": true,
    "isAuditing": false,
    "users": [
      {
        "name": "bianco",
        "password": "royal"
      },
      {
        "name": "peter",
        "password": "peter"
      }
    ],
    "x": 690,
    "y": 100,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "8a7f449d.daf458",
    "type": "OPCUA-IIoT-Server-Command",
    "z": "57e505dd.47e30c",
    "commandtype": "restart",
    "nodeId": "",
    "name": "",
    "x": 440,
    "y": 150,
    "wires": [
      [
        "d634426a.7deb5"
      ]
    ]
  },
  {
    "id": "af5cd807.77fbe8",
    "type": "inject",
    "z": "57e505dd.47e30c",
    "name": "ASO",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 130,
    "y": 100,
    "wires": [
      [
        "7fbd494f.a2b168"
      ]
    ]
  },
  {
    "id": "7fbd494f.a2b168",
    "type": "delay",
    "z": "57e505dd.47e30c",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 300,
    "y": 100,
    "wires": [
      [
        "cda725a3.650ca8"
      ]
    ]
  },
  {
    "id": "8c96e897.0bfd28",
    "type": "ui_button",
    "z": "57e505dd.47e30c",
    "name": "",
    "group": "af3390fa.0bd76",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Restart OPC UA Server",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 170,
    "y": 150,
    "wires": [
      [
        "8a7f449d.daf458"
      ]
    ]
  },
  {
    "id": "5c912f1f.8b81",
    "type": "OPCUA-IIoT-Listener",
    "z": "57e505dd.47e30c",
    "connector": "57e75d7b.18d3c4",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 530,
    "y": 380,
    "wires": [
      [
        "d01aaf7b.317cc",
        "c1c11066.10b76"
      ],
      []
    ]
  },
  {
    "id": "aa5593ac.2125e",
    "type": "OPCUA-IIoT-Inject",
    "z": "57e505dd.47e30c",
    "injectType": "listen",
    "payload": "1000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "TestReadWrite Sub",
    "addressSpaceItems": [
      {
        "name": "TestReadWrite",
        "nodeId": "ns=4;s=TestReadWrite",
        "datatypeName": "Double"
      }
    ],
    "x": 200,
    "y": 380,
    "wires": [
      [
        "5c912f1f.8b81"
      ]
    ]
  },
  {
    "id": "c1c11066.10b76",
    "type": "ui_gauge",
    "z": "57e505dd.47e30c",
    "name": "",
    "group": "b7c2c041.a83fd",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Gauge",
    "label": "units",
    "format": "{{value}}",
    "min": "-1000",
    "max": "80000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 690,
    "y": 360,
    "wires": []
  },
  {
    "id": "d4096f90.e09d3",
    "type": "ui_button",
    "z": "57e505dd.47e30c",
    "name": "",
    "group": "b7c2c041.a83fd",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Subscribe/Unsubscribe",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "1000",
    "payloadType": "num",
    "topic": "",
    "x": 180,
    "y": 420,
    "wires": [
      [
        "bed9db51.b18098"
      ]
    ]
  },
  {
    "id": "d01aaf7b.317cc",
    "type": "debug",
    "z": "57e505dd.47e30c",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 690,
    "y": 400,
    "wires": []
  },
  {
    "id": "cda725a3.650ca8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "57e505dd.47e30c",
    "nodeId": "ns=5;s=TestFolder",
    "browsename": "TestFolder",
    "displayname": "Test Folder",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "",
    "x": 450,
    "y": 100,
    "wires": [
      [
        "d634426a.7deb5",
        "81226b5d.0bfc08"
      ]
    ]
  },
  {
    "id": "6546c77e.806328",
    "type": "delay",
    "z": "57e505dd.47e30c",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 380,
    "y": 290,
    "wires": [
      [
        "40c984ea.b052fc"
      ]
    ]
  },
  {
    "id": "2966473b.2c5408",
    "type": "OPCUA-IIoT-Server-Command",
    "z": "57e505dd.47e30c",
    "commandtype": "deleteNode",
    "nodeId": "ns=5;s=TestFolder",
    "name": "",
    "x": 440,
    "y": 190,
    "wires": [
      [
        "d634426a.7deb5",
        "81226b5d.0bfc08"
      ]
    ]
  },
  {
    "id": "60a99353.4a36bc",
    "type": "ui_button",
    "z": "57e505dd.47e30c",
    "name": "",
    "group": "af3390fa.0bd76",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Remove Test Folder",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "ns=5;s=TestFolder",
    "x": 180,
    "y": 190,
    "wires": [
      [
        "2966473b.2c5408"
      ]
    ]
  },
  {
    "id": "81226b5d.0bfc08",
    "type": "function",
    "z": "57e505dd.47e30c",
    "name": "Rebrowse",
    "func": "msg.topic = 'ns=0;i=85'\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 690,
    "y": 180,
    "wires": [
      [
        "89ffd70a.9c6728"
      ]
    ]
  },
  {
    "id": "1091d423.d0819c",
    "type": "ui_button",
    "z": "57e505dd.47e30c",
    "name": "",
    "group": "af3390fa.0bd76",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Add Test Folder",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 280,
    "y": 60,
    "wires": [
      [
        "cda725a3.650ca8"
      ]
    ]
  },
  {
    "id": "bed9db51.b18098",
    "type": "OPCUA-IIoT-Node",
    "z": "57e505dd.47e30c",
    "nodeId": "ns=4;s=TestReadWrite",
    "datatype": "Double",
    "value": "",
    "usingListener": true,
    "name": "",
    "x": 370,
    "y": 420,
    "wires": [
      [
        "5c912f1f.8b81"
      ]
    ]
  },
  {
    "id": "c62e08ed.2db738",
    "type": "debug",
    "z": "57e505dd.47e30c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 720,
    "y": 480,
    "wires": []
  },
  {
    "id": "19b2bd74.31bb63",
    "type": "link in",
    "z": "57e505dd.47e30c",
    "name": "",
    "links": [
      "89ffd70a.9c6728"
    ],
    "x": 265,
    "y": 260,
    "wires": [
      [
        "6546c77e.806328"
      ]
    ]
  },
  {
    "id": "89ffd70a.9c6728",
    "type": "link out",
    "z": "57e505dd.47e30c",
    "name": "",
    "links": [
      "19b2bd74.31bb63"
    ],
    "x": 795,
    "y": 180,
    "wires": []
  },
  {
    "id": "18307bfe.41d724",
    "type": "comment",
    "z": "57e505dd.47e30c",
    "name": "http://localhost:1880/ui/",
    "info": "",
    "x": 560,
    "y": 50,
    "wires": []
  },
  {
    "id": "57e75d7b.18d3c4",
    "type": "OPCUA-IIoT-Connector",
    "z": "57e505dd.47e30c",
    "endpoint": "opc.tcp://localhost:55388/UA/NodeREDIIOTServer",
    "keepSessionAlive": true,
    "loginEnabled": true,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "Local Server",
    "showStatusActivities": false,
    "showErrors": false
  },
  {
    "id": "af3390fa.0bd76",
    "type": "ui_group",
    "z": "",
    "name": "Default",
    "tab": "63c230d.e253cd",
    "order": 2,
    "disp": true,
    "width": "12"
  },
  {
    "id": "b7c2c041.a83fd",
    "type": "ui_group",
    "name": "Group 2",
    "tab": "63c230d.e253cd",
    "order": 1,
    "disp": true,
    "width": 6
  },
  {
    "id": "63c230d.e253cd",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard"
  }
]
