examples/client/browser-read.json
[
  {
    "id": "3949c224.747b2e",
    "type": "tab",
    "label": "IIoT Browse And Read",
    "disabled": false,
    "info": ""
  },
  {
    "id": "72350d4a.d95464",
    "type": "OPCUA-IIoT-Browser",
    "z": "3949c224.747b2e",
    "connector": "b934b810.d61858",
    "nodeId": "",
    "name": "",
    "justValue": true,
    "sendNodesToRead": true,
    "sendNodesToListener": false,
    "sendNodesToBrowser": false,
    "singleBrowseResult": true,
    "recursiveBrowse": false,
    "recursiveDepth": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 320,
    "y": 120,
    "wires": [
      [
        "b062c0ce.127f08",
        "d06ea405.a56018",
        "81a08ab3.b9c97",
        "2f0abc0f.d9e39c",
        "8492b172.3ebef"
      ]
    ]
  },
  {
    "id": "b062c0ce.127f08",
    "type": "debug",
    "z": "3949c224.747b2e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 510,
    "y": 440,
    "wires": []
  },
  {
    "id": "191692e0.6e184d",
    "type": "OPCUA-IIoT-Inject",
    "z": "3949c224.747b2e",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Root",
    "addressSpaceItems": [
      {
        "name": "Tanks",
        "nodeId": "ns=1;i=1000",
        "datatypeName": ""
      }
    ],
    "x": 140,
    "y": 120,
    "wires": [
      [
        "72350d4a.d95464",
        "b3d92ff.ae3db5"
      ]
    ]
  },
  {
    "id": "d06ea405.a56018",
    "type": "OPCUA-IIoT-Response",
    "z": "3949c224.747b2e",
    "name": "",
    "x": 760,
    "y": 120,
    "wires": [
      [
        "26bcc48f.1204f4"
      ]
    ]
  },
  {
    "id": "26bcc48f.1204f4",
    "type": "debug",
    "z": "3949c224.747b2e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 120,
    "wires": []
  },
  {
    "id": "81a08ab3.b9c97",
    "type": "OPCUA-IIoT-Read",
    "z": "3949c224.747b2e",
    "attributeId": "0",
    "maxAge": "0",
    "depth": 1,
    "connector": "b934b810.d61858",
    "name": "Read browsed All",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "historyDays": "",
    "x": 550,
    "y": 240,
    "wires": [
      [
        "134e5dd4.e8ef42",
        "9d3cbab0.383938"
      ]
    ]
  },
  {
    "id": "134e5dd4.e8ef42",
    "type": "OPCUA-IIoT-Response",
    "z": "3949c224.747b2e",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 760,
    "y": 240,
    "wires": [
      [
        "3708c599.808d3a"
      ]
    ]
  },
  {
    "id": "3708c599.808d3a",
    "type": "debug",
    "z": "3949c224.747b2e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 240,
    "wires": []
  },
  {
    "id": "b3d92ff.ae3db5",
    "type": "debug",
    "z": "3949c224.747b2e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 310,
    "y": 200,
    "wires": []
  },
  {
    "id": "2f0abc0f.d9e39c",
    "type": "OPCUA-IIoT-Read",
    "z": "3949c224.747b2e",
    "attributeId": "13",
    "maxAge": "0",
    "depth": 1,
    "connector": "b934b810.d61858",
    "name": "Read browsed Values",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 560,
    "y": 380,
    "wires": [
      [
        "a360ba07.7eb808",
        "fb1118b2.dda508"
      ]
    ]
  },
  {
    "id": "a360ba07.7eb808",
    "type": "OPCUA-IIoT-Response",
    "z": "3949c224.747b2e",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 760,
    "y": 380,
    "wires": [
      [
        "6ac70ce0.26f5e4"
      ]
    ]
  },
  {
    "id": "6ac70ce0.26f5e4",
    "type": "debug",
    "z": "3949c224.747b2e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 380,
    "wires": []
  },
  {
    "id": "ca5e8c45.c93718",
    "type": "comment",
    "z": "3949c224.747b2e",
    "name": "Please, check the port of LOCAL SERVER connector!",
    "info": "default ports: \n\n    55388 for the OPC UA IIoT Server\n\n    55380 for the OPC UA IIoT Flex Server",
    "x": 800,
    "y": 60,
    "wires": []
  },
  {
    "id": "9d3cbab0.383938",
    "type": "OPCUA-IIoT-Response",
    "z": "3949c224.747b2e",
    "name": "compressed response",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateFilters": false,
    "filters": [],
    "x": 800,
    "y": 300,
    "wires": [
      [
        "83013657.a5ad3"
      ]
    ]
  },
  {
    "id": "83013657.a5ad3",
    "type": "debug",
    "z": "3949c224.747b2e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 300,
    "wires": []
  },
  {
    "id": "fb1118b2.dda508",
    "type": "OPCUA-IIoT-Response",
    "z": "3949c224.747b2e",
    "name": "compressed response",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateFilters": false,
    "filters": [],
    "x": 800,
    "y": 440,
    "wires": [
      [
        "8fc711b4.2b376"
      ]
    ]
  },
  {
    "id": "8fc711b4.2b376",
    "type": "debug",
    "z": "3949c224.747b2e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 440,
    "wires": []
  },
  {
    "id": "8492b172.3ebef",
    "type": "OPCUA-IIoT-Response",
    "z": "3949c224.747b2e",
    "name": "compressed response",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateFilters": false,
    "filters": [],
    "x": 800,
    "y": 180,
    "wires": [
      [
        "4887b438.07d794"
      ]
    ]
  },
  {
    "id": "4887b438.07d794",
    "type": "debug",
    "z": "3949c224.747b2e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 180,
    "wires": []
  },
  {
    "id": "b934b810.d61858",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "opc.tcp://localhost:55388/",
    "endpoint": "opc.tcp://localhost:55388/UA/NodeREDIIoTServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL SERVER",
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false,
    "strategyMaxRetry": "",
    "strategyInitialDelay": "",
    "strategyMaxDelay": "",
    "strategyRandomisationFactor": "",
    "requestedSessionTimeout": "",
    "connectionStartDelay": "",
    "reconnectDelay": ""
  }
]
