examples/client/browser.json
[
  {
    "id": "c64d598f.dd9138",
    "type": "tab",
    "label": "IIoT OPC UA Browser",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d0370e2b.8b0358",
    "type": "OPCUA-IIoT-Browser",
    "z": "c64d598f.dd9138",
    "connector": "e7696995.cf7358",
    "nodeId": "ns=1;i=1234",
    "name": "",
    "justValue": false,
    "sendNodesToRead": false,
    "sendNodesToListener": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 340,
    "y": 160,
    "wires": [
      [
        "da7f8086.a90ea8"
      ]
    ]
  },
  {
    "id": "8e4852fc.2e04b",
    "type": "OPCUA-IIoT-Inject",
    "z": "c64d598f.dd9138",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Root",
    "addressSpaceItems": [],
    "x": 170,
    "y": 160,
    "wires": [
      [
        "d0370e2b.8b0358"
      ]
    ]
  },
  {
    "id": "da7f8086.a90ea8",
    "type": "debug",
    "z": "c64d598f.dd9138",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 510,
    "y": 160,
    "wires": []
  },
  {
    "id": "e7696995.cf7358",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL DEMO SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false
  }
]
