examples/client/browser-to-listener.json
[
  {
    "id": "e2b0733f.0cec78",
    "type": "tab",
    "label": "IIoT OPC UA Browse2Listener",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2696957f.15aefa",
    "type": "OPCUA-IIoT-Inject",
    "z": "e2b0733f.0cec78",
    "injectType": "listen",
    "payload": "{\"interval\":500,\"queueSize\":4,\"options\":{\"requestedPublishingInterval\":1000,\"requestedLifetimeCount\":60,\"requestedMaxKeepAliveCount\":10,\"maxNotificationsPerPublish\":4,\"publishingEnabled\":true,\"priority\":1}}",
    "payloadType": "json",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 190,
    "y": 220,
    "wires": [
      [
        "fe5e53f0.577198"
      ]
    ]
  },
  {
    "id": "fe5e53f0.577198",
    "type": "OPCUA-IIoT-Browser",
    "z": "e2b0733f.0cec78",
    "connector": "e7696995.cf7358",
    "nodeId": "ns=1;i=1234",
    "name": "",
    "justValue": true,
    "sendNodesToRead": false,
    "sendNodesToListener": true,
    "showStatusActivities": false,
    "showErrors": true,
    "x": 340,
    "y": 220,
    "wires": [
      [
        "126e5173.12407f",
        "18c5ef7d.df9019"
      ]
    ]
  },
  {
    "id": "18eed438.26d534",
    "type": "debug",
    "z": "e2b0733f.0cec78",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 650,
    "y": 220,
    "wires": []
  },
  {
    "id": "126e5173.12407f",
    "type": "debug",
    "z": "e2b0733f.0cec78",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 490,
    "y": 180,
    "wires": []
  },
  {
    "id": "18c5ef7d.df9019",
    "type": "OPCUA-IIoT-Listener",
    "z": "e2b0733f.0cec78",
    "connector": "e7696995.cf7358",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 500,
    "y": 220,
    "wires": [
      [
        "18eed438.26d534"
      ]
    ]
  },
  {
    "id": "e7696995.cf7358",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL DEMO SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false
  }
]
