examples/client/crawler.json
[
  {
    "id": "dab270b5.2a5ae",
    "type": "tab",
    "label": "OPC UA IIoT Crawler",
    "disabled": false,
    "info": ""
  },
  {
    "id": "529f1a8a.288564",
    "type": "OPCUA-IIoT-Crawler",
    "z": "dab270b5.2a5ae",
    "connector": "7ce493ee.6c0b24",
    "name": "",
    "justValue": true,
    "singleResult": false,
    "showStatusActivities": true,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": true,
    "negateFilter": false,
    "filters": [
      {
        "name": "nodeClass",
        "value": "Method"
      },
      {
        "name": "nodeClass",
        "value": "ObjectType*"
      },
      {
        "name": "typeDefinition",
        "value": "ns=0;i=58"
      },
      {
        "name": "nodeId",
        "value": "ns=0;*"
      }
    ],
    "delayPerMessage": "0.5",
    "x": 300,
    "y": 100,
    "wires": [
      [
        "18f29fb6.046ae"
      ]
    ]
  },
  {
    "id": "18f29fb6.046ae",
    "type": "debug",
    "z": "dab270b5.2a5ae",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 470,
    "y": 100,
    "wires": []
  },
  {
    "id": "2498f9d7.fe8726",
    "type": "OPCUA-IIoT-Inject",
    "z": "dab270b5.2a5ae",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "inject",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=1;i=1001",
        "datatypeName": ""
      }
    ],
    "x": 150,
    "y": 100,
    "wires": [
      [
        "529f1a8a.288564"
      ]
    ]
  },
  {
    "id": "b78b2804.9078f",
    "type": "catch",
    "z": "dab270b5.2a5ae",
    "name": "",
    "scope": null,
    "x": 860,
    "y": 60,
    "wires": [
      [
        "8f8d6498.678a9"
      ]
    ]
  },
  {
    "id": "8f8d6498.678a9",
    "type": "debug",
    "z": "dab270b5.2a5ae",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 1010,
    "y": 60,
    "wires": []
  },
  {
    "id": "7fab3f2c.80cc9",
    "type": "OPCUA-IIoT-Crawler",
    "z": "dab270b5.2a5ae",
    "connector": "7ce493ee.6c0b24",
    "name": "",
    "justValue": false,
    "singleResult": true,
    "showStatusActivities": true,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": true,
    "negateFilter": false,
    "filters": [
      {
        "name": "nodeClass",
        "value": "Method"
      },
      {
        "name": "nodeId",
        "value": "ns=0;*"
      },
      {
        "name": "browseName",
        "value": "PumpSpeed"
      },
      {
        "name": "dataType",
        "value": "ns=0;i=21"
      },
      {
        "name": "browseName",
        "value": "BiancoRoyal"
      },
      {
        "name": "dataValue",
        "value": "100"
      },
      {
        "name": "typeDefinition",
        "value": "ns=0;i=68"
      }
    ],
    "delayPerMessage": "1",
    "x": 300,
    "y": 180,
    "wires": [
      [
        "15abdb5c.670ca5"
      ]
    ]
  },
  {
    "id": "2e048e6.6fea1f2",
    "type": "OPCUA-IIoT-Inject",
    "z": "dab270b5.2a5ae",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "correct",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=1;i=1234",
        "datatypeName": ""
      }
    ],
    "x": 150,
    "y": 180,
    "wires": [
      [
        "7fab3f2c.80cc9"
      ]
    ]
  },
  {
    "id": "15abdb5c.670ca5",
    "type": "debug",
    "z": "dab270b5.2a5ae",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 470,
    "y": 180,
    "wires": []
  },
  {
    "id": "7ce493ee.6c0b24",
    "type": "OPCUA-IIoT-Connector",
    "z": "dab270b5.2a5ae",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL CRAWLER SERVER",
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false,
    "strategyMaxRetry": "",
    "strategyInitialDelay": "",
    "strategyMaxDelay": "",
    "strategyRandomisationFactor": "",
    "requestedSessionTimeout": "",
    "connectionStartDelay": "",
    "reconnectDelay": ""
  }
]
