examples/client/event-listener.json
[
  {
    "id": "59dffae1.4cded4",
    "type": "tab",
    "label": "IIoT OPC UA Events",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1a06cfb3.9fb668",
    "type": "debug",
    "z": "59dffae1.4cded4",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 730,
    "y": 120,
    "wires": []
  },
  {
    "id": "f6df8a61.4856f8",
    "type": "OPCUA-IIoT-Event",
    "z": "59dffae1.4cded4",
    "eventType": "BaseEventType",
    "eventTypeLabel": "BaseEventType (i=2041)",
    "queueSize": "1000",
    "usingListener": true,
    "name": "Base Events",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 420,
    "y": 120,
    "wires": [
      [
        "129770b1.17f8f7"
      ]
    ]
  },
  {
    "id": "be0aa839.283e4",
    "type": "OPCUA-IIoT-Inject",
    "z": "59dffae1.4cded4",
    "injectType": "listen",
    "payload": "200",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "listen with 200 ms",
    "addressSpaceItems": [
      {
        "name": "Tanks",
        "nodeId": "ns=1;i=1000",
        "datatypeName": ""
      },
      {
        "name": "Server",
        "nodeId": "ns=0;i=2253",
        "datatypeName": ""
      }
    ],
    "x": 230,
    "y": 120,
    "wires": [
      [
        "f6df8a61.4856f8"
      ]
    ]
  },
  {
    "id": "129770b1.17f8f7",
    "type": "OPCUA-IIoT-Listener",
    "z": "59dffae1.4cded4",
    "connector": "e7696995.cf7358",
    "action": "events",
    "queueSize": "100",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1a06cfb3.9fb668"
      ]
    ]
  },
  {
    "id": "e7696995.cf7358",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL DEMO SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false
  }
]
