examples/client/flex-connector.json
[
  {
    "id": "c23b6c91.59828",
    "type": "tab",
    "label": "OPC UA IIoT Flex Connector",
    "disabled": false,
    "info": ""
  },
  {
    "id": "cac3c43b.22962",
    "type": "OPCUA-IIoT-Flex-Connector",
    "z": "c23b6c91.59828",
    "name": "",
    "showStatusActivities": false,
    "showErrors": true,
    "connector": "4545bd8a.162794",
    "x": 394,
    "y": 187,
    "wires": [
      [
        "9b8fcce6.503a68"
      ]
    ]
  },
  {
    "id": "45fdf711.8ee38",
    "type": "inject",
    "z": "c23b6c91.59828",
    "name": "Server 81",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"discoveryUrl\":null,\"endpoint\":\"opc.tcp://localhost:55381/\",\"keepSessionAlive\":true,\"securityPolicy\":\"None\",\"securityMode\":\"None\",\"name\":\"LOCAL FLEXIBLE INJECTED SERVER\",\"showErrors\":true,\"publicCertificateFile\":null,\"privateKeyFile\":null,\"defaultSecureTokenLifetime\":0,\"endpointMustExist\":false,\"autoSelectRightEndpoint\":false,\"strategyMaxRetry\":0,\"strategyInitialDelay\":0,\"strategyMaxDelay\":0,\"strategyRandomisationFactor\":0,\"requestedSessionTimeout\":0,\"connectionStartDelay\":0,\"reconnectDelay\":0}",
    "payloadType": "json",
    "x": 154,
    "y": 187,
    "wires": [
      [
        "cac3c43b.22962"
      ]
    ]
  },
  {
    "id": "9b8fcce6.503a68",
    "type": "debug",
    "z": "c23b6c91.59828",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 564,
    "y": 187,
    "wires": []
  },
  {
    "id": "d245fa66.fd39e",
    "type": "inject",
    "z": "c23b6c91.59828",
    "name": "Server 82 wrong",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"endpoint\":\"opc.tcp://localhost:55382/\",\"keepSessionAlive\":true,\"showErrors\":true,\"defaultSecureTokenLifetime\":360000,\"endpointMustExist\":false,\"autoSelectRightEndpoint\":false}",
    "payloadType": "json",
    "x": 174,
    "y": 147,
    "wires": [
      [
        "cac3c43b.22962"
      ]
    ]
  },
  {
    "id": "a2df0434.aa3b88",
    "type": "inject",
    "z": "c23b6c91.59828",
    "name": "Server 80",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"discoveryUrl\":null,\"endpoint\":\"opc.tcp://localhost:55380/\",\"keepSessionAlive\":true,\"securityPolicy\":\"None\",\"securityMode\":\"None\",\"name\":\"LOCAL FLEXIBLE INJECTED SERVER\",\"showErrors\":true,\"publicCertificateFile\":null,\"privateKeyFile\":null,\"defaultSecureTokenLifetime\":0,\"endpointMustExist\":false,\"autoSelectRightEndpoint\":false,\"strategyMaxRetry\":0,\"strategyInitialDelay\":0,\"strategyMaxDelay\":0,\"strategyRandomisationFactor\":0,\"requestedSessionTimeout\":0,\"connectionStartDelay\":0,\"reconnectDelay\":0}",
    "payloadType": "json",
    "x": 154,
    "y": 227,
    "wires": [
      [
        "cac3c43b.22962"
      ]
    ]
  },
  {
    "id": "1d4990a8.c5c607",
    "type": "comment",
    "z": "c23b6c91.59828",
    "name": "Please, use the client browser example!",
    "info": "see Node-RED menu -> \nImport -> Examples -> \niiot opcua -> client -> browser",
    "x": 478,
    "y": 53,
    "wires": []
  },
  {
    "id": "a5c82001.09fb58",
    "type": "OPCUA-IIoT-Server",
    "z": "c23b6c91.59828",
    "port": "55381",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "",
    "alternateHostname": "",
    "name": "Demos Server 81",
    "showStatusActivities": false,
    "showErrors": true,
    "asoDemo": true,
    "allowAnonymous": true,
    "individualCerts": false,
    "isAuditing": false,
    "serverDiscovery": false,
    "users": [],
    "xmlsets": [],
    "publicCertificateFile": "",
    "privateCertificateFile": "",
    "registerServerMethod": 1,
    "discoveryServerEndpointUrl": "",
    "capabilitiesForMDNS": "",
    "maxNodesPerRead": 1000,
    "maxNodesPerBrowse": 2000,
    "delayToClose": 1000,
    "x": 410,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "2db23b70.cee92c",
    "type": "comment",
    "z": "c23b6c91.59828",
    "name": "Server 88 is Default Demo Server",
    "info": "",
    "x": 450,
    "y": 380,
    "wires": []
  },
  {
    "id": "058c11fa9be95cb3",
    "type": "comment",
    "z": "c23b6c91.59828",
    "name": "Use Server Examples",
    "info": "Please use the Demo Server and Flex Server examples for this example to work.\nImport that with strg+i -> Examples -> opcuaIIoT -> Server -> Demo Server/Flex Server",
    "x": 421,
    "y": 456,
    "wires": []
  },
  {
    "id": "b162ab37a36d5f92",
    "type": "comment",
    "z": "c23b6c91.59828",
    "name": "Server 80 is Default Flex Server",
    "info": "",
    "x": 451,
    "y": 418,
    "wires": []
  },
  {
    "id": "9fdb18cde3c62eab",
    "type": "comment",
    "z": "c23b6c91.59828",
    "name": "Change Connector Node to \"all flows\" in config tab",
    "info": "Double click the connector node.\nOn the bottom right, there is a drop down menu\nwhere you can choose the scope of the config node (here connector node).\nChoose \"all flows\".\n\nOtherwise, the browser example will not work!!!",
    "x": 517,
    "y": 89,
    "wires": []
  },
  {
    "id": "cc8d0551c977555b",
    "type": "comment",
    "z": "c23b6c91.59828",
    "name": "Change connector node in browser example",
    "info": "After importing and changing the scope of the connector node of this example,\nplease go to the browser example and double click on the browser node.\nThere, you have to change the connector of the browser node.\n\nOtherwise, the browser example will not work!!!",
    "x": 499,
    "y": 127,
    "wires": []
  },
  {
    "id": "4545bd8a.162794",
    "type": "OPCUA-IIoT-Connector",
    "z": "c23b6c91.59828",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "endpointMustExist": false,
    "keepSessionAlive": true,
    "loginEnabled": false,
    "name": "LOCAL FLEX CONECTOR SERVER",
    "showErrors": true,
    "securityPolicy": "None",
    "securityMode": "None",
    "individualCerts": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "",
    "autoSelectRightEndpoint": false,
    "strategyMaxRetry": "",
    "strategyInitialDelay": "",
    "strategyMaxDelay": "",
    "strategyRandomisationFactor": "",
    "requestedSessionTimeout": "",
    "connectionStartDelay": "",
    "reconnectDelay": "",
    "maxBadSessionRequests": ""
  }
]