examples/client/read.json
[
  {
    "id": "2a8e805e.bf0f6",
    "type": "tab",
    "label": "IIoT OPC UA Read",
    "disabled": false,
    "info": ""
  },
  {
    "id": "37655140.a4f556",
    "type": "OPCUA-IIoT-Inject",
    "z": "2a8e805e.bf0f6",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "ServerStatus",
        "nodeId": "ns=0;i=2256",
        "datatypeName": ""
      }
    ],
    "x": 240,
    "y": 200,
    "wires": [
      [
        "80c12ecf.f006d8"
      ]
    ]
  },
  {
    "id": "80c12ecf.f006d8",
    "type": "OPCUA-IIoT-Read",
    "z": "2a8e805e.bf0f6",
    "attributeId": 0,
    "maxAge": 1,
    "depth": 1,
    "connector": "e7696995.cf7358",
    "name": "Read All",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 400,
    "y": 200,
    "wires": [
      [
        "aed6f481.fd091"
      ]
    ]
  },
  {
    "id": "aed6f481.fd091",
    "type": "OPCUA-IIoT-Response",
    "z": "2a8e805e.bf0f6",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 580,
    "y": 200,
    "wires": [
      [
        "db792e45.b281"
      ]
    ]
  },
  {
    "id": "db792e45.b281",
    "type": "debug",
    "z": "2a8e805e.bf0f6",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 730,
    "y": 200,
    "wires": []
  },
  {
    "id": "d7003cb0.bd1df8",
    "type": "OPCUA-IIoT-Read",
    "z": "2a8e805e.bf0f6",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "e7696995.cf7358",
    "name": "Read Value",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 410,
    "y": 280,
    "wires": [
      [
        "b1dfdf60.bbfcf"
      ]
    ]
  },
  {
    "id": "b1dfdf60.bbfcf",
    "type": "OPCUA-IIoT-Response",
    "z": "2a8e805e.bf0f6",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 580,
    "y": 280,
    "wires": [
      [
        "441e2f2c.34e1"
      ]
    ]
  },
  {
    "id": "441e2f2c.34e1",
    "type": "debug",
    "z": "2a8e805e.bf0f6",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 730,
    "y": 280,
    "wires": []
  },
  {
    "id": "b1de1591.01948",
    "type": "OPCUA-IIoT-Inject",
    "z": "2a8e805e.bf0f6",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "ServerStatus",
        "nodeId": "ns=0;i=2256",
        "datatypeName": ""
      }
    ],
    "x": 240,
    "y": 280,
    "wires": [
      [
        "d7003cb0.bd1df8"
      ]
    ]
  },
  {
    "id": "e7696995.cf7358",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL DEMO SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false
  }
]
