examples/client/read-structure.json
[
    {
        "id": "acd87f74.06df9",
        "type": "tab",
        "label": "IIoT Read Structure",
        "disabled": false,
        "info": ""
    },
    {
        "id": "255b3610.1c66b2",
        "type": "OPCUA-IIoT-Inject",
        "z": "acd87f74.06df9",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "startDelay": 15,
        "name": "Server Info not parsed",
        "addressSpaceItems": [
            {
                "name": "HSC",
                "nodeId": "ns=0;i=11192",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 140,
        "wires": [
            [
                "f1f8a50a.04931"
            ]
        ]
    },
    {
        "id": "dfc080e0.3c547",
        "type": "debug",
        "z": "acd87f74.06df9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "8170b3ab.f906c",
        "type": "OPCUA-IIoT-Response",
        "z": "acd87f74.06df9",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "351eee1e.d4c5d2"
            ]
        ]
    },
    {
        "id": "351eee1e.d4c5d2",
        "type": "debug",
        "z": "acd87f74.06df9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "edfd024e.f1338",
        "type": "json",
        "z": "acd87f74.06df9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 670,
        "y": 300,
        "wires": [
            [
                "c7033da2.686168"
            ]
        ]
    },
    {
        "id": "c7033da2.686168",
        "type": "debug",
        "z": "acd87f74.06df9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "22f24bbb.63dc1c",
        "type": "OPCUA-IIoT-Read",
        "z": "acd87f74.06df9",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "e7696995.cf7358",
        "name": "Read just value",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": true,
        "parseStrings": false,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "fc8f5d98.c1f878",
                "be91afe8.07c35"
            ]
        ]
    },
    {
        "id": "41d4c300.21dc14",
        "type": "OPCUA-IIoT-Inject",
        "z": "acd87f74.06df9",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "startDelay": 15,
        "name": "Server Info with Parse",
        "addressSpaceItems": [
            {
                "name": "ServerStatus",
                "nodeId": "ns=0;i=2256",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 400,
        "wires": [
            [
                "e8fd8025.9dbd68"
            ]
        ]
    },
    {
        "id": "be91afe8.07c35",
        "type": "debug",
        "z": "acd87f74.06df9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "fc8f5d98.c1f878",
        "type": "OPCUA-IIoT-Response",
        "z": "acd87f74.06df9",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "450b3a5f.4d8134"
            ]
        ]
    },
    {
        "id": "450b3a5f.4d8134",
        "type": "debug",
        "z": "acd87f74.06df9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "f42d01c0.4fa3a",
        "type": "OPCUA-IIoT-Read",
        "z": "acd87f74.06df9",
        "attributeId": "0",
        "maxAge": 1,
        "depth": 1,
        "connector": "e7696995.cf7358",
        "name": "",
        "justValue": false,
        "showStatusActivities": false,
        "showErrors": true,
        "parseStrings": false,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "46278a0e.b43b34",
                "4261408f.a352a8",
                "edfd024e.f1338"
            ]
        ]
    },
    {
        "id": "5899d1ae.22f948",
        "type": "debug",
        "z": "acd87f74.06df9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "46278a0e.b43b34",
        "type": "OPCUA-IIoT-Response",
        "z": "acd87f74.06df9",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "5899d1ae.22f948"
            ]
        ]
    },
    {
        "id": "4261408f.a352a8",
        "type": "debug",
        "z": "acd87f74.06df9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "f1f8a50a.04931",
        "type": "OPCUA-IIoT-Browser",
        "z": "acd87f74.06df9",
        "connector": "e7696995.cf7358",
        "nodeId": "",
        "name": "",
        "justValue": false,
        "sendNodesToRead": false,
        "sendNodesToListener": false,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "8170b3ab.f906c",
                "f42d01c0.4fa3a",
                "dfc080e0.3c547"
            ]
        ]
    },
    {
        "id": "e8fd8025.9dbd68",
        "type": "OPCUA-IIoT-Browser",
        "z": "acd87f74.06df9",
        "connector": "e7696995.cf7358",
        "nodeId": "",
        "name": "",
        "justValue": false,
        "sendNodesToRead": false,
        "sendNodesToListener": false,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "22f24bbb.63dc1c"
            ]
        ]
    },
    {
        "id": "e7696995.cf7358",
        "type": "OPCUA-IIoT-Connector",
        "z": "",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://localhost:55388/",
        "keepSessionAlive": true,
        "loginEnabled": false,
        "securityPolicy": "None",
        "securityMode": "NONE",
        "name": "LOCAL DEMO SERVER",
        "showStatusActivities": false,
        "showErrors": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "60000",
        "endpointMustExist": false,
        "autoSelectRightEndpoint": false
    }
]
