examples/client/response.json
[
  {
    "id": "42174182.73f498",
    "type": "tab",
    "label": "IIoT Response Filter",
    "disabled": false,
    "info": ""
  },
  {
    "id": "75e82198.c6d26",
    "type": "OPCUA-IIoT-Browser",
    "z": "42174182.73f498",
    "connector": "290b44f3.945964",
    "nodeId": "",
    "name": "",
    "justValue": true,
    "sendNodesToRead": true,
    "sendNodesToListener": false,
    "sendNodesToBrowser": false,
    "singleBrowseResult": true,
    "recursiveBrowse": false,
    "recursiveDepth": "",
    "delayPerMessage": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 320,
    "y": 120,
    "wires": [
      [
        "d7be49ea.005ef8"
      ]
    ]
  },
  {
    "id": "1366c3e4.de448c",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 650,
    "y": 620,
    "wires": []
  },
  {
    "id": "6af70f14.2811b",
    "type": "OPCUA-IIoT-Inject",
    "z": "42174182.73f498",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "Root",
    "addressSpaceItems": [
      {
        "name": "Bianco Royal",
        "nodeId": "ns=1;i=1234",
        "datatypeName": ""
      }
    ],
    "x": 130,
    "y": 120,
    "wires": [
      [
        "75e82198.c6d26",
        "1e6732c3.3474a5"
      ]
    ]
  },
  {
    "id": "50c77b8b.723304",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "",
    "compressStructure": false,
    "showStatusActivities": false,
    "showErrors": true,
    "activateUnsetFilter": false,
    "activateFilters": true,
    "negateFilter": false,
    "filters": [
      {
        "name": "nodeId",
        "value": "ns=1;s=Pressure"
      }
    ],
    "x": 660,
    "y": 140,
    "wires": [
      [
        "3befc6ec.81a002"
      ]
    ]
  },
  {
    "id": "3befc6ec.81a002",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 140,
    "wires": []
  },
  {
    "id": "afc8426e.f648c",
    "type": "OPCUA-IIoT-Read",
    "z": "42174182.73f498",
    "attributeId": "0",
    "maxAge": "0",
    "depth": 1,
    "connector": "290b44f3.945964",
    "name": "Read browsed All",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "historyDays": "",
    "x": 690,
    "y": 340,
    "wires": [
      [
        "9b620e89.215498",
        "4f551317.37d014",
        "4021c903.59659",
        "d20c8f18.bc1218",
        "1eb448fd.230be7"
      ]
    ]
  },
  {
    "id": "1e6732c3.3474a5",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 310,
    "y": 80,
    "wires": []
  },
  {
    "id": "f84578b1.a49a2",
    "type": "OPCUA-IIoT-Read",
    "z": "42174182.73f498",
    "attributeId": "13",
    "maxAge": "0",
    "depth": 1,
    "connector": "290b44f3.945964",
    "name": "Read browsed Values",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "historyDays": "",
    "x": 700,
    "y": 660,
    "wires": [
      [
        "7825b0b4.9fb788",
        "399ef55.e00fa8a",
        "c6a1f875.f4a788",
        "bd5a9e9d.4590d8",
        "ea0c55d1.bb03f8"
      ]
    ]
  },
  {
    "id": "7825b0b4.9fb788",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "SomeDate",
    "compressStructure": false,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": true,
    "negateFilter": false,
    "filters": [
      {
        "name": "nodeId",
        "value": "ns=1;s=SomeDate"
      }
    ],
    "x": 950,
    "y": 660,
    "wires": [
      [
        "16770dc4.ea7a62"
      ]
    ]
  },
  {
    "id": "16770dc4.ea7a62",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1110,
    "y": 660,
    "wires": []
  },
  {
    "id": "f4d65996.79dac",
    "type": "comment",
    "z": "42174182.73f498",
    "name": "Please, check the port of LOCAL SERVER connector!",
    "info": "default ports: \n\n    55388 for the OPC UA IIoT Server\n\n    55380 for the OPC UA IIoT Flex Server",
    "x": 700,
    "y": 40,
    "wires": []
  },
  {
    "id": "399ef55.e00fa8a",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "SomeDate",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": true,
    "activateUnsetFilter": false,
    "activateFilters": true,
    "negateFilter": false,
    "filters": [
      {
        "name": "nodeId",
        "value": "ns=1;s=SomeDate"
      }
    ],
    "x": 950,
    "y": 720,
    "wires": [
      [
        "3ffbd8da.f97c"
      ]
    ]
  },
  {
    "id": "3ffbd8da.f97c",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1110,
    "y": 720,
    "wires": []
  },
  {
    "id": "90895b19.d97f58",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "compressed",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": true,
    "negateFilter": false,
    "filters": [
      {
        "name": "nodeId",
        "value": "ns=1;s=Pressure"
      }
    ],
    "x": 680,
    "y": 200,
    "wires": [
      [
        "a1f68197.15ca"
      ]
    ]
  },
  {
    "id": "a1f68197.15ca",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 200,
    "wires": []
  },
  {
    "id": "9b620e89.215498",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "Pressure",
    "compressStructure": false,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": true,
    "negateFilter": false,
    "filters": [
      {
        "name": "nodeId",
        "value": "ns=1;s=Pressure"
      }
    ],
    "x": 940,
    "y": 340,
    "wires": [
      [
        "2f03e827.0b42c"
      ]
    ]
  },
  {
    "id": "2f03e827.0b42c",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1110,
    "y": 340,
    "wires": []
  },
  {
    "id": "4f551317.37d014",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "Pressure",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": true,
    "negateFilter": false,
    "filters": [
      {
        "name": "nodeId",
        "value": "ns=1;s=Pressure"
      }
    ],
    "x": 950,
    "y": 400,
    "wires": [
      [
        "2d244de2.9a97e2"
      ]
    ]
  },
  {
    "id": "2d244de2.9a97e2",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1110,
    "y": 400,
    "wires": []
  },
  {
    "id": "59b0b436.8b1a04",
    "type": "OPCUA-IIoT-Crawler",
    "z": "42174182.73f498",
    "connector": "290b44f3.945964",
    "name": "",
    "justValue": true,
    "singleResult": true,
    "showStatusActivities": false,
    "showErrors": true,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "delayPerMessage": "0.5",
    "x": 320,
    "y": 220,
    "wires": [
      [
        "c7306c6d.8645d8"
      ]
    ]
  },
  {
    "id": "3aafb952.1e2996",
    "type": "OPCUA-IIoT-Inject",
    "z": "42174182.73f498",
    "injectType": "read",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "Root",
    "addressSpaceItems": [
      {
        "name": "Bianco Royal",
        "nodeId": "ns=1;i=1234",
        "datatypeName": ""
      }
    ],
    "x": 130,
    "y": 220,
    "wires": [
      [
        "59b0b436.8b1a04",
        "6fbd0e15.30bfd8"
      ]
    ]
  },
  {
    "id": "bad11529.b3a548",
    "type": "link in",
    "z": "42174182.73f498",
    "name": "",
    "links": [
      "d7be49ea.005ef8",
      "c7306c6d.8645d8"
    ],
    "x": 535,
    "y": 200,
    "wires": [
      [
        "90895b19.d97f58",
        "43c5cf10.511aa8",
        "50c77b8b.723304"
      ]
    ]
  },
  {
    "id": "c7306c6d.8645d8",
    "type": "link out",
    "z": "42174182.73f498",
    "name": "",
    "links": [
      "df81028b.7a5ff",
      "bad11529.b3a548",
      "1d13485f.a8ce9",
      "b92df04d.ae6548",
      "6589fe93.8ae4e8"
    ],
    "x": 415,
    "y": 220,
    "wires": []
  },
  {
    "id": "a68f9f1e.58cee",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 650,
    "y": 300,
    "wires": []
  },
  {
    "id": "1d13485f.a8ce9",
    "type": "link in",
    "z": "42174182.73f498",
    "name": "",
    "links": [
      "d7be49ea.005ef8",
      "c7306c6d.8645d8"
    ],
    "x": 535,
    "y": 340,
    "wires": [
      [
        "afc8426e.f648c",
        "a68f9f1e.58cee"
      ]
    ]
  },
  {
    "id": "df81028b.7a5ff",
    "type": "link in",
    "z": "42174182.73f498",
    "name": "",
    "links": [
      "d7be49ea.005ef8",
      "c7306c6d.8645d8"
    ],
    "x": 535,
    "y": 660,
    "wires": [
      [
        "1366c3e4.de448c",
        "f84578b1.a49a2"
      ]
    ]
  },
  {
    "id": "d7be49ea.005ef8",
    "type": "link out",
    "z": "42174182.73f498",
    "name": "",
    "links": [
      "df81028b.7a5ff",
      "bad11529.b3a548",
      "1d13485f.a8ce9",
      "b92df04d.ae6548",
      "6589fe93.8ae4e8"
    ],
    "x": 415,
    "y": 120,
    "wires": []
  },
  {
    "id": "43c5cf10.511aa8",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 650,
    "y": 100,
    "wires": []
  },
  {
    "id": "6fbd0e15.30bfd8",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 310,
    "y": 180,
    "wires": []
  },
  {
    "id": "c6a1f875.f4a788",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 620,
    "wires": []
  },
  {
    "id": "4021c903.59659",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 300,
    "wires": []
  },
  {
    "id": "bd5a9e9d.4590d8",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "",
    "compressStructure": false,
    "showStatusActivities": false,
    "showErrors": true,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 940,
    "y": 780,
    "wires": [
      [
        "f919a327.a08d08"
      ]
    ]
  },
  {
    "id": "f919a327.a08d08",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1110,
    "y": 780,
    "wires": []
  },
  {
    "id": "ea0c55d1.bb03f8",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 950,
    "y": 840,
    "wires": [
      [
        "942c8a7f.358a9"
      ]
    ]
  },
  {
    "id": "942c8a7f.358a9",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1110,
    "y": 840,
    "wires": []
  },
  {
    "id": "d20c8f18.bc1218",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "",
    "compressStructure": false,
    "showStatusActivities": false,
    "showErrors": true,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 940,
    "y": 460,
    "wires": [
      [
        "7e470685.9febb8"
      ]
    ]
  },
  {
    "id": "7e470685.9febb8",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1110,
    "y": 460,
    "wires": []
  },
  {
    "id": "1eb448fd.230be7",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 950,
    "y": 520,
    "wires": [
      [
        "67d3f278.851564"
      ]
    ]
  },
  {
    "id": "67d3f278.851564",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1110,
    "y": 520,
    "wires": []
  },
  {
    "id": "115a2a3a.67fba6",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 670,
    "y": 960,
    "wires": [
      [
        "486978fc.b3c83"
      ]
    ]
  },
  {
    "id": "486978fc.b3c83",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 850,
    "y": 960,
    "wires": []
  },
  {
    "id": "95760bf6.5beac",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "",
    "compressStructure": false,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 660,
    "y": 1020,
    "wires": [
      [
        "cb3a9b8e.21ecc8"
      ]
    ]
  },
  {
    "id": "cf9cf30e.032de",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "",
    "compressStructure": false,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": true,
    "negateFilter": false,
    "filters": [
      {
        "name": "nodeId",
        "value": "ns=1;s=FanSpeed"
      }
    ],
    "x": 670,
    "y": 1080,
    "wires": [
      [
        "8215b4d7.bcdcc8"
      ]
    ]
  },
  {
    "id": "3de10f62.95db3",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "",
    "compressStructure": false,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": true,
    "activateFilters": true,
    "negateFilter": false,
    "filters": [
      {
        "name": "nodeId",
        "value": "ns=1;s=FanSpeed"
      }
    ],
    "x": 680,
    "y": 1140,
    "wires": [
      [
        "8fddfbe3.94a39"
      ]
    ]
  },
  {
    "id": "f3bec9af.bba218",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": true,
    "activateFilters": true,
    "negateFilter": false,
    "filters": [
      {
        "name": "nodeId",
        "value": "ns=1;s=FanSpeed"
      }
    ],
    "x": 680,
    "y": 1200,
    "wires": [
      [
        "80f04405.b1a3a"
      ]
    ]
  },
  {
    "id": "e7cc0e3e.3ac888",
    "type": "OPCUA-IIoT-Response",
    "z": "42174182.73f498",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": true,
    "activateFilters": true,
    "negateFilter": true,
    "filters": [
      {
        "name": "nodeId",
        "value": "ns=1;s=FanSpeed"
      }
    ],
    "x": 680,
    "y": 1260,
    "wires": [
      [
        "ca74a1a.a6c786"
      ]
    ]
  },
  {
    "id": "cb3a9b8e.21ecc8",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 850,
    "y": 1020,
    "wires": []
  },
  {
    "id": "8215b4d7.bcdcc8",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 850,
    "y": 1080,
    "wires": []
  },
  {
    "id": "80f04405.b1a3a",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 850,
    "y": 1200,
    "wires": []
  },
  {
    "id": "8fddfbe3.94a39",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 850,
    "y": 1140,
    "wires": []
  },
  {
    "id": "ca74a1a.a6c786",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 850,
    "y": 1260,
    "wires": []
  },
  {
    "id": "c85726b9.995e3",
    "type": "debug",
    "z": "42174182.73f498",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 650,
    "y": 920,
    "wires": []
  },
  {
    "id": "6589fe93.8ae4e8",
    "type": "link in",
    "z": "42174182.73f498",
    "name": "",
    "links": [
      "d7be49ea.005ef8",
      "c7306c6d.8645d8"
    ],
    "x": 535,
    "y": 920,
    "wires": [
      [
        "c85726b9.995e3",
        "115a2a3a.67fba6",
        "95760bf6.5beac",
        "cf9cf30e.032de",
        "3de10f62.95db3",
        "f3bec9af.bba218",
        "e7cc0e3e.3ac888"
      ]
    ]
  },
  {
    "id": "290b44f3.945964",
    "type": "OPCUA-IIoT-Connector",
    "z": "42174182.73f498",
    "discoveryUrl": "opc.tcp://localhost:4840/",
    "endpoint": "opc.tcp://localhost:55388/UA/NodeREDIIoTServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "None",
    "name": "LOCAL SERVER RESPONSE",
    "showErrors": false,
    "individualCerts": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false,
    "strategyMaxRetry": "",
    "strategyInitialDelay": "",
    "strategyMaxDelay": "",
    "strategyRandomisationFactor": "",
    "requestedSessionTimeout": "",
    "connectionStartDelay": "",
    "reconnectDelay": "",
    "maxBadSessionRequests": ""
  }
]
