examples/client/write-read.json
[
  {
    "id": "775ab575.871ddc",
    "type": "tab",
    "label": "IIoT OPC UA Write Read",
    "disabled": false,
    "info": ""
  },
  {
    "id": "fa23b334.2d52f",
    "type": "OPCUA-IIoT-Write",
    "z": "775ab575.871ddc",
    "connector": "3323c1da.1ef116",
    "name": "",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": true,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "e56c8f7f.17d7c8"
      ]
    ]
  },
  {
    "id": "115cecf.1982d13",
    "type": "OPCUA-IIoT-Inject",
    "z": "775ab575.871ddc",
    "injectType": "write",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "120",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "inject",
    "addressSpaceItems": [
      {
        "name": "TestReadWrite",
        "nodeId": "ns=1;s=TestReadWrite",
        "datatypeName": "Double"
      }
    ],
    "x": 120,
    "y": 120,
    "wires": [
      [
        "fb20eb7c.f8035"
      ]
    ]
  },
  {
    "id": "fb20eb7c.f8035",
    "type": "data-generator",
    "z": "775ab575.871ddc",
    "name": "dGen",
    "field": "valuesToWrite",
    "fieldType": "msg",
    "syntax": "json",
    "template": "[{{int 1 65000}}]",
    "x": 250,
    "y": 120,
    "wires": [
      [
        "fa23b334.2d52f"
      ]
    ]
  },
  {
    "id": "7176ab2a.35878c",
    "type": "comment",
    "z": "775ab575.871ddc",
    "name": "install node-red-node-data-generator",
    "info": "",
    "x": 250,
    "y": 80,
    "wires": []
  },
  {
    "id": "2297a2c4.711e86",
    "type": "OPCUA-IIoT-Read",
    "z": "775ab575.871ddc",
    "attributeId": "0",
    "maxAge": 1,
    "depth": 1,
    "connector": "3323c1da.1ef116",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "historyDays": "",
    "x": 650,
    "y": 120,
    "wires": [
      [
        "20abccf2.8e467c"
      ]
    ]
  },
  {
    "id": "c71ff0c1.92ebd8",
    "type": "debug",
    "z": "775ab575.871ddc",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 930,
    "y": 120,
    "wires": []
  },
  {
    "id": "20abccf2.8e467c",
    "type": "OPCUA-IIoT-Response",
    "z": "775ab575.871ddc",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateFilters": false,
    "filters": [],
    "x": 790,
    "y": 120,
    "wires": [
      [
        "c71ff0c1.92ebd8"
      ]
    ]
  },
  {
    "id": "e56c8f7f.17d7c8",
    "type": "function",
    "z": "775ab575.871ddc",
    "name": "toReadMsg",
    "func": "msg.nodetype = 'inject';\nmsg.injectType = 'read'\ndelete msg['valuesToWrite'];\nmsg.payload = {}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 510,
    "y": 120,
    "wires": [
      [
        "2297a2c4.711e86"
      ]
    ]
  },
  {
    "id": "3323c1da.1ef116",
    "type": "OPCUA-IIoT-Connector",
    "z": "775ab575.871ddc",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "Basic256",
    "securityMode": "Sign",
    "name": "LOCAL WRITE READ SERVER",
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false,
    "strategyMaxRetry": "",
    "strategyInitialDelay": "",
    "strategyMaxDelay": "",
    "strategyRandomisationFactor": "",
    "requestedSessionTimeout": "",
    "connectionStartDelay": "",
    "reconnectDelay": ""
  }
]
