examples/client/write.json
[
  {
    "id": "8d3469ea.d4d0a8",
    "type": "tab",
    "label": "IIoT OPC UA Write",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e8007140.b8fb9",
    "type": "OPCUA-IIoT-Write",
    "z": "8d3469ea.d4d0a8",
    "connector": "688d5765.851e2",
    "name": "",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": true,
    "x": 470,
    "y": 180,
    "wires": [
      [
        "79380b52.b0c214",
        "1405ff62.934d51",
        "8038dcfe.745f8",
        "c1c50639.93a5d"
      ]
    ]
  },
  {
    "id": "41176376.c39dac",
    "type": "OPCUA-IIoT-Inject",
    "z": "8d3469ea.d4d0a8",
    "injectType": "write",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "120",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "TestReadWrite",
    "addressSpaceItems": [
      {
        "name": "TestReadWrite",
        "nodeId": "ns=1;s=TestReadWrite",
        "datatypeName": "Double"
      }
    ],
    "x": 150,
    "y": 180,
    "wires": [
      [
        "6ad5783b.8395f8"
      ]
    ]
  },
  {
    "id": "79380b52.b0c214",
    "type": "debug",
    "z": "8d3469ea.d4d0a8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 650,
    "y": 300,
    "wires": []
  },
  {
    "id": "f55b1c16.6a688",
    "type": "debug",
    "z": "8d3469ea.d4d0a8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 470,
    "y": 240,
    "wires": []
  },
  {
    "id": "1405ff62.934d51",
    "type": "OPCUA-IIoT-Response",
    "z": "8d3469ea.d4d0a8",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateFilters": false,
    "filters": [],
    "x": 660,
    "y": 180,
    "wires": [
      [
        "d0ea2c79.b14c58"
      ]
    ]
  },
  {
    "id": "d0ea2c79.b14c58",
    "type": "debug",
    "z": "8d3469ea.d4d0a8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 830,
    "y": 180,
    "wires": []
  },
  {
    "id": "6ad5783b.8395f8",
    "type": "data-generator",
    "z": "8d3469ea.d4d0a8",
    "name": "dGen",
    "field": "valuesToWrite",
    "fieldType": "msg",
    "syntax": "json",
    "template": "[{{int 1 65000}}]",
    "x": 330,
    "y": 180,
    "wires": [
      [
        "e8007140.b8fb9",
        "f55b1c16.6a688"
      ]
    ]
  },
  {
    "id": "5798df51.7ad538",
    "type": "comment",
    "z": "8d3469ea.d4d0a8",
    "name": "install node-red-node-data-generator",
    "info": "",
    "x": 330,
    "y": 130,
    "wires": []
  },
  {
    "id": "9a79d86.0c1fda8",
    "type": "OPCUA-IIoT-Read",
    "z": "8d3469ea.d4d0a8",
    "attributeId": "0",
    "maxAge": 1,
    "depth": 1,
    "connector": "e256cc98.39142",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "historyDays": "",
    "x": 830,
    "y": 120,
    "wires": [
      [
        "9e775dc0.885c58"
      ]
    ]
  },
  {
    "id": "6af90a9a.56862c",
    "type": "debug",
    "z": "8d3469ea.d4d0a8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 1110,
    "y": 120,
    "wires": []
  },
  {
    "id": "9e775dc0.885c58",
    "type": "OPCUA-IIoT-Response",
    "z": "8d3469ea.d4d0a8",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateFilters": false,
    "filters": [],
    "x": 970,
    "y": 120,
    "wires": [
      [
        "6af90a9a.56862c"
      ]
    ]
  },
  {
    "id": "8038dcfe.745f8",
    "type": "OPCUA-IIoT-Response",
    "z": "8d3469ea.d4d0a8",
    "name": "",
    "compressStructure": false,
    "showStatusActivities": false,
    "showErrors": false,
    "activateFilters": false,
    "filters": [],
    "x": 660,
    "y": 240,
    "wires": [
      [
        "c2df8bb7.877c5"
      ]
    ]
  },
  {
    "id": "c2df8bb7.877c5",
    "type": "debug",
    "z": "8d3469ea.d4d0a8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 830,
    "y": 240,
    "wires": []
  },
  {
    "id": "c1c50639.93a5d",
    "type": "function",
    "z": "8d3469ea.d4d0a8",
    "name": "toReadMsg",
    "func": "msg.nodetype = 'inject';\nmsg.injectType = 'read'\ndelete msg['valuesToWrite'];\nmsg.payload = {}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670,
    "y": 120,
    "wires": [
      [
        "9a79d86.0c1fda8",
        "40dc6c31.6b93a4"
      ]
    ]
  },
  {
    "id": "40dc6c31.6b93a4",
    "type": "debug",
    "z": "8d3469ea.d4d0a8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 830,
    "y": 80,
    "wires": []
  },
  {
    "id": "688d5765.851e2",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL READ WRITE SERVER",
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false,
    "strategyMaxRetry": "",
    "strategyInitialDelay": "",
    "strategyMaxDelay": "",
    "strategyRandomisationFactor": "",
    "requestedSessionTimeout": "",
    "connectionStartDelay": "",
    "reconnectDelay": ""
  },
  {
    "id": "e256cc98.39142",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL DEMO SERVER",
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false
  }
]
