examples/client/write.json
[
  {
    "id": "6e9d06b7.b6c5e8",
    "type": "tab",
    "label": "IIoT OPC UA Write",
    "disabled": false,
    "info": ""
  },
  {
    "id": "889bc76f.73329",
    "type": "OPCUA-IIoT-Write",
    "z": "6e9d06b7.b6c5e8",
    "connector": "e7696995.cf7358",
    "name": "",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": true,
    "x": 490,
    "y": 120,
    "wires": [
      [
        "7b20c48d.a6241c",
        "721055ca.eb4a94",
        "803e4b2d.8d8a78"
      ]
    ]
  },
  {
    "id": "1fad217d.a2f7d7",
    "type": "OPCUA-IIoT-Inject",
    "z": "6e9d06b7.b6c5e8",
    "injectType": "write",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "2",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "TestReadWrite",
    "addressSpaceItems": [
      {
        "name": "TestReadWrite",
        "nodeId": "ns=1;s=TestReadWrite",
        "datatypeName": "Double"
      }
    ],
    "x": 170,
    "y": 120,
    "wires": [
      [
        "1037a657.a17652"
      ]
    ]
  },
  {
    "id": "7b20c48d.a6241c",
    "type": "debug",
    "z": "6e9d06b7.b6c5e8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 670,
    "y": 180,
    "wires": []
  },
  {
    "id": "8fe4a64b.d52548",
    "type": "debug",
    "z": "6e9d06b7.b6c5e8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 490,
    "y": 180,
    "wires": []
  },
  {
    "id": "721055ca.eb4a94",
    "type": "OPCUA-IIoT-Response",
    "z": "6e9d06b7.b6c5e8",
    "name": "",
    "x": 680,
    "y": 120,
    "wires": [
      [
        "9bb7b25d.652c2"
      ]
    ]
  },
  {
    "id": "9bb7b25d.652c2",
    "type": "debug",
    "z": "6e9d06b7.b6c5e8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 850,
    "y": 120,
    "wires": []
  },
  {
    "id": "1037a657.a17652",
    "type": "data-generator",
    "z": "6e9d06b7.b6c5e8",
    "name": "dGen",
    "field": "valuesToWrite",
    "fieldType": "msg",
    "syntax": "json",
    "template": "[{{int 1 65000}}]",
    "x": 350,
    "y": 120,
    "wires": [
      [
        "889bc76f.73329",
        "8fe4a64b.d52548"
      ]
    ]
  },
  {
    "id": "273555bb.479d42",
    "type": "comment",
    "z": "6e9d06b7.b6c5e8",
    "name": "install node-red-node-data-generator",
    "info": "",
    "x": 350,
    "y": 70,
    "wires": []
  },
  {
    "id": "803e4b2d.8d8a78",
    "type": "OPCUA-IIoT-Read",
    "z": "6e9d06b7.b6c5e8",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "e7696995.cf7358",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "parseStrings": false,
    "x": 670,
    "y": 60,
    "wires": [
      [
        "6172bde8.bbc9a4"
      ]
    ]
  },
  {
    "id": "7c424683.b4f098",
    "type": "debug",
    "z": "6e9d06b7.b6c5e8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 1010,
    "y": 60,
    "wires": []
  },
  {
    "id": "6172bde8.bbc9a4",
    "type": "OPCUA-IIoT-Response",
    "z": "6e9d06b7.b6c5e8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 860,
    "y": 60,
    "wires": [
      [
        "7c424683.b4f098"
      ]
    ]
  },
  {
    "id": "e7696995.cf7358",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "LOCAL DEMO SERVER",
    "showStatusActivities": false,
    "showErrors": false,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false
  }
]
