examples/external/ua-cpp-demo-server.json
[
  {
    "id": "5534cf36.ce5a9",
    "type": "tab",
    "label": "UA CPP Demo Server",
    "disabled": false,
    "info": ""
  },
  {
    "id": "16a4cdef.faeefa",
    "type": "OPCUA-IIoT-Inject",
    "z": "5534cf36.ce5a9",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "10",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.Dynamic.Scalar.Double",
        "datatypeName": ""
      }
    ],
    "x": 130,
    "y": 140,
    "wires": [
      [
        "73953b37.1fe9fc",
        "806619ec.0d0a8"
      ]
    ]
  },
  {
    "id": "73953b37.1fe9fc",
    "type": "OPCUA-IIoT-Read",
    "z": "5534cf36.ce5a9",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "8adaed1.3c4441",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "historyDays": "",
    "x": 410,
    "y": 140,
    "wires": [
      [
        "551a1e2f.7defb8"
      ]
    ]
  },
  {
    "id": "551a1e2f.7defb8",
    "type": "OPCUA-IIoT-Response",
    "z": "5534cf36.ce5a9",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 140,
    "wires": [
      [
        "46a7bfc9.3ccc1"
      ]
    ]
  },
  {
    "id": "46a7bfc9.3ccc1",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 140,
    "wires": []
  },
  {
    "id": "b6292907.b90098",
    "type": "OPCUA-IIoT-Inject",
    "z": "5534cf36.ce5a9",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.BoilerDemo",
        "datatypeName": ""
      }
    ],
    "x": 120,
    "y": 240,
    "wires": [
      [
        "718cfec4.717d68"
      ]
    ]
  },
  {
    "id": "523681d0.144ca",
    "type": "OPCUA-IIoT-Read",
    "z": "5534cf36.ce5a9",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "8adaed1.3c4441",
    "name": "",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "historyDays": "",
    "x": 410,
    "y": 240,
    "wires": [
      [
        "208bf15d.b89d96",
        "b7c44f69.7e4e38"
      ]
    ]
  },
  {
    "id": "208bf15d.b89d96",
    "type": "OPCUA-IIoT-Response",
    "z": "5534cf36.ce5a9",
    "name": "",
    "compressStructure": false,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 580,
    "y": 280,
    "wires": [
      [
        "a4ef0f12.fed188"
      ]
    ]
  },
  {
    "id": "a4ef0f12.fed188",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 730,
    "y": 280,
    "wires": []
  },
  {
    "id": "718cfec4.717d68",
    "type": "OPCUA-IIoT-Browser",
    "z": "5534cf36.ce5a9",
    "connector": "8adaed1.3c4441",
    "nodeId": "",
    "name": "",
    "justValue": true,
    "sendNodesToRead": true,
    "sendNodesToListener": false,
    "sendNodesToBrowser": false,
    "singleBrowseResult": false,
    "recursiveBrowse": true,
    "recursiveDepth": "1",
    "delayPerMessage": "2",
    "showStatusActivities": false,
    "showErrors": true,
    "x": 260,
    "y": 240,
    "wires": [
      [
        "523681d0.144ca",
        "ef4e5919.743e7"
      ]
    ]
  },
  {
    "id": "36e130ea.cff94",
    "type": "OPCUA-IIoT-Inject",
    "z": "5534cf36.ce5a9",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 120,
    "y": 380,
    "wires": [
      [
        "782364aa.374dec"
      ]
    ]
  },
  {
    "id": "ddf13a76.d99168",
    "type": "OPCUA-IIoT-Read",
    "z": "5534cf36.ce5a9",
    "attributeId": "0",
    "maxAge": 1,
    "depth": 1,
    "connector": "8adaed1.3c4441",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "x": 390,
    "y": 380,
    "wires": [
      [
        "fc509de3.2b5aa8"
      ]
    ]
  },
  {
    "id": "fc509de3.2b5aa8",
    "type": "OPCUA-IIoT-Response",
    "z": "5534cf36.ce5a9",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 380,
    "wires": [
      [
        "7402d116.c6013"
      ]
    ]
  },
  {
    "id": "7402d116.c6013",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 380,
    "wires": []
  },
  {
    "id": "782364aa.374dec",
    "type": "OPCUA-IIoT-Browser",
    "z": "5534cf36.ce5a9",
    "connector": "8adaed1.3c4441",
    "nodeId": "ns=3;s=BuildingAutomation",
    "name": "",
    "justValue": false,
    "sendNodesToRead": true,
    "sendNodesToListener": false,
    "sendNodesToBrowser": false,
    "singleBrowseResult": false,
    "recursiveBrowse": true,
    "recursiveDepth": "1",
    "delayPerMessage": "3",
    "showStatusActivities": false,
    "showErrors": true,
    "x": 260,
    "y": 380,
    "wires": [
      [
        "ddf13a76.d99168"
      ]
    ]
  },
  {
    "id": "54029d3a.2f0cec",
    "type": "comment",
    "z": "5534cf36.ce5a9",
    "name": "BuildingAutomation",
    "info": "",
    "x": 290,
    "y": 340,
    "wires": []
  },
  {
    "id": "a78cc8aa.3ac388",
    "type": "comment",
    "z": "5534cf36.ce5a9",
    "name": "Demo.BoilerDemo",
    "info": "",
    "x": 290,
    "y": 200,
    "wires": []
  },
  {
    "id": "40c4c11f.eff17",
    "type": "OPCUA-IIoT-Inject",
    "z": "5534cf36.ce5a9",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 120,
    "y": 560,
    "wires": [
      [
        "bbecf2d1.4e19"
      ]
    ]
  },
  {
    "id": "c6cd343a.463238",
    "type": "OPCUA-IIoT-Response",
    "z": "5534cf36.ce5a9",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 560,
    "wires": [
      [
        "769d1edb.455d7"
      ]
    ]
  },
  {
    "id": "769d1edb.455d7",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 560,
    "wires": []
  },
  {
    "id": "bbecf2d1.4e19",
    "type": "OPCUA-IIoT-Browser",
    "z": "5534cf36.ce5a9",
    "connector": "8adaed1.3c4441",
    "nodeId": "ns=2;s=Demo.Events",
    "name": "",
    "justValue": true,
    "sendNodesToRead": true,
    "sendNodesToListener": true,
    "sendNodesToBrowser": false,
    "singleBrowseResult": false,
    "recursiveBrowse": true,
    "recursiveDepth": "2",
    "delayPerMessage": "",
    "showStatusActivities": false,
    "showErrors": true,
    "x": 260,
    "y": 560,
    "wires": [
      [
        "b4512e61.031678",
        "5c531fff.1ca66",
        "14de31b7.fb74ae"
      ]
    ]
  },
  {
    "id": "b4512e61.031678",
    "type": "OPCUA-IIoT-Listener",
    "z": "5534cf36.ce5a9",
    "connector": "8adaed1.3c4441",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "topic": "",
    "justValue": true,
    "useGroupItems": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 420,
    "y": 560,
    "wires": [
      [
        "c6cd343a.463238"
      ]
    ]
  },
  {
    "id": "89848c11.567d88",
    "type": "OPCUA-IIoT-Inject",
    "z": "5534cf36.ce5a9",
    "injectType": "write",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.Dynamic.Scalar.Boolean",
        "datatypeName": "Boolean"
      },
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.Dynamic.Scalar.Double",
        "datatypeName": "Double"
      },
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.Dynamic.Scalar.DateTime",
        "datatypeName": "DateTime"
      },
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.Dynamic.Scalar.Float",
        "datatypeName": "Float"
      }
    ],
    "x": 120,
    "y": 660,
    "wires": [
      [
        "acc673c4.18aa38"
      ]
    ]
  },
  {
    "id": "b590f0f5.0d6a38",
    "type": "OPCUA-IIoT-Write",
    "z": "5534cf36.ce5a9",
    "connector": "8adaed1.3c4441",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "x": 410,
    "y": 680,
    "wires": [
      [
        "3d553710.342c38"
      ]
    ]
  },
  {
    "id": "3d553710.342c38",
    "type": "OPCUA-IIoT-Response",
    "z": "5534cf36.ce5a9",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 680,
    "wires": [
      [
        "be454f5c.a67d18"
      ]
    ]
  },
  {
    "id": "be454f5c.a67d18",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 680,
    "wires": []
  },
  {
    "id": "acc673c4.18aa38",
    "type": "function",
    "z": "5534cf36.ce5a9",
    "name": "values",
    "func": "msg.valuesToWrite = [\n false,\n 34006.66,\n new Date(),\n 27.88\n]\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 660,
    "wires": [
      [
        "b590f0f5.0d6a38",
        "73ada102.335668"
      ]
    ]
  },
  {
    "id": "8cc1c29.e26d7c",
    "type": "OPCUA-IIoT-Inject",
    "z": "5534cf36.ce5a9",
    "injectType": "write",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.Dynamic.Scalar.Boolean",
        "datatypeName": "Boolean"
      },
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.Dynamic.Scalar.Double",
        "datatypeName": "Double"
      },
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.Dynamic.Scalar.DateTime",
        "datatypeName": "DateTime"
      },
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.Dynamic.Scalar.Float",
        "datatypeName": "Float"
      }
    ],
    "x": 120,
    "y": 700,
    "wires": [
      [
        "fa3c36a2.203aa8"
      ]
    ]
  },
  {
    "id": "fa3c36a2.203aa8",
    "type": "function",
    "z": "5534cf36.ce5a9",
    "name": "values",
    "func": "msg.valuesToWrite = [\n true,\n 33007.77,\n new Date(),\n 23.44\n]\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 700,
    "wires": [
      [
        "b590f0f5.0d6a38",
        "73ada102.335668"
      ]
    ]
  },
  {
    "id": "c51fe7d5.56bf9",
    "type": "comment",
    "z": "5534cf36.ce5a9",
    "name": "Demo.Events listening",
    "info": "",
    "x": 300,
    "y": 460,
    "wires": []
  },
  {
    "id": "9b204345.336558",
    "type": "OPCUA-IIoT-Inject",
    "z": "5534cf36.ce5a9",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 120,
    "y": 40,
    "wires": [
      [
        "83276959.832818"
      ]
    ]
  },
  {
    "id": "83276959.832818",
    "type": "OPCUA-IIoT-Browser",
    "z": "5534cf36.ce5a9",
    "connector": "8adaed1.3c4441",
    "nodeId": "ns=2;s=Demo",
    "name": "",
    "justValue": false,
    "sendNodesToRead": false,
    "sendNodesToListener": false,
    "sendNodesToBrowser": false,
    "singleBrowseResult": false,
    "recursiveBrowse": true,
    "recursiveDepth": "1",
    "delayPerMessage": "1",
    "showStatusActivities": false,
    "showErrors": true,
    "x": 380,
    "y": 40,
    "wires": [
      [
        "a3685e09.ddd94"
      ]
    ]
  },
  {
    "id": "4fa18283.74d294",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 40,
    "wires": []
  },
  {
    "id": "806619ec.0d0a8",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 410,
    "y": 100,
    "wires": []
  },
  {
    "id": "ef4e5919.743e7",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 410,
    "y": 300,
    "wires": []
  },
  {
    "id": "5c531fff.1ca66",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 410,
    "y": 620,
    "wires": []
  },
  {
    "id": "73ada102.335668",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 410,
    "y": 740,
    "wires": []
  },
  {
    "id": "14de31b7.fb74ae",
    "type": "OPCUA-IIoT-Read",
    "z": "5534cf36.ce5a9",
    "attributeId": "0",
    "maxAge": 1,
    "depth": 1,
    "connector": "8adaed1.3c4441",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "x": 410,
    "y": 500,
    "wires": [
      [
        "2e7bba6e.92bb4e"
      ]
    ]
  },
  {
    "id": "2e7bba6e.92bb4e",
    "type": "OPCUA-IIoT-Response",
    "z": "5534cf36.ce5a9",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 500,
    "wires": [
      [
        "ce6f700f.3d2738"
      ]
    ]
  },
  {
    "id": "ce6f700f.3d2738",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 500,
    "wires": []
  },
  {
    "id": "99e2e147.af4ce",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 840,
    "wires": []
  },
  {
    "id": "e0a0b45b.3fa3",
    "type": "OPCUA-IIoT-Event",
    "z": "5534cf36.ce5a9",
    "eventType": "BaseEventType",
    "eventTypeLabel": "BaseEventType (i=2041)",
    "queueSize": "1000",
    "usingListener": true,
    "name": "Base Events",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 270,
    "y": 840,
    "wires": [
      [
        "4b5ad7d3.302ae"
      ]
    ]
  },
  {
    "id": "74127b2d.573ab4",
    "type": "OPCUA-IIoT-Inject",
    "z": "5534cf36.ce5a9",
    "injectType": "listen",
    "payload": "500",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "events",
    "addressSpaceItems": [
      {
        "name": "Server",
        "nodeId": "ns=0;i=2253",
        "datatypeName": ""
      }
    ],
    "x": 110,
    "y": 840,
    "wires": [
      [
        "e0a0b45b.3fa3",
        "864639ce.d0371"
      ]
    ]
  },
  {
    "id": "4b5ad7d3.302ae",
    "type": "OPCUA-IIoT-Listener",
    "z": "5534cf36.ce5a9",
    "connector": "8adaed1.3c4441",
    "action": "events",
    "queueSize": "100",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 420,
    "y": 840,
    "wires": [
      [
        "22bbd700.d6f162"
      ]
    ]
  },
  {
    "id": "864639ce.d0371",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 250,
    "y": 800,
    "wires": []
  },
  {
    "id": "22bbd700.d6f162",
    "type": "OPCUA-IIoT-Response",
    "z": "5534cf36.ce5a9",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 840,
    "wires": [
      [
        "99e2e147.af4ce"
      ]
    ]
  },
  {
    "id": "852b2c5f.afd95",
    "type": "comment",
    "z": "5534cf36.ce5a9",
    "name": "server events",
    "info": "",
    "x": 410,
    "y": 800,
    "wires": []
  },
  {
    "id": "22dafb3f.9bf884",
    "type": "OPCUA-IIoT-Listener",
    "z": "5534cf36.ce5a9",
    "connector": "8adaed1.3c4441",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "topic": "",
    "justValue": true,
    "useGroupItems": false,
    "showStatusActivities": false,
    "showErrors": true,
    "x": 340,
    "y": 920,
    "wires": [
      [
        "a4021776.79afb"
      ]
    ]
  },
  {
    "id": "12ac873e.d7ac81",
    "type": "OPCUA-IIoT-Inject",
    "z": "5534cf36.ce5a9",
    "injectType": "listen",
    "payload": "1000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "listen",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.Dynamic.Scalar.Boolean",
        "datatypeName": ""
      },
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.Dynamic.Scalar.Double",
        "datatypeName": ""
      },
      {
        "name": "",
        "nodeId": "ns=2;s=Demo.Dynamic.Scalar.Int16",
        "datatypeName": ""
      }
    ],
    "x": 110,
    "y": 920,
    "wires": [
      [
        "22dafb3f.9bf884"
      ]
    ]
  },
  {
    "id": "d4c61f26.e42838",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 920,
    "wires": []
  },
  {
    "id": "a4021776.79afb",
    "type": "OPCUA-IIoT-Response",
    "z": "5534cf36.ce5a9",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 920,
    "wires": [
      [
        "d4c61f26.e42838"
      ]
    ]
  },
  {
    "id": "a3685e09.ddd94",
    "type": "OPCUA-IIoT-Response",
    "z": "5534cf36.ce5a9",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 570,
    "y": 40,
    "wires": [
      [
        "4fa18283.74d294"
      ]
    ]
  },
  {
    "id": "891660a.603922",
    "type": "OPCUA-IIoT-Method-Caller",
    "z": "5534cf36.ce5a9",
    "connector": "8adaed1.3c4441",
    "objectId": "ns=2;s=Demo.Method",
    "methodId": "ns=2;s=Demo.Method.Multiply",
    "methodType": "basic",
    "value": "",
    "justValue": true,
    "name": "Demo.Method.Multiply",
    "showStatusActivities": false,
    "showErrors": false,
    "inputArguments": [
      {
        "name": "a",
        "dataType": "Double",
        "value": "2"
      },
      {
        "name": "b",
        "dataType": "Double",
        "value": "3"
      }
    ],
    "x": 380,
    "y": 1020,
    "wires": [
      [
        "b704a569.52afa"
      ]
    ]
  },
  {
    "id": "5bcfea4d.62704c",
    "type": "OPCUA-IIoT-Inject",
    "z": "5534cf36.ce5a9",
    "injectType": "listen",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "call",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=1;s=Double",
        "datatypeName": ""
      }
    ],
    "x": 110,
    "y": 1020,
    "wires": [
      [
        "891660a.603922"
      ]
    ]
  },
  {
    "id": "49a02af5.603e0c",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 1120,
    "wires": []
  },
  {
    "id": "23f631f6.5ab256",
    "type": "OPCUA-IIoT-Response",
    "z": "5534cf36.ce5a9",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 760,
    "y": 1120,
    "wires": [
      [
        "49a02af5.603e0c"
      ]
    ]
  },
  {
    "id": "b7c44f69.7e4e38",
    "type": "OPCUA-IIoT-Response",
    "z": "5534cf36.ce5a9",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 590,
    "y": 220,
    "wires": [
      [
        "9f6a8674.7a0b68"
      ]
    ]
  },
  {
    "id": "9f6a8674.7a0b68",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 730,
    "y": 220,
    "wires": []
  },
  {
    "id": "50eda7e9.2ce218",
    "type": "debug",
    "z": "5534cf36.ce5a9",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 1060,
    "wires": []
  },
  {
    "id": "f73bc8bc.4fc938",
    "type": "OPCUA-IIoT-Response",
    "z": "5534cf36.ce5a9",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 770,
    "y": 1060,
    "wires": [
      [
        "50eda7e9.2ce218"
      ]
    ]
  },
  {
    "id": "98b3522a.4785",
    "type": "OPCUA-IIoT-Method-Caller",
    "z": "5534cf36.ce5a9",
    "connector": "8adaed1.3c4441",
    "objectId": "ns=2;s=Demo.BoilerDemo.Boiler1",
    "methodId": "ns=2;s=Demo.BoilerDemo.Boiler1.Fill",
    "methodType": "basic",
    "value": "",
    "justValue": true,
    "name": "Boiler1.Fill",
    "showStatusActivities": false,
    "showErrors": false,
    "inputArguments": [
      {
        "name": "SetPoint",
        "dataType": "Double",
        "value": "12"
      }
    ],
    "x": 350,
    "y": 1080,
    "wires": [
      [
        "b704a569.52afa"
      ]
    ]
  },
  {
    "id": "f69fd337.29b468",
    "type": "OPCUA-IIoT-Inject",
    "z": "5534cf36.ce5a9",
    "injectType": "listen",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "call",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=1;s=Double",
        "datatypeName": ""
      }
    ],
    "x": 110,
    "y": 1080,
    "wires": [
      [
        "98b3522a.4785"
      ]
    ]
  },
  {
    "id": "7234f747.5104b",
    "type": "OPCUA-IIoT-Method-Caller",
    "z": "5534cf36.ce5a9",
    "connector": "8adaed1.3c4441",
    "objectId": "ns=2;s=Demo.BoilerDemo.Boiler1",
    "methodId": "ns=2;s=Demo.BoilerDemo.Boiler1.Heat",
    "methodType": "basic",
    "value": "",
    "justValue": true,
    "name": "Boiler1.Heat",
    "showStatusActivities": false,
    "showErrors": false,
    "inputArguments": [
      {
        "name": "SetPoint",
        "dataType": "Double",
        "value": "90"
      }
    ],
    "x": 350,
    "y": 1140,
    "wires": [
      [
        "b704a569.52afa"
      ]
    ]
  },
  {
    "id": "ce0bea57.760008",
    "type": "OPCUA-IIoT-Inject",
    "z": "5534cf36.ce5a9",
    "injectType": "listen",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "call",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=1;s=Double",
        "datatypeName": ""
      }
    ],
    "x": 110,
    "y": 1140,
    "wires": [
      [
        "7234f747.5104b"
      ]
    ]
  },
  {
    "id": "b704a569.52afa",
    "type": "function",
    "z": "5534cf36.ce5a9",
    "name": "Thru",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 1080,
    "wires": [
      [
        "f73bc8bc.4fc938",
        "23f631f6.5ab256"
      ]
    ]
  },
  {
    "id": "8adaed1.3c4441",
    "type": "OPCUA-IIoT-Connector",
    "z": "5534cf36.ce5a9",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://192.168.1.131:48010/",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "Unified Automation Cpp Demo Server",
    "showErrors": true,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false,
    "strategyMaxRetry": "",
    "strategyInitialDelay": "",
    "strategyMaxDelay": "",
    "strategyRandomisationFactor": "",
    "requestedSessionTimeout": "",
    "connectionStartDelay": "",
    "reconnectDelay": ""
  }
]
